<div class="popup-navigation js-popup-navigation" data-popup-content role="menu">
    <div class="popup-navigation__head pt-20 pb-10 px-10 d-lg-none">
        <div class="container">
            {% comment %} <button type="button" id="closeMenu" class="popup-navigation__button d-flex align-items-center" data-js-popup-navigation-button="close"
                aria-label="close menu">
                <i class="popup-navigation__close cursor-pointer" data-js-popup-close data-button-content="close">{% render 'icon-theme-164' %}</i>
                <i class="popup-navigation__back cursor-pointer d-lg-none" data-button-content="back">{% render 'icon-theme-012' %}</i>
            </button> {% endcomment %}
            <button type="button" id="closeMenu" class="popup-navigation__button d-flex align-items-center" data-js-popup-navigation-button="close"
                aria-label="close menu" data-js-popup-close data-button-content="close">
                <i class="popup-navigation__close cursor-pointer" data-js-popup-close data-button-content="close">{% render 'icon-theme-164' %}</i>
            </button>
            <button type="button" id="backMenu" class="popup-navigation__button d-flex align-items-center" data-js-popup-navigation-button="close"
                aria-label="back" data-button-content="back">
                <i class="popup-navigation__back cursor-pointer d-lg-none" data-button-content="back">{% render 'icon-theme-012' %}</i>
            </button>
        </div>
    </div>
    {%- if settings.search_show -%}
        <div class="popup-navigation__search search pt-lg-25 pb-lg-35 px-10 px-lg-0{% if settings.search_ajax %} js-popup-search-ajax{% endif %}" data-js-max-products="6">
            <div class="container">
                <div class="d-none d-lg-flex align-items-lg-center mb-5 mb-lg-10">
                    <p class="m-0">{{ 'general.search.title' | t }}</p>
                    <i class="search__close ml-auto cursor-pointer" data-js-popup-close>{% render 'icon-theme-164' %}</i>
                </div>
                <form class="position-relative d-flex align-items-center pb-5 pb-lg-15 mb-0 border-bottom" action="{{ routes.search_url }}" method="get" role="search">
                    {%- if settings.search_show_only_products == true -%}
                        <input type="hidden" name="type" value="product" />
                    {%- endif -%}
                    <input type="search" class="border-0 p-0 mb-0" name="q" id="Search" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}">
                    <input type="hidden" name="options[prefix]" value="last" />
                    <label class="position-absolute right-0 mb-0 mr-0 m-lg-0 cursor-pointer" for="Search"><i>{% render 'icon-theme-168' %}</i></label>
                </form>
                <div class="search__content">
                    <div class="search__result row pt-10 pt-lg-0 mt-20 mt-lg-30 d-none-important"></div>
                    <div class="search__view-all pb-20 pb-lg-0 mt-20 mt-lg-10 d-none-important">
                        <a href="{{ routes.search_url }}" class="btn-link">{{ 'general.popups.search.view_all_products' | t }}</a>
                    </div>
                </div>
                <p class="search__empty pb-20 pb-lg-0 mt-20 mt-lg-30 mb-0 d-none-important"><a href="{{ routes.search_url }}" class="btn-link">{{ 'general.popups.search.empty_html' | t }}</a></p>
            </div>
        </div>
    {%- endif -%}
    <div class="popup-navigation__menu px-0 d-lg-none" data-js-menu-mobile>
        <div class="container px-0" data-js-position-mobile="vertical-menu"></div>
    </div>
    {% comment %} <div class="popup-navigation__menu d-lg-none{% if settings.search_show %} pt-25{% endif %} pb-25 px-10" data-js-menu-mobile>
        <div class="container" data-js-position-mobile="menu"></div>
        {% comment %} <div class="container" data-js-position-mobile="menu2"></div>{% endcomment %}
    </div> {% endcomment %}
    <div class="popup-navigation__currency d-lg-none px-10" data-js-position-mobile="currencies"></div>
    <div class="popup-navigation__currency d-lg-none px-10" data-js-position-mobile="languages"></div>
</div>