<div class="popup-cart js-popup-cart-ajax" role="dialog" aria-modal="true" data-popup-content>
    <div class="popup-cart__head py-25 px-20 d-flex align-items-center">
        <h5 class="m-0">{{ 'general.popups.cart.title' | t }}</h5>
      <div style="display: flex;
    align-items: center;
    gap: 10px;">
 <span>{{ 'general.popups.cart.count' | t: count: cart.item_count }} Items</span>
         <i class="popup-cart__close ml-auto cursor-pointer" data-js-popup-close tabindex="0" role="button" aria-label="close">
            {% render 'icon-theme-164' %}
        </i>
      </div>
       
    </div>
    {% comment %} {% for attribute in cart.attributes %}
        <div>attributes: {{ attribute | json }}</div>
    {% endfor  %} {% endcomment %}
    {%- if cart.items.size > 0 -%}
        {%- if settings.popup_cart_html_location != "disabled" and settings.popup_cart_html_content != "" -%}
            {% capture popup_cart_custom_html %}
                <div class="cart-message">{{ settings.popup_cart_html_content }}</div>
            {% endcapture %}
        {%- endif -%}
        <div class="popup-cart__content py-25 px-20">
            <div class="popup-cart__items">
                {%- for item in cart.items -%}
                    {%- assign type = item.product.type | downcase -%}
                    {%- unless type == "insurance" -%}
                        {% include 'product-cart' with disable_lazyload: disable_lazyload %}
                    {%- endunless -%}
                {%- endfor -%}
            </div>
            <div class="popup-cart__footer bottom-0 border-top pb-20">
              <div class="upsell-content">
                  <h4>Buy any shoe and get 50% Off on Select styles</h4>
                <p>Add these select styles to your cart to avail offer</p>
              </div>
               {%- unless settings.popup_cart_upsell_collection == blank -%}
                     <div class="upsell-product">
                         {% include 'upsell-product' %}
                     </div>
                {%- endunless -%}
              <div class="popup-cart-footer-content">
                {%- if cart.cart_level_discount_applications.size > 0 -%}
                    <div class="popup-cart__discounts">
                        {%- for discount_application in cart.cart_level_discount_applications -%}
                            <div class="popup-cart__discount h6 d-flex align-items-center my-10">
                                <span class="d-flex align-items-center mr-10">
                                    <i class="mt-2 mr-6">{% include 'icon-theme-137' %}</i> <span>{{ discount_application.title | upcase }}</span>
                                </span>
                                <span class="h5 d-flex align-items-center mb-0 ml-auto">
                                    <span class="mb-2">-</span><span>{% include 'product-get-price' with price: discount_application.total_allocated_amount %}</span>
                                </span>
                            </div>
                        {%- endfor -%}
                    </div>
                {%- endif -%}
                {%- if cart.total_discounts > 0 and cart.cart_level_discount_applications.size > 1 -%}
                    <div class="popup-cart__discounts">
                        <div class="popup-cart__discount h6 d-flex align-items-center my-10">
                            <span class="d-flex align-items-center mr-10">
                                {{ 'cart.general.savings' | t }}
                            </span>
                            <span class="h5 d-flex align-items-center mb-0 ml-auto">
                                {% include 'product-get-price' with price: cart.total_discounts %}
                            </span>
                        </div>
                    </div>
                {%- endif -%}
                {%- if settings.popup_cart_html_location == "above_subtotal" -%}{{ popup_cart_custom_html }}{%- endif -%}
                <div class="popup-cart__subtotal h5 d-flex align-items-center mt-20 mb-10">
                    <p class="m-0">{{ 'general.popups.cart.subtotal' | t }}</p>
                    <span class="ml-auto">
                        {% include 'product-get-price' with price: cart.total_price %}
                    </span>
                </div>
                {% comment %} <div id="onward-container" class="mt-20"></div> {% endcomment %}
                {%- if settings.cart_show_free_shipping -%}
                    <div class="popup-cart__free-shipping my-20">
                        {% render 'free-shipping' %}
                    </div>
                {%- endif -%}
                {%- if settings.popup_cart_html_location == "above_checkout_button" -%}{{ popup_cart_custom_html }}{%- endif -%}
                <div class="popup-cart__buttons mt-15">
                    {%- if settings.popup_cart_checkout_button_color_override -%}
                        {%- assign buttonStyle = 'style="height: 43px;font-size: 16px;border-width: 0px; color:' | append: settings.popup_cart_checkout_button_text_color | append: ';background:' | append: settings.popup_cart_checkout_button_color | append: '"' -%}
                    {%- endif -%}
                    <a href="{{ routes.root_url }}{% if routes.root_url != '/' %}/{% endif %}checkout" {{ buttonStyle }} class="btn btn--full btn--secondary checkout-button">{{ 'general.popups.cart.button_to_checkout' | t }}</a>
                    {%-  if settings.popup_cart_hide_view_cart_button == false -%}
                        <a href="{{ routes.cart_url }}" class="btn btn--full mt-10">{{ 'general.popups.cart.button_to_cart' | t }}</a>    
                    {%- endif -%}
                </div>
                {%- if settings.popup_cart_html_location == "below_checkout_button" -%}{{ popup_cart_custom_html }}{%- endif -%}
              </div>
            </div>
        </div>
       
    {%- else -%}
        <div class="popup-cart__empty py-25 px-20  mt-20">
          <div class="popup-cart__empty-content">
            <img src="https://cdn.shopify.com/s/files/1/0291/3724/0142/files/cart-empty.png?v=1742583266" alt="empty-cart"/>
            <h3>{{ settings.empty_cart_title }}</h3>
            <p>{{ settings.empty_cart_paragraph }}</p>
            <a href="{{ settings.empty_cart_button_url }}" class="btn">{{ settings.empty_cart_button_text }}</a> 
          </div>
        </div>
        {% comment %} {% for attribute in cart.attributes %}
            <div>attributes: {{ attribute | json }}</div>
        {% endfor  %} {% endcomment %}
        
    {%- endif -%}
    <div style="position: absolute;bottom: 5px;right: 5px;font-size: 8px;color: #ddd;">
        {%- for attr in cart.attributes -%}
            <span> {{ attr[0] | slice: 0,2 }}:{{ attr[1] | slice: 0,2 }} </span>
        {%- endfor -%}
        </div>
</div>