{% comment %} GALES using template_layout = 4 {% endcomment %}
{% comment %} STAND using template_layout = 2 {% endcomment %}
<!-- snippets/product-page-get-main.liquid -->
<!-- template_layout = {{ template_layout }} -->
{%- assign ptags = product.tags | join: ',' | downcase -%}
{%- if template_layout == '3' or template_layout == '4' or settings.product_info_enable_sticky_gallery -%}
    {%- assign enable_sticky_gallery = true -%}
{%- endif -%}
{%- assign gallery_size = section.settings.gallery_size | default: '6' | abs -%}
{%- if ptags contains 'wholesale-template' -%}
    {% include 'wholesale-get-options' %}
{%- elsif template_layout == '1' -%}
    <single-product class="product-page-main d-block"{% include 'product-get-attributes' %} data-js-product-clone-id="footbar">
        <div class="row">
            <div class="col-12 col-md-{{ gallery_size }}{% if reverse %} order-md-1{% endif %}{% if enable_sticky_gallery %} index-10 sticky-sidebar js-sticky-sidebar{% endif %}">
                {%- if enable_sticky_gallery -%}
                    <div data-js-sticky-sidebar-body{% if is_quick_view %} data-js-disable-offsets{% endif %}>
                {%- endif -%}
                        {% include 'product-page-get-gallery' %}
                {%- if enable_sticky_gallery -%}
                    </div>
                {%- endif -%}
            </div>
            <div class="col-12 col-md-{{ 12 | minus: gallery_size }}">
                {%- if ptags contains 'wholesale-giftcodes' -%}
                    {%- include 'wholesale-giftcodes-get-options' -%}
                {%- else -%}
                    {% include 'product-page-get-info' %}
                {%- endif -%}
            </div>
        </div>
    </single-product>
{%- elsif template_layout == '2' -%}
    <single-product class="product-page-main d-block"{% include 'product-get-attributes' %} data-js-product-clone-id="footbar">
        <div class="row">
            {%- if section.settings.top_title_price_mobile -%}
                <div class="mobile-product-title-price d-none my-10">
                    {%- if settings.product_info_show_title -%}
                        <div class="product-page-info__title {% unless centered %} text-md-left{% endunless %}">
                            {%- if is_quick_view -%}
                                <a href="{{ url }}">{{ title }}</a>
                            {%- else -%}
                                <h1 class="m-0">{{ title }}</h1>
                                {%- if product.metafields.furnace.subtitle != blank -%}
                                    <h3 class="m-0 product-subtitle">{{ product.metafields.furnace.subtitle }}</h3>
                                {%- endif -%}
                                <div class="topReviewPreview">
                                    <div class='jdgm-widget jdgm-preview-badge' data-id='{{ product.id }}'> 
                                        {{ product.metafields.judgeme.badge }} 
                                    </div> 
                                </div>
                            {%- endif -%}
                        </div>
                    {%- endif -%}
                    {% include 'price-info' %}
                </div>
            {%- endif -%}
            <div class="col-12 col-md-{{ gallery_size }}{% if enable_sticky_gallery %} index-10 sticky-sidebar js-sticky-sidebar{% endif %}">
                {%- if enable_sticky_gallery -%}
                    <div data-js-sticky-sidebar-body{% if is_quick_view %} data-js-disable-offsets{% endif %}>
                {%- endif -%}
                        {% include 'product-page-get-gallery' %}
                {%- if enable_sticky_gallery -%}
                    </div>
                {%- endif -%}
            </div>
            <div class="col-12 col-md-{{ 12 | minus: gallery_size }}">
                {%- if ptags contains 'wholesale-giftcodes' -%}
                    {%- include 'wholesale-giftcodes-get-options' -%}
                {%- else -%}
                    {% include 'product-page-get-info' %}
                {%- endif -%}
                {%- if section.settings.show_tabs -%}
                    {% render 'er-iconography', blocks: section.blocks %}
                    <div class="product-page__tabs mt-30 mb-40">
                        {% include 'product-page-get-tabs' %}
                        <style>
                            .customReviewPreview .jdgm-prev-badge__stars::before {
                                content: "{{ product.metafields.reviews.rating.value }}";
                                font-weight: 700;
                            }
                        </style>
                        <div class="customReviewPreview mt-30">
                            <div class='jdgm-widget jdgm-preview-badge' data-id='{{ product.id }}'> 
                                {{ product.metafields.judgeme.badge }} 
                            </div> 
                        </div>
                    </div>
                {%- endif -%}
            </div>
        </div>
    </single-product>
{%- elsif template_layout == '3' -%}
    <single-product class="product-page-main d-block"{% include 'product-get-attributes' %} data-js-product-clone-id="footbar">
        <div class="row">
            <div class="col-12 col-md-{{ gallery_size }}{% if enable_sticky_gallery %} index-10 sticky-sidebar js-sticky-sidebar{% endif %}">
                {%- if enable_sticky_gallery -%}
                    <div data-js-sticky-sidebar-body{% if is_quick_view %} data-js-disable-offsets{% endif %}>
                {%- endif -%}
                        {% include 'product-page-get-gallery' %}
                {%- if enable_sticky_gallery -%}
                    </div>
                {%- endif -%}
            </div>
            <div class="col-12 col-md-{{ 12 | minus: gallery_size }}{% if enable_sticky_gallery %} sticky-sidebar js-sticky-sidebar{% endif %}">
                {%- if enable_sticky_gallery -%}
                    <div data-js-sticky-sidebar-body{% if is_quick_view %} data-js-disable-offsets{% endif %}>
                {%- endif -%}
                        {%- if ptags contains 'wholesale-giftcodes' -%}
                            {%- include 'wholesale-giftcodes-get-options' -%}
                        {%- else -%}
                            {% include 'product-page-get-info' %}
                        {%- endif -%}

                        {%- if section.settings.show_tabs -%}
                            <div class="product-page__tabs mt-30 pb-40">
                                {% include 'product-page-get-tabs' %}
                            </div>
                        {%- endif -%}
                {%- if enable_sticky_gallery -%}
                    </div>
                {%- endif -%}
            </div>
        </div>
    </single-product>
{%- elsif template_layout == '4' -%}
    {% comment %} <div> Product data: {{ product | json }}</div> {% endcomment %}
    {% unless ptags contains 'wholesale-template' %}
        <single-product class="product-page-main d-block"{% include 'product-get-attributes' %} data-js-product-clone-id="footbar">
            <div class="row">
                <div class="col-12 col-md-{{ gallery_size }}{% if enable_sticky_gallery %} index-10 sticky-sidebar js-sticky-sidebar{% endif %}">
                    {%- if enable_sticky_gallery -%}
                        <div data-js-sticky-sidebar-body{% if is_quick_view %} data-js-disable-offsets{% endif %}>
                    {%- endif -%}
                            {% include 'product-page-get-gallery' %}
                    {%- if enable_sticky_gallery -%}
                        </div>
                    {%- endif -%}
                </div>
                <div class="col-12 col-md-{{ 12 | minus: gallery_size }}{% if enable_sticky_gallery %} sticky-sidebar js-sticky-sidebar{% endif %}">
                    {%- if enable_sticky_gallery -%}
                        <div data-js-sticky-sidebar-body{% if is_quick_view %} data-js-disable-offsets{% endif %}>
                    {%- endif -%}
                    {%- if ptags contains 'wholesale-giftcodes' -%}
                        {%- include 'wholesale-giftcodes-get-options' -%}
                    {%- else -%}
                        {% include 'product-page-get-info' %}
                    {%- endif -%}
                    {%- if section.settings.show_tabs -%}
                        {% comment %} {% render 'er-estimated-delivery' %} {% endcomment %}
                        {% render 'er-iconography', blocks: section.blocks %}
                        <div class="product-page__tabs mt-30">
                            {% include 'product-page-get-tabs' %}
                            <div class="customReviewPreview mt-30">
                                <div class='jdgm-widget jdgm-preview-badge' data-id='{{ product.id }}'> 
                                    {{ product.metafields.judgeme.badge }} 
                                </div>
                                {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false, product: product %}
                            </div>
                        </div>
                    {%- endif -%}
                    {%- if enable_sticky_gallery -%}
                        </div>
                    {%- endif -%}
                </div>
            </div>
        </single-product>
        {% comment %} {%- if ptags contains 'wholesale' -%}
            {% render 'wholesale-loggedin' with apply: true %}
        {%- endif -%} {% endcomment %}
    {% endunless %}
    {% comment %} ADD Average Rating before Stars {% endcomment %}
	{% assign reviewsRating = product.metafields.reviews.rating %}
    {% comment %} {%- if ptags contains 'wholesale-template' -%}
        {% include 'wholesale-get-options' %}
    {% endif %} {% endcomment %}
    <style>
        .customReviewPreview .jdgm-prev-badge__stars:before {
            content: "{{ reviewsRating.value }}";
            font-weight: bold;
            padding-right: 10px;
        }
    </style>
{%- elsif template_layout == '5' -%}
    <single-product class="product-page-main d-block"{% include 'product-get-attributes' %} data-js-product-clone-id="footbar">
        {% include 'product-page-get-gallery' %}
        {%- if ptags contains 'wholesale-giftcodes' -%}
            {%- include 'wholesale-giftcodes-get-options' -%}
        {%- else -%}
            {% include 'product-page-get-info' %}
        {%- endif -%}
    </single-product>
{%- endif -%}
{%- if enable_sticky_gallery -%}
    <script>
        theme.AssetsLoader.require('scripts', 'sticky_sidebar');
    </script>
{%- endif -%}