{%- if settings.product_format_pjpg -%}
    {%- assign image_format = 'pjpg' -%}
{%- else -%}
    {%- assign image_format = null -%}
{%- endif -%}
{%- if section.settings.override_default_height == true -%}
    {%- assign stretch_size = settings.product_collection_image_size -%}
    {%- assign height_procent = section.settings.product_collection_image_height_percent -%}
{%- elsif settings.product_collection_image_size != 'auto' -%}
    {%- assign stretch_size = settings.product_collection_image_size -%}
    {%- assign height_procent = settings.product_collection_image_height_percent -%}
{%- endif -%}
<a href="{{ url }}" class="d-block cursor-default" data-js-product-image>
    {%- capture image_id -%} data-image-id="{{ image.id }}"{%- endcapture -%}
    {% comment %} <div class="d-none">image_size: {{ image_size }}</div>
    <div class="d-none">image_format: {{ image_format }}</div>
    <div class="d-none">height_procent: {{ height_procent }}</div>
    <div class="d-none">stretch_size: {{ stretch_size }}</div> {% endcomment %}
    {% render 'rimage' with image: image size: image_size format: image_format height_procent: height_procent stretch_size: stretch_size alt: title attr: image_id disable_lazyload: disable_lazyload %}
</a>