{%- assign icon_class = null -%}
{%- assign type = type | default: 'row' -%}
{%- assign social_enable_tooltip = social_enable_tooltip | default: settings.tooltips_enable -%}
{%- if settings.tooltips_enable != true -%}
    {%- assign social_enable_tooltip = false %}
{%- endif -%}
<div class="social-media d-flex flex-wrap{% if type == 'column' %} flex-lg-column align-items-lg-start{% endif %} justify-content-center justify-content-lg-start">
    {% capture link_class %}mb-6 mx-10 mx-sm-15 mx-lg-0 mr-lg-{% if size == 'large' %}15{% elsif size == 'large-2' %}30{% elsif size == 'middle' %}15{% else %}10{% endif %}{% endcapture %}
    {% if type == 'column' %}{% capture icon_class %}mr-3{% endcapture %}{% endif %}
    {% if size == 'middle' %}{% capture icon_class %}{{ icon_class }}{% if icon_class != null %} {% endif %}icon-fs-md{% endcapture %}{% endif %}
    {% if size == 'large' %}{% capture icon_class %}{{ icon_class }}{% if icon_class != null %} {% endif %}icon-fs-lg{% endcapture %}{% endif %}
    {% if size == 'large-2' %}{% capture icon_class %}{{ icon_class }}{% if icon_class != null %} {% endif %}icon-fs-lg{% endcapture %}{% endif %}
    {% if icon_class != null %}{% capture icon_class %} class="{{ icon_class }}"{% endcapture %}{% endif %}
    {%- if block.settings.show_facebook != false and settings.social_facebook != blank -%}
        <a href="{{ settings.social_facebook }}" target="_blank" class="social-media__facebook d-flex align-items-center {{ link_class }}"
            aria-label="{{ 'general.social.names.facebook' | t }}"
            {% if social_enable_tooltip and type == 'row' %}
                data-js-tooltip
                data-tippy-content="{{ 'general.social.names.facebook' | t }}"
                data-tippy-placement="top"
                data-tippy-distance="6"
            {%- endif -%}
        >
            {% comment %} <i {{ icon_class }}>{% render 'icon-social-facebook' %}</i>{% if type == 'column' %} <span class="d-none d-lg-inline">{{ 'general.social.names.facebook' | t }}</span>{% endif %} {% endcomment %}
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                <path d="M25.6667 14C25.6667 7.56004 20.44 2.33337 14 2.33337C7.56004 2.33337 2.33337 7.56004 2.33337 14C2.33337 19.6467 6.34671 24.3484 11.6667 25.4334V17.5H9.33337V14H11.6667V11.0834C11.6667 8.83171 13.4984 7.00004 15.75 7.00004H18.6667V10.5H16.3334C15.6917 10.5 15.1667 11.025 15.1667 11.6667V14H18.6667V17.5H15.1667V25.6084C21.0584 25.025 25.6667 20.055 25.6667 14Z" fill="white"/>
            </svg>
        </a>
    {%- endif -%}
    {%- if block.settings.show_twitter != false and settings.social_twitter != blank -%}
        <a href="{{ settings.social_twitter }}" target="_blank" class="social-media__twitter d-flex align-items-center {{ link_class }}"
            aria-label="{{ 'general.social.names.twitter' | t }}"
            {% if social_enable_tooltip and type == 'row' %}
                data-js-tooltip
                data-tippy-content="{{ 'general.social.names.twitter' | t }}"
                data-tippy-placement="top"
                data-tippy-distance="6"
            {%- endif -%}
        >
            <i {{ icon_class }}>{% render 'icon-social-twitter' %}</i>{% if type == 'column' %} <span class="d-none d-lg-inline">{{ 'general.social.names.twitter' | t }}</span>{% endif %}
        </a>
    {%- endif -%}
    {%- if block.settings.show_instagram != false and settings.social_instagram != blank -%}
        <a href="{{ settings.social_instagram }}" target="_blank" class="social-media__instagram d-flex align-items-center {{ link_class }}"
            aria-label="{{ 'general.social.names.instagram' | t }}"
            {% if social_enable_tooltip and type == 'row' %}
                data-js-tooltip
                data-tippy-content="{{ 'general.social.names.instagram' | t }}"
                data-tippy-placement="top"
                data-tippy-distance="6"
            {%- endif -%}
        >
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
            <path d="M9.10004 2.33337H18.9C22.6334 2.33337 25.6667 5.36671 25.6667 9.10004V18.9C25.6667 20.6947 24.9538 22.4158 23.6848 23.6848C22.4158 24.9538 20.6947 25.6667 18.9 25.6667H9.10004C5.36671 25.6667 2.33337 22.6334 2.33337 18.9V9.10004C2.33337 7.30541 3.04629 5.58428 4.31528 4.31528C5.58428 3.04629 7.30541 2.33337 9.10004 2.33337ZM8.86671 4.66671C7.7528 4.66671 6.68451 5.10921 5.89686 5.89686C5.10921 6.68451 4.66671 7.7528 4.66671 8.86671V19.1334C4.66671 21.455 6.54504 23.3334 8.86671 23.3334H19.1334C20.2473 23.3334 21.3156 22.8909 22.1032 22.1032C22.8909 21.3156 23.3334 20.2473 23.3334 19.1334V8.86671C23.3334 6.54504 21.455 4.66671 19.1334 4.66671H8.86671ZM20.125 6.41671C20.5118 6.41671 20.8827 6.57035 21.1562 6.84384C21.4297 7.11733 21.5834 7.48827 21.5834 7.87504C21.5834 8.26181 21.4297 8.63275 21.1562 8.90624C20.8827 9.17973 20.5118 9.33337 20.125 9.33337C19.7383 9.33337 19.3673 9.17973 19.0938 8.90624C18.8204 8.63275 18.6667 8.26181 18.6667 7.87504C18.6667 7.48827 18.8204 7.11733 19.0938 6.84384C19.3673 6.57035 19.7383 6.41671 20.125 6.41671ZM14 8.16671C15.5471 8.16671 17.0309 8.78129 18.1248 9.87525C19.2188 10.9692 19.8334 12.4529 19.8334 14C19.8334 15.5471 19.2188 17.0309 18.1248 18.1248C17.0309 19.2188 15.5471 19.8334 14 19.8334C12.4529 19.8334 10.9692 19.2188 9.87525 18.1248C8.78129 17.0309 8.16671 15.5471 8.16671 14C8.16671 12.4529 8.78129 10.9692 9.87525 9.87525C10.9692 8.78129 12.4529 8.16671 14 8.16671ZM14 10.5C13.0718 10.5 12.1815 10.8688 11.5252 11.5252C10.8688 12.1815 10.5 13.0718 10.5 14C10.5 14.9283 10.8688 15.8185 11.5252 16.4749C12.1815 17.1313 13.0718 17.5 14 17.5C14.9283 17.5 15.8185 17.1313 16.4749 16.4749C17.1313 15.8185 17.5 14.9283 17.5 14C17.5 13.0718 17.1313 12.1815 16.4749 11.5252C15.8185 10.8688 14.9283 10.5 14 10.5Z" fill="white"/>
        </svg>
            {% comment %} <i {{ icon_class }}>{% render 'icon-social-instagram' %}</i>{% if type == 'column' %} <span class="d-none d-lg-inline">{{ 'general.social.names.instagram' | t }}</span>{% endif %} {% endcomment %}
        </a>
    {%- endif -%}
    {%- if block.settings.show_pinterest != false and settings.social_pinterest != blank -%}
        <a href="{{ settings.social_pinterest }}" target="_blank" class="social-media__pinterest d-flex align-items-center {{ link_class }}"
            aria-label="{{ 'general.social.names.pinterest' | t }}"
            {% if social_enable_tooltip and type == 'row' %}
                data-js-tooltip
                data-tippy-content="{{ 'general.social.names.pinterest' | t }}"
                data-tippy-placement="top"
                data-tippy-distance="6"
            {%- endif -%}
        >
            <i {{ icon_class }}>{% render 'icon-social-pinterest' %}</i>{% if type == 'column' %} <span class="d-none d-lg-inline">{{ 'general.social.names.pinterest' | t }}</span>{% endif %}
        </a>
    {%- endif -%}
    {%- if block.settings.show_youtube != false and settings.social_youtube != blank -%}
        <a href="{{ settings.social_youtube }}" target="_blank" class="social-media__youtube d-flex align-items-center {{ link_class }}"
            aria-label="{{ 'general.social.names.youtube' | t }}"
            {% if social_enable_tooltip and type == 'row' %}
                data-js-tooltip
                data-tippy-content="{{ 'general.social.names.youtube' | t }}"
                data-tippy-placement="top"
                data-tippy-distance="6"
            {%- endif -%}
        >
            {% comment %} <i {{ icon_class }}>{% render 'icon-social-youtube' %}</i>{% if type == 'column' %} <span class="d-none d-lg-inline">{{ 'general.social.names.youtube' | t }}</span>{% endif %} {% endcomment %}
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                <path d="M11.6 17.6654L17.828 14.0654L11.6 10.4654V17.6654ZM25.472 8.26941C25.628 8.83341 25.736 9.5894 25.808 10.5494C25.892 11.5094 25.928 12.3374 25.928 13.0574L26 14.0654C26 16.6934 25.808 18.6254 25.472 19.8614C25.172 20.9414 24.476 21.6374 23.396 21.9374C22.832 22.0934 21.8 22.2014 20.216 22.2734C18.656 22.3574 17.228 22.3934 15.908 22.3934L14 22.4654C8.972 22.4654 5.84 22.2734 4.604 21.9374C3.524 21.6374 2.828 20.9414 2.528 19.8614C2.372 19.2974 2.264 18.5414 2.192 17.5814C2.108 16.6214 2.072 15.7934 2.072 15.0734L2 14.0654C2 11.4374 2.192 9.50541 2.528 8.26941C2.828 7.18941 3.524 6.49341 4.604 6.19341C5.168 6.03741 6.2 5.92941 7.784 5.85741C9.344 5.77341 10.772 5.73741 12.092 5.73741L14 5.66541C19.028 5.66541 22.16 5.85741 23.396 6.19341C24.476 6.49341 25.172 7.18941 25.472 8.26941Z" fill="white"/>
            </svg>
        </a>
    {%- endif -%}
    {%- if block.settings.show_behance != false and settings.social_behance != blank -%}
        <a href="{{ settings.social_behance }}" target="_blank" class="social-media__behance d-flex align-items-center {{ link_class }}"
            aria-label="{{ 'general.social.names.behance' | t }}"
            {%- if social_enable_tooltip and type == 'row' %}
                data-js-tooltip
                data-tippy-content="{{ 'general.social.names.behance' | t }}"
                data-tippy-placement="top"
                data-tippy-distance="6"
            {%- endif -%}
        >
            <i {{ icon_class }}>{% render 'icon-social-behance' %}</i>{% if type == 'column' %} <span class="d-none d-lg-inline">{{ 'general.social.names.behance' | t }}</span>{% endif %}
        </a>
    {%- endif -%}
    {%- if block.settings.show_skype != false and settings.social_skype != blank -%}
        <a href="{{ settings.social_skype }}" target="_blank" class="social-media__skype d-flex align-items-center {{ link_class }}"
            aria-label="{{ 'general.social.names.skype' | t }}"
            {% if social_enable_tooltip and type == 'row' %}
                data-js-tooltip
                data-tippy-content="{{ 'general.social.names.skype' | t }}"
                data-tippy-placement="top"
                data-tippy-distance="6"
            {%- endif -%}
        >
            <i {{ icon_class }}>{% render 'icon-social-skype' %}</i>{% if type == 'column' %} <span class="d-none d-lg-inline">{{ 'general.social.names.skype' | t }}</span>{% endif %}
        </a>
    {%- endif -%}
</div>