<div data-section-id="{{ section.id }}" data-section-type="contact-form">
    <div class="container">
        <div class="contact-form">
            {%- if section.settings.title != blank -%}
                <h4 class="mb-35 text-center">{{ section.settings.title }}</h4>
            {%- endif -%}
            <div class="row">
                {%- if section.settings.show_info_column or section.settings.contact_map_code != blank -%}
                    <div class="col-12 col-md-4 mb-30">
                        {%- if section.settings.show_info_column -%}
                            {%- if section.settings.page_content != blank -%}
                                <div class="rte">
                                    {% include 'parse-page-html-content' with default_page: 'include-contact-form' page_content: section.settings.page_content %}
                                </div>
                                {%- assign has_content = true -%}
                            {%- elsif page.content -%}
                                <div class="rte">
                                    {% include 'parse-for-icons' content: page.content %}
                                </div>
                                {%- assign has_content = true -%}
                            {%- endif -%}
                        {%- endif -%}
                        <div{% if has_content %} class="mt-30"{% endif %}>
                            {%- if section.settings.contact_map_code != blank -%}
                                <div class="contact-map position-relative">
                                    {{ section.settings.contact_map_code }}
                                </div>
                            {%- endif -%}
                        </div>
                    </div>
                {%- endif -%}
                <div class="col-12 col-md-8 mx-auto">
                    <h3>{{ 'contact.form.title' | t }}</h3>
                    <p class="fs-lg">{{ 'contact.form.paragraph' | t }}</p>
                    {% form 'contact' %}
                        {%- if form.posted_successfully? -%}
                            <p class="form-success">{{ 'contact.form.post_success' | t }}</p>
                        {%- endif -%}
                        <div class="contact-form">
                            {%- if section.settings.show_input_label -%}
                                <label for="ContactFormName" class="label-required">{{ 'contact.form.name_title' | t }}</label>
                            {%- endif -%}
                            <input type="text"
                                name="contact[name]"
                                id="ContactFormName"
                                placeholder="{{ 'contact.form.name_placeholder' | t }}"
                                value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}"
                                required="required">
                            {%- if section.settings.show_input_label -%}
                                <label for="ContactFormEmail" class="label-required">{{ 'contact.form.email_title' | t }}</label>
                            {%- endif -%}
                            <input type="email"
                                name="contact[email]"
                                id="ContactFormEmail"
                                placeholder="{{ 'contact.form.email_placeholder' | t }}"
                                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                                spellcheck="false"
                                autocomplete="off"
                                autocapitalize="off"
                                required="required">
                            {%- if section.settings.show_phone_input -%}
                                {%- if section.settings.show_input_label -%}
                                    <label for="ContactFormPhone">{{ 'contact.form.phone_title' | t }}</label>
                                {%- endif -%}
                                <input type="tel"
                                class="form-control"
                                name="contact[phone]"
                                id="ContactFormPhone"
                                placeholder="{{ 'contact.form.phone_placeholder' | t }}"
                                value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                                required="required">
                            {%- endif -%}
                            {%- if section.settings.show_input_label -%}
                                <label for="ContactFormMessage" class="label-required">{{ 'contact.form.message_title' | t }}</label>
                            {%- endif -%}
                            <textarea rows="8"
                                    name="contact[body]"
                                    id="ContactFormMessage"
                                    placeholder="{{ 'contact.form.message_placeholder' | t }}"
                                    required="required">
                            {%- if form.body -%}
                                {{ form.body }}
                            {%- endif -%}
                            </textarea>
                            {% include 'form-get-message' %}
                            {% comment %} <div class="pt-10"> {% endcomment %}
                            <div>
                                <button type="submit" class="btn{% if section.settings.button_type == 'default' %} btn--secondary{% endif %}"><i class="mr-5">{% render 'icon-theme-196' %}</i>{{ 'contact.form.send' | t }}</button>
                            </div>
                        </div>
                    {% endform %}
                </div>
            </div>
        </div>
    </div>
</div>


{% schema %}
{
    "name": "Contact form",
    "settings": [
        {
            "type": "textarea",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "checkbox",
            "id": "show_input_label",
            "label": "Show input label",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_phone_input",
            "label": "Show Phone Input",
            "default": true
        },
        {
            "type": "select",
            "id": "button_type",
            "label": "Button type",
            "default": "default",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "invert",
                "label": "Invert"
              }
            ]
        },
        {
            "type": "header",
            "content": "Content"
        },
        {
            "type": "checkbox",
            "id": "show_info_column",
            "label": "Show info column",
            "default": true
        },
        {
            "type": "page",
            "id": "page_content",
            "label": "Page content",
            "info": "Default page: 'parse-page-html-content'"
        },
        {
            "type": "textarea",
            "id": "contact_map_code",
            "label": "Contact Map Code",
            "default": "<iframe width=\"600\" height=\"450\" frameborder=\"0\" style=\"border:0\" src=\"https://www.google.com/maps/embed/v1/place?key=AIzaSyBwY_0PWuwH_A5y4iwNAqpaUbUjRPySkFc%0A%20%20%20%20&q=7563%20St.%20Vicent%20Place,%20Glasgow\" allowfullscreen=\"\"></iframe>"
        },
        {
            "type": "header",
            "content": "Video manual"
        },
        {
            "type": "paragraph",
            "content": "[Home sections](https:\/\/www.youtube.com\/watch?v=QQ6wFwBts4k&list=PLj-506KaR_vcQjwcpC6yII-1JY0bSj7df&index=9)"
        },
        {
            "type": "header",
            "content": "User manual"
        },
        {
            "type": "paragraph",
            "content": "[Contact Form](https:\/\/mpthemes.net\/shella-shopify-theme\/documentation-version4\/doc02-06-home-contact-form.php#contact-form)"
        }
    ],
    "presets": [
        {
            "name": "Contact form",
            "category": "3) Static content"
        }
    ]
}
{% endschema %}