{%- if section.blocks.size > 0 -%}
  {% include 'global-variables' %}
  {%- unless section.settings.show_price -%}
    {%- assign section_hide_price = true -%}
  {%- endunless -%}
  {%- assign get_carousel_products_async_ajax_loading = carousel_products_async_ajax_loading -%}
  {%- if request.design_mode -%}
    {%- assign is_design_mode = true -%}
    {%- assign get_carousel_products_async_ajax_loading = false -%}
  {%- endif -%}
  {%- assign get_carousel_products_async_ajax_loading = false -%}
  <div class="er-nurses-lp-productCarousel section-{{ section.id }}" 
  {%- for block in section.blocks -%}
    id="section-{{- block.settings.title -}}"
    >
  {%- endfor -%}
    <h2 class="er-nurses-lp-productCarousel-title">{{ section.settings.titleSection }}</h2>
    <div class="er-nurses-lp-productCarousel-flexSection">
      <carousel-products
        class="d-block"
        data-section-id="{{ section.id }}"
        data-section-type="carousel-products"
      >
        <div class="overflow-hidden{% if template.name == 'collection' %} pb-70 pb-lg-95{% endif %}">
          <div {% render 'layout-get-container-class', fullwidth_need_paddings: true %}>
            <div
              class="carousel{% if section.settings.arrows %} carousel--arrows{% endif %}{% if section.settings.container == 'fullwidth' %} carousel--fullwidth{% endif %} carousel-products position-relative"
              {% if get_carousel_products_async_ajax_loading == true %}
                data-carousel-ajax
              {% endif %}
            >
              <div
                class="carousel__head{% unless section.settings.show_title %} d-none{% endunless %} row justify-content-center mb-25"
                {% if section.blocks.size > 1 %}
                  data-carousel-control
                {% endif %}
              >
                {%- for block in section.blocks -%}
                  {%- if collections[block.settings.collection] != blank -%}
                    <h2 class="h4 carousel__title home-section-title home-section-title--multiple col-auto mw-100 mb-10 text-center">
                      <a
                        href="{{ collections[block.settings.collection].url }}"
                        {% if forloop.index == 1 %}
                          class="active"
                        {% endif -%}
                        data-collection="{{ collections[block.settings.collection].handle }}"
                      >
                        {%- if block.settings.title != blank -%}
                          {{- block.settings.title -}}
                        {%- else -%}
                          {{- collections[block.settings.collection].title -}}
                        {%- endif -%}
                      </a>
                    </h2>
                  {%- elsif forloop.index0 == 0 -%}
                    {% render 'no-blocks', message: 'homepage.onboarding.no_content_message.carousel_products' %}
                  {%- endif -%}
                {%- endfor -%}
              </div>
              <div class="er-nurses-lp-productCarousel-flexSection">
                <div class="er-nurses-lp-productCarousel-flexSection-productCarousel carousel__slider_wrapper position-relative">
                  <div
                    class="carousel__slider position-relative{% if get_carousel_products_async_ajax_loading == true %} invisible{% endif %} js-slider-tracking"
                    data-js-carousel
                    data-autoplay="{{ section.settings.autoplay }}"
                    data-speed="{{ section.settings.speed | times: 1000 }}"
                    data-count="{{ section.settings.size_of_columns }}"
                    data-infinite="{{ section.settings.infinite }}"
                    data-arrows="{{ section.settings.arrows }}"
                    data-bullets="{{ section.settings.bullets }}"
                    data-prefer-meta-name="{{ section.settings.prefer_meta_name }}"
                  >
                    {%- if section.settings.arrows -%}
                      <div
                        class="carousel__prev-placeholder position-absolute cursor-pointer"
                        data-js-carousel-prev
                      ></div>
                      <div class="carousel__prev position-absolute pointer-events-none" data-js-carousel-arrow>
                        <i>{% render 'icon-theme-006' %}</i>
                      </div>
                    {%- endif -%}
                    <div class="carousel__products overflow-hidden">
                      {%- for block in section.blocks limit: 1 -%}
                        {%- assign max_count = section.settings.max_count -%}
                        {%- assign limit = section.settings.size_of_columns | abs | at_most: max_count | plus: 1 -%}
                        {%- if is_design_mode -%}
                          {%- assign max_count = limit | plus: 1 -%}
                        {%- endif -%}
                        <div
                          class="carousel__slick row"
                          data-js-carousel-slick
                          data-carousel-items
                          data-max-count="{{ max_count }}"
                          data-products-pre-row="{{ section.settings.size_of_columns }}"
                          data-async-ajax-loading="{{ get_carousel_products_async_ajax_loading }}"
                        >
                          {%- for product in collections[block.settings.collection].products limit: max_count -%}
                            {%- if first_product == blank -%}
                              {%- assign first_product = product -%}
                            {%- endif -%}
                            {%- if get_carousel_products_async_ajax_loading != true -%}
                              {%- if forloop.index0 < limit -%}
                                <div
                                  class="carousel__item col-auto"
                                  {% if get_carousel_products_async_ajax_loading %}
                                    data-carousel-product-preloaddata-handle="{{ product.handle }}"
                                  {% endif %}
                                >
                                  {%- if get_carousel_products_async_ajax_loading == false -%}
                                    {%- assign disable_lazyload = carousel_products_image_lazyload_disable -%}
                                    {% include 'product-collection' with url_without_collection: true %}
                                  {%- endif -%}
                                </div>
                              {%- elsif forloop.index >= limit and forloop.last == true -%}
                                <div
                                  class="carousel__item col-auto"
                                  data-carousel-product-preload
                                  data-handle="{{ product.handle }}"
                                  data-meta-name="{{ product.metafields.furnace.product_name_override }}"
                                >
                                  {%- assign disable_lazyload = carousel_products_image_lazyload_disable -%}
                                  {% include 'product-collection' with url_without_collection: true %}
                                </div>
                              {%- else -%}
                                <div
                                  class="carousel__item col-auto"
                                  data-handle="{{ product.handle }}"
                                  data-meta-name="{{ product.metafields.furnace.product_name_override }}"
                                ></div>
                              {%- endif -%}
                            {%- endif -%}
                          {%- endfor -%}
                        </div>
                      {%- endfor -%}
                    </div>
                    {%- if section.settings.arrows -%}
                      <div
                        class="carousel__next-placeholder position-absolute cursor-pointer"
                        data-js-carousel-next
                      ></div>
                      <div class="carousel__next position-absolute pointer-events-none" data-js-carousel-arrow>
                        <i>{% render 'icon-theme-007' %}</i>
                      </div>
                    {%- endif -%}
                  </div>
                </div>
                <div class="er-nurses-lp-productCarousel-flexSection-contText">
                  {%- for block in section.blocks -%}
                    <p class="er-nurses-lp-productCarousel-flexSection-contText-title">
                      {{- block.settings.titleCarousel -}}
                    </p>
                    <div class="er-nurses-lp-productCarousel-flexSection-contText-text">
                      {{- block.settings.textCarousel -}}
                    </div>
                    <a
                      class="er-nurses-lp-productCarousel-flexSection-contText-link"
                      href="{{ block.settings.linkBtnCarousel }}"
                    >
                      {{- block.settings.textBtnCarousel -}}
                    </a>
                  {%- endfor -%}
                </div>
                {%- if get_carousel_products_async_ajax_loading == true -%}
                  <div class="carousel__spacer">
                    <div class="row">
                      <div class="col-6 col-md-4 col-xl-{{ 12 | divided_by: section.settings.size_of_columns }}">
                        <div
                          style="padding-top:{{ 1 | divided_by: first_product.images[0].aspect_ratio | times: 100 }}%;"
                        ></div>
                      </div>
                    </div>
                  </div>
                  {% include 'preloader-spinner' %}
                {%- endif -%}
              </div>
            </div>
          </div>
        </div>
      </carousel-products>
      <div class="er-nurses-lp-productCarousel-flexSection-contentText"></div>
    </div>
  </div>

  <script>
    theme.AssetsLoader.require('scripts', 'carousel_products');
  </script>
{%- else -%}
  {% render 'no-blocks' %}
{%- endif -%}

{% schema %}
{
  "name": "ER Nurses LP Slide Produ",
  "settings": [
    {
      "type": "text",
      "id": "titleSection",
      "label": "Title Section"
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show title",
      "default": true
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Content width",
      "default": "boxed",
      "options": [
        {
          "value": "fullwidth",
          "label": "Fullwidth"
        },
        {
          "value": "boxed",
          "label": "Boxed"
        }
      ]
    },
    {
      "type": "select",
      "id": "size_of_columns",
      "label": "Size of the columns",
      "default": "4",
      "options": [
        {
          "value": "2",
          "label": "2 items in the row"
        },
        {
          "value": "3",
          "label": "3 items in the row"
        },
        {
          "value": "4",
          "label": "4 items in the row"
        }
      ]
    },
    {
      "type": "range",
      "id": "max_count",
      "min": 2,
      "max": 50,
      "step": 1,
      "unit": "pds",
      "label": "Max count",
      "default": 6
    },
    {
      "type": "header",
      "content": "Slider settings"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay",
      "default": true
    },
    {
      "type": "range",
      "id": "speed",
      "min": 2,
      "max": 10,
      "step": 1,
      "label": "Autoplay speed (sec)",
      "default": 5
    },
    {
      "type": "checkbox",
      "id": "infinite",
      "label": "Is infinite",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "arrows",
      "label": "Arrows",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "bullets",
      "label": "Bullets",
      "default": true
    },
    {
      "type": "header",
      "content": "Carousel Contents"
    },
    {
      "type": "checkbox",
      "id": "prefer_meta_name",
      "label": "Prefer Alternate Name (set in metafield on product page)",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "prefer_parent_images",
      "label": "Prefer Parent Image (for Parent Products Only)",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "label": "Show price",
      "default": true
    },
    {
      "type": "header",
      "content": "Video manual"
    },
    {
      "type": "paragraph",
      "content": "[Home sections](https://www.youtube.com/watch?v=QQ6wFwBts4k&list=PLj-506KaR_vcQjwcpC6yII-1JY0bSj7df&index=9)"
    },
    {
      "type": "header",
      "content": "User manual"
    },
    {
      "type": "paragraph",
      "content": "[Products Carousel](https://mpthemes.net/shella-shopify-theme/documentation-version4/doc02-04-home-products-carousel.php#products-carousel)"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "textarea",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "text",
          "id": "titleCarousel",
          "label": "Title Carousel"
        },
        {
          "type": "textarea",
          "id": "textCarousel",
          "label": "Text Carousel"
        },
        {
          "type": "url",
          "id": "linkBtnCarousel",
          "label": "Url Button Carousel"
        },
        {
          "type": "text",
          "id": "textBtnCarousel",
          "label": "Text Button Carousel"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "ER Nurses LP Slide Produ",
      "category": "2) Carousels"
    }
  ]
}
{% endschema %}
