

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-495415367867303029.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-495415367867303029.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-495415367867303029.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-495415367867303029.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-495415367867303029.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-495415367867303029.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-495415367867303029.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-495415367867303029.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-495415367867303029.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-495415367867303029.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-495415367867303029.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-495415367867303029.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-495415367867303029.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-495415367867303029.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-495415367867303029.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-495415367867303029.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-495415367867303029.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-495415367867303029.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-495415367867303029.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-495415367867303029.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-495415367867303029.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-495415367867303029.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-495415367867303029.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-495415367867303029.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-495415367867303029.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-495415367867303029.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-495415367867303029.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-495415367867303029.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-495415367867303029.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-495415367867303029.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-495415367867303029.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-495415367867303029.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-495415367867303029.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-495415367867303029.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-495415367867303029.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-495415367867303029.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-495415367867303029.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-495415367867303029.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-495415367867303029.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-495415367867303029.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-495415367867303029.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-495415367867303029.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-495415367867303029.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-495415367867303029.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-495415367867303029.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-495415367867303029.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-495415367867303029.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-495415367867303029.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-495415367867303029.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-495415367867303029.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-495415367867303029.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-495415367867303029.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-495415367867303029.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-495415367867303029.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-495415367867303029.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-495415367867303029.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-495415367867303029.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-495415367867303029.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-495415367867303029 .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-495415367867303029 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-495415367867303029 .gp-g-subheading-3{font-family:var(--g-sh3-ff);font-size:var(--g-sh3-size);font-style:var(--g-sh3-fs);font-weight:var(--g-sh3-weight);letter-spacing:var(--g-sh3-ls);line-height:var(--g-sh3-lh)}.gps-495415367867303029 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-495415367867303029 .gp-absolute{position:absolute}.gps-495415367867303029 .gp-relative{position:relative}.gps-495415367867303029 .gp-z-1{z-index:1}.gps-495415367867303029 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-495415367867303029 .gp-mb-0{margin-bottom:0}.gps-495415367867303029 .\!gp-inline{display:inline!important}.gps-495415367867303029 .gp-flex{display:flex}.gps-495415367867303029 .gp-inline-flex{display:inline-flex}.gps-495415367867303029 .gp-grid{display:grid}.gps-495415367867303029 .\!gp-hidden{display:none!important}.gps-495415367867303029 .gp-hidden{display:none}.gps-495415367867303029 .gp-h-full{height:100%}.gps-495415367867303029 .gp-w-full{width:100%}.gps-495415367867303029 .gp-max-w-full{max-width:100%}.gps-495415367867303029 .gp-flex-col{flex-direction:column}.gps-495415367867303029 .gp-items-center{align-items:center}.gps-495415367867303029 .\!gp-justify-center{justify-content:center!important}.gps-495415367867303029 .gp-justify-center{justify-content:center}.gps-495415367867303029 .gp-gap-y-0{row-gap:0}.gps-495415367867303029 .gp-overflow-hidden{overflow:hidden}.gps-495415367867303029 .gp-break-words{overflow-wrap:break-word}.gps-495415367867303029 .gp-rounded-none{border-radius:0}.gps-495415367867303029 .gp-bg-g-brand{background-color:var(--g-c-brand)}.gps-495415367867303029 .gp-text-center{text-align:center}.gps-495415367867303029 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-495415367867303029 .gp-no-underline{text-decoration-line:none}.gps-495415367867303029 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-495415367867303029 .gp-transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-495415367867303029 .gp-duration-200{transition-duration:.2s}.gps-495415367867303029 .gp-duration-300{transition-duration:.3s}.gps-495415367867303029 .gp-duration-\[var\(--duration\)\]{transition-duration:var(--duration)}.gps-495415367867303029 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-495415367867303029 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-495415367867303029 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-495415367867303029 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-495415367867303029 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-495415367867303029 .gp-group\/hero:hover .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-scale-x:var(--scale);--tw-scale-y:var(--scale);transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}}.gps-495415367867303029 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-495415367867303029 .tablet\:gp-relative{position:relative}.gps-495415367867303029 .tablet\:\!gp-hidden{display:none!important}.gps-495415367867303029 .tablet\:gp-hidden{display:none}.gps-495415367867303029 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-495415367867303029 .mobile\:gp-relative{position:relative}.gps-495415367867303029 .mobile\:\!gp-hidden{display:none!important}.gps-495415367867303029 .mobile\:gp-hidden{display:none}.gps-495415367867303029 .mobile\:\!gp-justify-center{justify-content:center!important}}.gps-495415367867303029 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-495415367867303029 .\[\&_p\]\:gp-inline p{display:inline}.gps-495415367867303029 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-495415367867303029 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-495415367867303029 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="guaSZDdkxT" data-id="guaSZDdkxT"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="guaSZDdkxT gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gxHj4amMjD gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--d:flex;--d-tablet:flex;--d-mobile:flex;--mb:var(--g-s-l)">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"type":"image","color":"rgba(255, 255, 255, 0)","image":{"src":"https://ucarecdn.com/99772b6e-287b-4f9f-a30c-8f4bfc81e47d/-/format/auto/-/preview/3000x3000/-/quality/lighter/Source%20background%20image.jpg","width":1920,"height":900},"size":"contain","position":{"x":0,"y":50},"repeat":"no-repeat","attachment":"scroll","lazyLoad":false},"tablet":{"type":"image","color":"rgba(255, 255, 255, 0)","image":{"src":"https://ucarecdn.com/99772b6e-287b-4f9f-a30c-8f4bfc81e47d/-/format/auto/-/preview/3000x3000/-/quality/lighter/Source%20background%20image.jpg","width":1920,"height":900},"size":"contain","position":{"x":0,"y":50},"repeat":"no-repeat","attachment":"scroll","lazyLoad":false},"mobile":{"type":"image","color":"rgba(255, 255, 255, 0)","image":{"src":"https://ucarecdn.com/99772b6e-287b-4f9f-a30c-8f4bfc81e47d/-/format/auto/-/preview/3000x3000/-/quality/lighter/Source%20background%20image.jpg","width":1920,"height":900},"size":"contain","position":{"x":0,"y":50},"repeat":"no-repeat","attachment":"scroll","lazyLoad":false}},"uid":"g9BPKm16Ya","enableParallax":false,"speedParallax":0,"hoverEffect":"none","hoverEffectScale":"110%","layout":{"desktop":{"cols":[6,6],"display":"fill"}}}'
        
        class="g9BPKm16Ya gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--d:flex;--d-tablet:flex;--d-mobile:flex;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:auto;--w-tablet:auto;--w-mobile:auto"
        data-id="g9BPKm16Ya"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
          style="--h:auto;--h-tablet:auto;--h-mobile:auto;--bgc:rgba(255, 255, 255, 0)"
        >
          
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/99772b6e-287b-4f9f-a30c-8f4bfc81e47d/-/format/auto/-/preview/3000x3000/-/quality/lighter/Source%20background%20image.jpg" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xOTIwLTE5MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE5MjAiIGhlaWdodD0iMTkyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiBmaWxsPSJ1cmwoI2ctMTkyMC0xOTIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTkyMCIgdG89IjE5MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1023px)" data-srcSet="https://ucarecdn.com/99772b6e-287b-4f9f-a30c-8f4bfc81e47d/-/format/auto/-/preview/3000x3000/-/quality/lighter/Source%20background%20image.jpg" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xOTIwLTE5MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE5MjAiIGhlaWdodD0iMTkyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiBmaWxsPSJ1cmwoI2ctMTkyMC0xOTIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTkyMCIgdG89IjE5MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="https://ucarecdn.com/99772b6e-287b-4f9f-a30c-8f4bfc81e47d/-/format/auto/-/preview/3000x3000/-/quality/lighter/Source%20background%20image.jpg"
        width="100%"
        alt=""
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:auto;--w-tablet:auto;--w-mobile:auto;--op:0;--z:-1"
      />
    
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0)"
              > 
              <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform"
              style="--bgc:rgba(255, 255, 255, 0);--bgp:0% 50%;--bgs:contain;--bgr:no-repeat;--bgi:url('https://ucarecdn.com/99772b6e-287b-4f9f-a30c-8f4bfc81e47d/-/format/auto/-/preview/3000x3000/-/quality/lighter/Source%20background%20image.jpg');--bgi-tablet:url('https://ucarecdn.com/99772b6e-287b-4f9f-a30c-8f4bfc81e47d/-/format/auto/-/preview/3000x3000/-/quality/lighter/Source%20background%20image.jpg');--bgi-mobile:url('https://ucarecdn.com/99772b6e-287b-4f9f-a30c-8f4bfc81e47d/-/format/auto/-/preview/3000x3000/-/quality/lighter/Source%20background%20image.jpg');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
             
              </div>  
               </div>
            </div>
            
          </div>
          
          
       
      
    <div
      id data-id
        style="--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gxZMHuxcGy gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gPH6bdTq_N"
    role="presentation"
    class="gp-group/image gPH6bdTq_N"
    style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "470337726575543518-d341c10f-6ee9-4685-b5d4-c2f7c453920f.png" | asset_url }}" data-srcset="{{ '470337726575543518-d341c10f-6ee9-4685-b5d4-c2f7c453920f.png' | asset_img_url: '768x' }} 768w, {{ '470337726575543518-d341c10f-6ee9-4685-b5d4-c2f7c453920f.png' | asset_img_url: '1024x' }} 1024w, {{ '470337726575543518-d341c10f-6ee9-4685-b5d4-c2f7c453920f.png' | asset_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTAwLTUwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0idXJsKCNnLTUwMC01MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MDAiIHRvPSI1MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="500" height="500" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:500/500;--aspect-tablet:500/500;--aspect-mobile:500/500;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
    />
  
      </div>
  </div>
    </div><div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gUoUALT5li gp-relative gp-flex gp-flex-col"
    >
      <div
      enableLazyloadImage="true"
      
      class="goIFdWnjxF gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gnfIY1di8s">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gnfIY1di8s "
        style="--ta:left;--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-heading-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#212121;word-break:break-word;overflow:hidden"
        ><p>TikTok Affiliate Program</p></h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gYcitUm7aC">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gYcitUm7aC "
        style="--ta:left;--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#212121;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p><span style="color:#050505;font-size:20px;">Find Gales® on TikTok Shop! Once you are eligible through TikTok's affiliate program, find Gales® and start promoting our products!</span></p></div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:center"
    
  >
    <style>
    .gFUGpfc0Q0.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gFUGpfc0Q0:hover::before {
      
      
    }

    .gFUGpfc0Q0:hover .gp-button-icon {
      color: undefined;
    }

     .gFUGpfc0Q0 .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gFUGpfc0Q0:hover .gp-button-price {
      color: undefined;
    }

    .gFUGpfc0Q0 .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gFUGpfc0Q0 .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gFUGpfc0Q0:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="https://shop.tiktok.com/business/en/creator?_kx=jMUyBFvUgG63RSZPKOPNmvCTu9cRmAuygjeSetjE_hk%3D.X2a9yM" target="_self" data-id="gFUGpfc0Q0" aria-label="Get started"
      
      data-state="idle"
      class="gFUGpfc0Q0 gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-bg-g-brand hover:gp-bg-g-highlight gp-text-g-text-3 gp-text-center gp-g-subheading-3"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--c:var(--g-c-text-3, text-3)"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden gp-g-subheading-3
        "
        
      >
        Get started
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
    </div>
   
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 0",
    "tag": "section",
    "class": "gps-495415367867303029 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/weargales/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=494575770312639605&sectionId=495415367867303029)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
