

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-494579100304802691.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-494579100304802691.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-494579100304802691.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-494579100304802691.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-494579100304802691.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-494579100304802691.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-494579100304802691.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-494579100304802691.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-494579100304802691.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-494579100304802691.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-494579100304802691.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-494579100304802691.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-494579100304802691.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-494579100304802691.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-494579100304802691.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-494579100304802691.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-494579100304802691.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-494579100304802691.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-494579100304802691.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-494579100304802691.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-494579100304802691.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-494579100304802691.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-494579100304802691.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-494579100304802691.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-494579100304802691.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-494579100304802691.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-494579100304802691.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-494579100304802691.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-494579100304802691.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-494579100304802691.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-494579100304802691.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-494579100304802691.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-494579100304802691.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-494579100304802691.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-494579100304802691.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1023px){.gps-494579100304802691.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-494579100304802691.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-494579100304802691.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-494579100304802691.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-494579100304802691.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-494579100304802691.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-494579100304802691.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-494579100304802691.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-494579100304802691.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-494579100304802691.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-494579100304802691.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-494579100304802691.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-494579100304802691.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-494579100304802691.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-494579100304802691.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-494579100304802691.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-494579100304802691.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-494579100304802691.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-494579100304802691.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-494579100304802691.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-494579100304802691.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-494579100304802691.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-494579100304802691 .gp-g-heading-3{font-family:var(--g-h3-ff);font-size:var(--g-h3-size);font-style:var(--g-h3-fs);font-weight:var(--g-h3-weight);letter-spacing:var(--g-h3-ls);line-height:var(--g-h3-lh)}.gps-494579100304802691 .gp-absolute{position:absolute}.gps-494579100304802691 .gp-relative{position:relative}.gps-494579100304802691 .gp-inset-0{inset:0}.gps-494579100304802691 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-494579100304802691 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-494579100304802691 .gp-z-1{z-index:1}.gps-494579100304802691 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-494579100304802691 .gp-mb-0{margin-bottom:0}.gps-494579100304802691 .gp-flex{display:flex}.gps-494579100304802691 .gp-grid{display:grid}.gps-494579100304802691 .\!gp-hidden{display:none!important}.gps-494579100304802691 .gp-hidden{display:none}.gps-494579100304802691 .gp-h-full{height:100%}.gps-494579100304802691 .gp-w-full{width:100%}.gps-494579100304802691 .gp-max-w-full{max-width:100%}.gps-494579100304802691 .gp-flex-col{flex-direction:column}.gps-494579100304802691 .gp-items-center{align-items:center}.gps-494579100304802691 .\!gp-justify-center{justify-content:center!important}.gps-494579100304802691 .gp-gap-y-0{row-gap:0}.gps-494579100304802691 .gp-overflow-hidden{overflow:hidden}.gps-494579100304802691 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-494579100304802691 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-494579100304802691 .gp-duration-200{transition-duration:.2s}.gps-494579100304802691 .gp-duration-300{transition-duration:.3s}.gps-494579100304802691 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-494579100304802691 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-494579100304802691 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}@media (max-width:1023px){.gps-494579100304802691 .tablet\:gp-absolute{position:absolute}.gps-494579100304802691 .tablet\:\!gp-hidden{display:none!important}.gps-494579100304802691 .tablet\:gp-hidden{display:none}.gps-494579100304802691 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-494579100304802691 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-494579100304802691 .mobile\:gp-relative{position:relative}.gps-494579100304802691 .mobile\:\!gp-hidden{display:none!important}.gps-494579100304802691 .mobile\:gp-hidden{display:none}.gps-494579100304802691 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-494579100304802691 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1023px){.gps-494579100304802691 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-494579100304802691 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-494579100304802691 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-494579100304802691 .\[\&_p\]\:gp-inline p{display:inline}.gps-494579100304802691 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-494579100304802691 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="g48CVQHSIg" data-id="g48CVQHSIg"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g48CVQHSIg avenir-next gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gD-HHfJ8i- gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gRosO8U09H" data-id="gRosO8U09H"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gRosO8U09H gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g1tzxc-JrK gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full" style="--h:auto;--h-tablet:auto;--h-mobile:fit-content;--d:flex;--d-mobile:flex;--d-tablet:flex;--mb:var(--g-s-l)">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"470337726575543518-58de8934-c9e3-4d2c-9519-2ae25e089f98.jpg","height":1260,"src":"https://cdn.shopify.com/s/files/1/0291/3724/0142/files/470337726575543518-58de8934-c9e3-4d2c-9519-2ae25e089f98.jpg","storage":"FILE_CONTENT","width":3404},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0291/3724/0142/files/470337726575543518-58de8934-c9e3-4d2c-9519-2ae25e089f98.jpg","width":3404,"height":1260,"backupFileKey":""},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gxwCAqN-IA","enableParallax":false,"speedParallax":0,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center","mobile":"center"},"contentPosition2Col":{"desktop":"center"}}'
        
        class="gxwCAqN-IA hero_banner_shadow gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-tablet:100%;--radius:var(--g-radius-none);--h:auto;--h-tablet:auto;--h-mobile:fit-content;--w:auto;--w-tablet:auto;--w-mobile:100%;--aspect:auto;--aspect-tablet:auto"
        data-id="gxwCAqN-IA"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
          style="--h:auto;--h-tablet:auto;--h-mobile:fit-content;--aspect:auto;--aspect-tablet:auto;--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--shadow:none"
        >
          
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0291/3724/0142/files/470337726575543518-58de8934-c9e3-4d2c-9519-2ae25e089f98.jpg" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzQwNCIgaGVpZ2h0PSIxMjYwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zNDA0LTEyNjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjM0MDQiIGhlaWdodD0iMTI2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzQwNCIgaGVpZ2h0PSIxMjYwIiBmaWxsPSJ1cmwoI2ctMzQwNC0xMjYwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzQwNCIgdG89IjM0MDQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "470337726575543518-58de8934-c9e3-4d2c-9519-2ae25e089f98_1024x.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzQwNCIgaGVpZ2h0PSIzNDA0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zNDA0LTM0MDQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjM0MDQiIGhlaWdodD0iMzQwNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzQwNCIgaGVpZ2h0PSIzNDA0IiBmaWxsPSJ1cmwoI2ctMzQwNC0zNDA0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzQwNCIgdG89IjM0MDQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzQwNCIgaGVpZ2h0PSIxMjYwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zNDA0LTEyNjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjM0MDQiIGhlaWdodD0iMTI2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzQwNCIgaGVpZ2h0PSIxMjYwIiBmaWxsPSJ1cmwoI2ctMzQwNC0xMjYwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzQwNCIgdG89IjM0MDQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "470337726575543518-58de8934-c9e3-4d2c-9519-2ae25e089f98.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--d:block;--d-tablet:block;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:fit-content;--w:auto;--w-tablet:auto;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0)"
              > 
              <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bgi:url('{{ "470337726575543518-58de8934-c9e3-4d2c-9519-2ae25e089f98.jpg" | file_url }}');--bgi-tablet:url('{{ "470337726575543518-58de8934-c9e3-4d2c-9519-2ae25e089f98_1024x.jpg" | file_url }}');--bgi-mobile:url('https://cdn.shopify.com/s/files/1/0291/3724/0142/files/470337726575543518-58de8934-c9e3-4d2c-9519-2ae25e089f98.jpg');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
             
              </div>  
               </div>
            </div>
            <div
            aria-label="Overlay"
            role="banner"
            class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#000000;--top:0;--left:0;--op:10%"
          > </div>
          </div>
          
          
       
      
    <div
      id data-id
        style="--pl:10px;--pr:10px;--pt:10px;--pb:10px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-absolute mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g_h2lvZyvj gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gEUhvlKOMe">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gEUhvlKOMe "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-heading-3 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:var(--g-c-text-3, text-3);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggEUhvlKOMe_text }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-494579100304802691 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/weargales/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=494575770312639605&sectionId=494579100304802691)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggEUhvlKOMe_text","label":"ggEUhvlKOMe_text","default":"Ambassadors &amp; Insiders"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
