

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-539674351809594272.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-539674351809594272.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-539674351809594272.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-539674351809594272.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-539674351809594272.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-539674351809594272.gps.gpsil [style*="--hvr-bgc:"]:hover{background-color:var(--hvr-bgc)}.gps-539674351809594272.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-539674351809594272.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-539674351809594272.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-539674351809594272.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-539674351809594272.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-539674351809594272.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-539674351809594272.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-539674351809594272.gps.gpsil [style*="--hvr-bc:"]:hover{border-color:var(--hvr-bc)}.gps-539674351809594272.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-539674351809594272.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-539674351809594272.gps.gpsil [style*="--hvr-bs:"]:hover{border-style:var(--hvr-bs)}.gps-539674351809594272.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-539674351809594272.gps.gpsil [style*="--hvr-bw:"]:hover{border-width:var(--hvr-bw)}.gps-539674351809594272.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-539674351809594272.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-539674351809594272.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-539674351809594272.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-539674351809594272.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-539674351809594272.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-539674351809594272.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-539674351809594272.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-539674351809594272.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-539674351809594272.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-539674351809594272.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-539674351809594272.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-539674351809594272.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-539674351809594272.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-539674351809594272.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-539674351809594272.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-539674351809594272.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-539674351809594272.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-539674351809594272.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-539674351809594272.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-539674351809594272.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-539674351809594272.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-539674351809594272.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-539674351809594272.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-539674351809594272.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-539674351809594272.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-539674351809594272.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-539674351809594272.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-539674351809594272.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-539674351809594272.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-539674351809594272.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-539674351809594272.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-539674351809594272.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-539674351809594272.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-539674351809594272.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-539674351809594272.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-539674351809594272.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-539674351809594272.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-539674351809594272.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-539674351809594272.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-539674351809594272.gps.gpsil [style*="--gg-mobile:"]{grid-gap:var(--gg-mobile)}.gps-539674351809594272.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-539674351809594272.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-539674351809594272.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-539674351809594272.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-539674351809594272.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-539674351809594272.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-539674351809594272.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-539674351809594272.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-539674351809594272.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-539674351809594272.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-539674351809594272 .-gp-rotate-90,.gps-539674351809594272 .gp-rotate-180,.gps-539674351809594272 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-539674351809594272 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-539674351809594272 .gp-relative{position:relative}.gps-539674351809594272 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-539674351809594272 .gp-mb-0{margin-bottom:0}.gps-539674351809594272 .gp-flex{display:flex}.gps-539674351809594272 .gp-inline-flex{display:inline-flex}.gps-539674351809594272 .gp-grid{display:grid}.gps-539674351809594272 .\!gp-hidden{display:none!important}.gps-539674351809594272 .gp-hidden{display:none}.gps-539674351809594272 .gp-min-h-0{min-height:0}.gps-539674351809594272 .gp-w-full{width:100%}.gps-539674351809594272 .gp-max-w-full{max-width:100%}.gps-539674351809594272 .-gp-rotate-90{--tw-rotate:-90deg}.gps-539674351809594272 .-gp-rotate-90,.gps-539674351809594272 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-539674351809594272 .gp-rotate-180{--tw-rotate:180deg}.gps-539674351809594272 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-539674351809594272 .gp-cursor-pointer{cursor:pointer}.gps-539674351809594272 .gp-flex-col{flex-direction:column}.gps-539674351809594272 .gp-items-center{align-items:center}.gps-539674351809594272 .gp-justify-center{justify-content:center}.gps-539674351809594272 .gp-gap-y-0{row-gap:0}.gps-539674351809594272 .gp-overflow-hidden{overflow:hidden}.gps-539674351809594272 .gp-overflow-clip{overflow:clip}.gps-539674351809594272 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-539674351809594272 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-539674351809594272 .gp-duration-200{transition-duration:.2s}.gps-539674351809594272 .gp-duration-500{transition-duration:.5s}.gps-539674351809594272 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-539674351809594272 .tablet\:\!gp-hidden{display:none!important}.gps-539674351809594272 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-539674351809594272 .mobile\:\!gp-hidden{display:none!important}.gps-539674351809594272 .mobile\:gp-hidden{display:none}}.gps-539674351809594272 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-539674351809594272 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-539674351809594272 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-539674351809594272 .\[\&_p\]\:gp-inline p{display:inline}.gps-539674351809594272 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-539674351809594272 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="g_I2V-KOuL" data-id="g_I2V-KOuL"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pt:70px;--pl:50px;--pb:70px;--pr:50px;--pt-mobile:70px;--pl-mobile:30px;--pb-mobile:70px;--pr-mobile:30px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#f4f4f4;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_I2V-KOuL gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ghG3JdAXQX gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gg8qQbxcuo" data-id="gg8qQbxcuo"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:996px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#f4f4f4;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gg8qQbxcuo gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gMy_E98W-c gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gPtLIRAzSG">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gPtLIRAzSG "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:24px;--mb-mobile:21px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:33px;--size-tablet:33px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:uppercase;word-break:break-word;--bgc:#f4f4f4;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggPtLIRAzSG_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:24px;--mb-mobile:21px" class="gdAXsOD04i ">
      
    <gp-accordion
      data-id="gdAXsOD04i"
     uid="gdAXsOD04i"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:0px;--gg-mobile:0px;--bgr:function (n) {
                return new Array(1 + n).join(this);
            };border-radius:inherit"
      gp-data='{"setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":"1","expanded":true,"expandItem":true,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px"}},"iconCollapse":"<svg data-id=\"516676294709085334\" xmlns=\"http://www.w3.org/2000/svg\" width=\"21\" height=\"22\" viewBox=\"0 0 21 22\" fill=\"none\">\n<path d=\"M10.5 5.47266C10.674 5.47266 10.841 5.5418 10.964 5.66487C11.0871 5.78794 11.1562 5.95486 11.1562 6.12891V10.0664H15.0938C15.2678 10.0664 15.4347 10.1355 15.5578 10.2586C15.6809 10.3817 15.75 10.5486 15.75 10.7227C15.75 10.8967 15.6809 11.0636 15.5578 11.1867C15.4347 11.3098 15.2678 11.3789 15.0938 11.3789H11.1562V15.3164C11.1562 15.4905 11.0871 15.6574 10.964 15.7804C10.841 15.9035 10.674 15.9727 10.5 15.9727C10.326 15.9727 10.159 15.9035 10.036 15.7804C9.91289 15.6574 9.84375 15.4905 9.84375 15.3164V11.3789H5.90625C5.7322 11.3789 5.56528 11.3098 5.44221 11.1867C5.31914 11.0636 5.25 10.8967 5.25 10.7227C5.25 10.5486 5.31914 10.3817 5.44221 10.2586C5.56528 10.1355 5.7322 10.0664 5.90625 10.0664H9.84375V6.12891C9.84375 5.95486 9.91289 5.78794 10.036 5.66487C10.159 5.5418 10.326 5.47266 10.5 5.47266Z\" fill=\"#242424\"/>\n</svg>","iconExpand":"<svg data-id=\"516675979733632150\" xmlns=\"http://www.w3.org/2000/svg\" width=\"21\" height=\"21\" viewBox=\"0 0 21 21\" fill=\"none\">\n<path d=\"M5.25 10.5C5.25 10.326 5.31914 10.159 5.44221 10.036C5.56528 9.91289 5.7322 9.84375 5.90625 9.84375H15.0938C15.2678 9.84375 15.4347 9.91289 15.5578 10.036C15.6809 10.159 15.75 10.326 15.75 10.5C15.75 10.674 15.6809 10.841 15.5578 10.964C15.4347 11.0871 15.2678 11.1562 15.0938 11.1562H5.90625C5.7322 11.1562 5.56528 11.0871 5.44221 10.964C5.31914 10.841 5.25 10.674 5.25 10.5Z\" fill=\"#242424\"/>\n</svg>","iconCollapseSize":21,"layoutHeader":"text-only","expandedMode":"multiple","configIconSize":16,"parentUid":"gdAXsOD04i","childListNumber":["0"],"chidlrenUid":["g50YMUu1aN","gTiSkyJ1o7","guV5sBKGEm","gijSm9kzCw","gxmvJ54ACC","gLiMr-nlFS","gTI9PSb5MO","gpnLbyiyZL","g-m40DZTzS","gSxHTpzwUI","gl4Fchznt6","gDTvSSs9kH"]},"styles":{"bgColor":{"active":"transparent","hover":"transparent","normal":"transparent"},"color":{"active":"#242424","hover":"#242424","normal":"#121212"},"headerBorder":{"active":{"border":"none","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"hover":{"border":"none","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"normal":{"border":"none","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"}},"textColor":{"active":"#242424","hover":"#242424","normal":"#242424"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"0px","padding":{"bottom":"16px","left":"16px","right":"16px","top":"0px","type":"custom"}},"mobile":{"customShapeValue":"","gap":"0px","height":"","padding":{"bottom":"14px","left":"0px","right":"0px","top":"0px","type":"custom"},"shape":"","shapeValue":"","width":""}},"headerContentPadding":{"desktop":{"gap":"","padding":{"bottom":"16px","left":"16px","right":"16px","top":"24px","type":"custom"}},"mobile":{"customShapeValue":"","gap":"","height":"","padding":{"bottom":"16px","left":"0px","right":"0px","top":"21px","type":"custom"},"shape":"","shapeValue":"","width":""}},"widthHeightSize":{"desktop":{"height":"auto","width":"100%"}}},"uid":"gdAXsOD04i"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gdAXsOD04i-0:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gdAXsOD04i-0:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gdAXsOD04i-0:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gdAXsOD04i-0:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:21px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#CCCCCC;--bg:#f4f4f4;--shadow:none">
    <div
      data-index="0"
      class="gdAXsOD04i gp-accordion-item gp-overflow-hidden gp-child-item-gdAXsOD04i"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="g50YMUu1aN"
        id="g50YMUu1aN"
        data-index="0"
        class="gdAXsOD04i gp-accordion-item-gdAXsOD04i-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:21px;--pb-mobile:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--bs:none;--bw:0px 0px 1px 0px;--bc:#121212;--c:#242424"
      >
       <style class="accordion-style">.gdAXsOD04i.gp-accordion-item-gdAXsOD04i-0:hover .gp-collapsible-icon, .gdAXsOD04i.gp-accordion-item-gdAXsOD04i-0:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:#242424;width:21px;height:21px"
            data-index="0"
            class="gdAXsOD04i gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg data-id="516675979733632150" xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
<path d="M5.25 10.5C5.25 10.326 5.31914 10.159 5.44221 10.036C5.56528 9.91289 5.7322 9.84375 5.90625 9.84375H15.0938C15.2678 9.84375 15.4347 9.91289 15.5578 10.036C15.6809 10.159 15.75 10.326 15.75 10.5C15.75 10.674 15.6809 10.841 15.5578 10.964C15.4347 11.0871 15.2678 11.1562 15.0938 11.1562H5.90625C5.7322 11.1562 5.56528 11.0871 5.44221 10.964C5.31914 10.841 5.25 10.674 5.25 10.5Z" fill="#242424"/>
</svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-AvenirNextLTPro, 'AvenirNextLTPro'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggdAXsOD04i_childItem_0 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="g50YMUu1aN"
        data-index="0"
        data-show="true"
        class="gdAXsOD04i gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:1fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="g50YMUu1aN"
        data-index="0"
        class="gdAXsOD04i gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:16px;--pr:16px;--pt:0px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:14px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gV2HT2Y6_2 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gbnRzKHjCZ">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gbnRzKHjCZ "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggbnRzKHjCZ_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gbnRzKHjCZ">
        .gbnRzKHjCZ {

}
.gbnRzKHjCZ p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gdAXsOD04i-1:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gdAXsOD04i-1:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gdAXsOD04i-1:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gdAXsOD04i-1:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:21px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#CCCCCC;--bg:#f4f4f4;--shadow:none">
    <div
      data-index="1"
      class="gdAXsOD04i gp-accordion-item gp-overflow-hidden gp-child-item-gdAXsOD04i"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gTiSkyJ1o7"
        id="gTiSkyJ1o7"
        data-index="1"
        class="gdAXsOD04i gp-accordion-item-gdAXsOD04i-1 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:21px;--pb-mobile:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gdAXsOD04i.gp-accordion-item-gdAXsOD04i-1:hover .gp-collapsible-icon, .gdAXsOD04i.gp-accordion-item-gdAXsOD04i-1:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#121212;width:21px;height:21px"
            data-index="1"
            class="gdAXsOD04i gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg data-id="516676294709085334" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<path d="M10.5 5.47266C10.674 5.47266 10.841 5.5418 10.964 5.66487C11.0871 5.78794 11.1562 5.95486 11.1562 6.12891V10.0664H15.0938C15.2678 10.0664 15.4347 10.1355 15.5578 10.2586C15.6809 10.3817 15.75 10.5486 15.75 10.7227C15.75 10.8967 15.6809 11.0636 15.5578 11.1867C15.4347 11.3098 15.2678 11.3789 15.0938 11.3789H11.1562V15.3164C11.1562 15.4905 11.0871 15.6574 10.964 15.7804C10.841 15.9035 10.674 15.9727 10.5 15.9727C10.326 15.9727 10.159 15.9035 10.036 15.7804C9.91289 15.6574 9.84375 15.4905 9.84375 15.3164V11.3789H5.90625C5.7322 11.3789 5.56528 11.3098 5.44221 11.1867C5.31914 11.0636 5.25 10.8967 5.25 10.7227C5.25 10.5486 5.31914 10.3817 5.44221 10.2586C5.56528 10.1355 5.7322 10.0664 5.90625 10.0664H9.84375V6.12891C9.84375 5.95486 9.91289 5.78794 10.036 5.66487C10.159 5.5418 10.326 5.47266 10.5 5.47266Z" fill="#242424"/>
</svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-AvenirNextLTPro, 'AvenirNextLTPro'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggdAXsOD04i_childItem_1 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gTiSkyJ1o7"
        data-index="1"
        data-show="false"
        class="gdAXsOD04i gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gTiSkyJ1o7"
        data-index="1"
        class="gdAXsOD04i gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:16px;--pr:16px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gGz-8rytGr gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gKbgy7vOe6">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gKbgy7vOe6 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggKbgy7vOe6_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gKbgy7vOe6">
        .gKbgy7vOe6 {

}
.gKbgy7vOe6 p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gdAXsOD04i-2:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gdAXsOD04i-2:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gdAXsOD04i-2:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gdAXsOD04i-2:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:21px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#CCCCCC;--bg:#f4f4f4;--shadow:none">
    <div
      data-index="2"
      class="gdAXsOD04i gp-accordion-item gp-overflow-hidden gp-child-item-gdAXsOD04i"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="guV5sBKGEm"
        id="guV5sBKGEm"
        data-index="2"
        class="gdAXsOD04i gp-accordion-item-gdAXsOD04i-2 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:21px;--pb-mobile:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gdAXsOD04i.gp-accordion-item-gdAXsOD04i-2:hover .gp-collapsible-icon, .gdAXsOD04i.gp-accordion-item-gdAXsOD04i-2:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#121212;width:21px;height:21px"
            data-index="2"
            class="gdAXsOD04i gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg data-id="516676294709085334" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<path d="M10.5 5.47266C10.674 5.47266 10.841 5.5418 10.964 5.66487C11.0871 5.78794 11.1562 5.95486 11.1562 6.12891V10.0664H15.0938C15.2678 10.0664 15.4347 10.1355 15.5578 10.2586C15.6809 10.3817 15.75 10.5486 15.75 10.7227C15.75 10.8967 15.6809 11.0636 15.5578 11.1867C15.4347 11.3098 15.2678 11.3789 15.0938 11.3789H11.1562V15.3164C11.1562 15.4905 11.0871 15.6574 10.964 15.7804C10.841 15.9035 10.674 15.9727 10.5 15.9727C10.326 15.9727 10.159 15.9035 10.036 15.7804C9.91289 15.6574 9.84375 15.4905 9.84375 15.3164V11.3789H5.90625C5.7322 11.3789 5.56528 11.3098 5.44221 11.1867C5.31914 11.0636 5.25 10.8967 5.25 10.7227C5.25 10.5486 5.31914 10.3817 5.44221 10.2586C5.56528 10.1355 5.7322 10.0664 5.90625 10.0664H9.84375V6.12891C9.84375 5.95486 9.91289 5.78794 10.036 5.66487C10.159 5.5418 10.326 5.47266 10.5 5.47266Z" fill="#242424"/>
</svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-AvenirNextLTPro, 'AvenirNextLTPro'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggdAXsOD04i_childItem_2 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="guV5sBKGEm"
        data-index="2"
        data-show="false"
        class="gdAXsOD04i gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="guV5sBKGEm"
        data-index="2"
        class="gdAXsOD04i gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:16px;--pr:16px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="g-bpydVjoW gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g-UI9GFpA7">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g-UI9GFpA7 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg-UI9GFpA7_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g-UI9GFpA7">
        .g-UI9GFpA7 {

}
.g-UI9GFpA7 p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gdAXsOD04i-3:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gdAXsOD04i-3:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gdAXsOD04i-3:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gdAXsOD04i-3:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:21px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#CCCCCC;--bg:#f4f4f4;--shadow:none">
    <div
      data-index="3"
      class="gdAXsOD04i gp-accordion-item gp-overflow-hidden gp-child-item-gdAXsOD04i"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gijSm9kzCw"
        id="gijSm9kzCw"
        data-index="3"
        class="gdAXsOD04i gp-accordion-item-gdAXsOD04i-3 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:21px;--pb-mobile:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gdAXsOD04i.gp-accordion-item-gdAXsOD04i-3:hover .gp-collapsible-icon, .gdAXsOD04i.gp-accordion-item-gdAXsOD04i-3:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#121212;width:21px;height:21px"
            data-index="3"
            class="gdAXsOD04i gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg data-id="516676294709085334" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<path d="M10.5 5.47266C10.674 5.47266 10.841 5.5418 10.964 5.66487C11.0871 5.78794 11.1562 5.95486 11.1562 6.12891V10.0664H15.0938C15.2678 10.0664 15.4347 10.1355 15.5578 10.2586C15.6809 10.3817 15.75 10.5486 15.75 10.7227C15.75 10.8967 15.6809 11.0636 15.5578 11.1867C15.4347 11.3098 15.2678 11.3789 15.0938 11.3789H11.1562V15.3164C11.1562 15.4905 11.0871 15.6574 10.964 15.7804C10.841 15.9035 10.674 15.9727 10.5 15.9727C10.326 15.9727 10.159 15.9035 10.036 15.7804C9.91289 15.6574 9.84375 15.4905 9.84375 15.3164V11.3789H5.90625C5.7322 11.3789 5.56528 11.3098 5.44221 11.1867C5.31914 11.0636 5.25 10.8967 5.25 10.7227C5.25 10.5486 5.31914 10.3817 5.44221 10.2586C5.56528 10.1355 5.7322 10.0664 5.90625 10.0664H9.84375V6.12891C9.84375 5.95486 9.91289 5.78794 10.036 5.66487C10.159 5.5418 10.326 5.47266 10.5 5.47266Z" fill="#242424"/>
</svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-AvenirNextLTPro, 'AvenirNextLTPro'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggdAXsOD04i_childItem_3 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gijSm9kzCw"
        data-index="3"
        data-show="false"
        class="gdAXsOD04i gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gijSm9kzCw"
        data-index="3"
        class="gdAXsOD04i gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:16px;--pr:16px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="g3ym5t9yVO gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g8968SRWao">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g8968SRWao "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg8968SRWao_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g8968SRWao">
        .g8968SRWao {

}
.g8968SRWao p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gdAXsOD04i-4:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gdAXsOD04i-4:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gdAXsOD04i-4:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gdAXsOD04i-4:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:21px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#CCCCCC;--bg:#f4f4f4;--shadow:none">
    <div
      data-index="4"
      class="gdAXsOD04i gp-accordion-item gp-overflow-hidden gp-child-item-gdAXsOD04i"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gxmvJ54ACC"
        id="gxmvJ54ACC"
        data-index="4"
        class="gdAXsOD04i gp-accordion-item-gdAXsOD04i-4 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:21px;--pb-mobile:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gdAXsOD04i.gp-accordion-item-gdAXsOD04i-4:hover .gp-collapsible-icon, .gdAXsOD04i.gp-accordion-item-gdAXsOD04i-4:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#121212;width:21px;height:21px"
            data-index="4"
            class="gdAXsOD04i gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg data-id="516676294709085334" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<path d="M10.5 5.47266C10.674 5.47266 10.841 5.5418 10.964 5.66487C11.0871 5.78794 11.1562 5.95486 11.1562 6.12891V10.0664H15.0938C15.2678 10.0664 15.4347 10.1355 15.5578 10.2586C15.6809 10.3817 15.75 10.5486 15.75 10.7227C15.75 10.8967 15.6809 11.0636 15.5578 11.1867C15.4347 11.3098 15.2678 11.3789 15.0938 11.3789H11.1562V15.3164C11.1562 15.4905 11.0871 15.6574 10.964 15.7804C10.841 15.9035 10.674 15.9727 10.5 15.9727C10.326 15.9727 10.159 15.9035 10.036 15.7804C9.91289 15.6574 9.84375 15.4905 9.84375 15.3164V11.3789H5.90625C5.7322 11.3789 5.56528 11.3098 5.44221 11.1867C5.31914 11.0636 5.25 10.8967 5.25 10.7227C5.25 10.5486 5.31914 10.3817 5.44221 10.2586C5.56528 10.1355 5.7322 10.0664 5.90625 10.0664H9.84375V6.12891C9.84375 5.95486 9.91289 5.78794 10.036 5.66487C10.159 5.5418 10.326 5.47266 10.5 5.47266Z" fill="#242424"/>
</svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-AvenirNextLTPro, 'AvenirNextLTPro'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggdAXsOD04i_childItem_4 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gxmvJ54ACC"
        data-index="4"
        data-show="false"
        class="gdAXsOD04i gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gxmvJ54ACC"
        data-index="4"
        class="gdAXsOD04i gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:16px;--pr:16px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gK5GEgg3MS gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gSC8-qQM8A">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gSC8-qQM8A "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggSC8-qQM8A_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gSC8-qQM8A">
        .gSC8-qQM8A {

}
.gSC8-qQM8A p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gdAXsOD04i-5:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gdAXsOD04i-5:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gdAXsOD04i-5:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gdAXsOD04i-5:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:21px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#CCCCCC;--bg:#f4f4f4;--shadow:none">
    <div
      data-index="5"
      class="gdAXsOD04i gp-accordion-item gp-overflow-hidden gp-child-item-gdAXsOD04i"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gLiMr-nlFS"
        id="gLiMr-nlFS"
        data-index="5"
        class="gdAXsOD04i gp-accordion-item-gdAXsOD04i-5 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:21px;--pb-mobile:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gdAXsOD04i.gp-accordion-item-gdAXsOD04i-5:hover .gp-collapsible-icon, .gdAXsOD04i.gp-accordion-item-gdAXsOD04i-5:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#121212;width:21px;height:21px"
            data-index="5"
            class="gdAXsOD04i gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg data-id="516676294709085334" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<path d="M10.5 5.47266C10.674 5.47266 10.841 5.5418 10.964 5.66487C11.0871 5.78794 11.1562 5.95486 11.1562 6.12891V10.0664H15.0938C15.2678 10.0664 15.4347 10.1355 15.5578 10.2586C15.6809 10.3817 15.75 10.5486 15.75 10.7227C15.75 10.8967 15.6809 11.0636 15.5578 11.1867C15.4347 11.3098 15.2678 11.3789 15.0938 11.3789H11.1562V15.3164C11.1562 15.4905 11.0871 15.6574 10.964 15.7804C10.841 15.9035 10.674 15.9727 10.5 15.9727C10.326 15.9727 10.159 15.9035 10.036 15.7804C9.91289 15.6574 9.84375 15.4905 9.84375 15.3164V11.3789H5.90625C5.7322 11.3789 5.56528 11.3098 5.44221 11.1867C5.31914 11.0636 5.25 10.8967 5.25 10.7227C5.25 10.5486 5.31914 10.3817 5.44221 10.2586C5.56528 10.1355 5.7322 10.0664 5.90625 10.0664H9.84375V6.12891C9.84375 5.95486 9.91289 5.78794 10.036 5.66487C10.159 5.5418 10.326 5.47266 10.5 5.47266Z" fill="#242424"/>
</svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-AvenirNextLTPro, 'AvenirNextLTPro'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggdAXsOD04i_childItem_5 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gLiMr-nlFS"
        data-index="5"
        data-show="false"
        class="gdAXsOD04i gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gLiMr-nlFS"
        data-index="5"
        class="gdAXsOD04i gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:16px;--pr:16px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gH03pdxelU gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gesoeg2FfZ">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gesoeg2FfZ "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggesoeg2FfZ_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gesoeg2FfZ">
        .gesoeg2FfZ {

}
.gesoeg2FfZ p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gdAXsOD04i-6:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gdAXsOD04i-6:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gdAXsOD04i-6:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gdAXsOD04i-6:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:21px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#CCCCCC;--bg:#f4f4f4;--shadow:none">
    <div
      data-index="6"
      class="gdAXsOD04i gp-accordion-item gp-overflow-hidden gp-child-item-gdAXsOD04i"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gTI9PSb5MO"
        id="gTI9PSb5MO"
        data-index="6"
        class="gdAXsOD04i gp-accordion-item-gdAXsOD04i-6 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:21px;--pb-mobile:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gdAXsOD04i.gp-accordion-item-gdAXsOD04i-6:hover .gp-collapsible-icon, .gdAXsOD04i.gp-accordion-item-gdAXsOD04i-6:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#121212;width:21px;height:21px"
            data-index="6"
            class="gdAXsOD04i gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg data-id="516676294709085334" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<path d="M10.5 5.47266C10.674 5.47266 10.841 5.5418 10.964 5.66487C11.0871 5.78794 11.1562 5.95486 11.1562 6.12891V10.0664H15.0938C15.2678 10.0664 15.4347 10.1355 15.5578 10.2586C15.6809 10.3817 15.75 10.5486 15.75 10.7227C15.75 10.8967 15.6809 11.0636 15.5578 11.1867C15.4347 11.3098 15.2678 11.3789 15.0938 11.3789H11.1562V15.3164C11.1562 15.4905 11.0871 15.6574 10.964 15.7804C10.841 15.9035 10.674 15.9727 10.5 15.9727C10.326 15.9727 10.159 15.9035 10.036 15.7804C9.91289 15.6574 9.84375 15.4905 9.84375 15.3164V11.3789H5.90625C5.7322 11.3789 5.56528 11.3098 5.44221 11.1867C5.31914 11.0636 5.25 10.8967 5.25 10.7227C5.25 10.5486 5.31914 10.3817 5.44221 10.2586C5.56528 10.1355 5.7322 10.0664 5.90625 10.0664H9.84375V6.12891C9.84375 5.95486 9.91289 5.78794 10.036 5.66487C10.159 5.5418 10.326 5.47266 10.5 5.47266Z" fill="#242424"/>
</svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-AvenirNextLTPro, 'AvenirNextLTPro'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggdAXsOD04i_childItem_6 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gTI9PSb5MO"
        data-index="6"
        data-show="false"
        class="gdAXsOD04i gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gTI9PSb5MO"
        data-index="6"
        class="gdAXsOD04i gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:16px;--pr:16px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="ghP882rsTp gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g9mkfGea8H">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g9mkfGea8H "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg9mkfGea8H_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g9mkfGea8H">
        .g9mkfGea8H {

}
.g9mkfGea8H p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gdAXsOD04i-7:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gdAXsOD04i-7:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gdAXsOD04i-7:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gdAXsOD04i-7:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:21px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#CCCCCC;--bg:#f4f4f4;--shadow:none">
    <div
      data-index="7"
      class="gdAXsOD04i gp-accordion-item gp-overflow-hidden gp-child-item-gdAXsOD04i"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gpnLbyiyZL"
        id="gpnLbyiyZL"
        data-index="7"
        class="gdAXsOD04i gp-accordion-item-gdAXsOD04i-7 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:21px;--pb-mobile:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gdAXsOD04i.gp-accordion-item-gdAXsOD04i-7:hover .gp-collapsible-icon, .gdAXsOD04i.gp-accordion-item-gdAXsOD04i-7:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#121212;width:21px;height:21px"
            data-index="7"
            class="gdAXsOD04i gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg data-id="516676294709085334" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<path d="M10.5 5.47266C10.674 5.47266 10.841 5.5418 10.964 5.66487C11.0871 5.78794 11.1562 5.95486 11.1562 6.12891V10.0664H15.0938C15.2678 10.0664 15.4347 10.1355 15.5578 10.2586C15.6809 10.3817 15.75 10.5486 15.75 10.7227C15.75 10.8967 15.6809 11.0636 15.5578 11.1867C15.4347 11.3098 15.2678 11.3789 15.0938 11.3789H11.1562V15.3164C11.1562 15.4905 11.0871 15.6574 10.964 15.7804C10.841 15.9035 10.674 15.9727 10.5 15.9727C10.326 15.9727 10.159 15.9035 10.036 15.7804C9.91289 15.6574 9.84375 15.4905 9.84375 15.3164V11.3789H5.90625C5.7322 11.3789 5.56528 11.3098 5.44221 11.1867C5.31914 11.0636 5.25 10.8967 5.25 10.7227C5.25 10.5486 5.31914 10.3817 5.44221 10.2586C5.56528 10.1355 5.7322 10.0664 5.90625 10.0664H9.84375V6.12891C9.84375 5.95486 9.91289 5.78794 10.036 5.66487C10.159 5.5418 10.326 5.47266 10.5 5.47266Z" fill="#242424"/>
</svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-AvenirNextLTPro, 'AvenirNextLTPro'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggdAXsOD04i_childItem_7 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gpnLbyiyZL"
        data-index="7"
        data-show="false"
        class="gdAXsOD04i gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gpnLbyiyZL"
        data-index="7"
        class="gdAXsOD04i gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:16px;--pr:16px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gcDzh30wCP gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gk-ef8EKR6">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gk-ef8EKR6 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggk-ef8EKR6_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gk-ef8EKR6">
        .gk-ef8EKR6 {

}
.gk-ef8EKR6 p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gdAXsOD04i-8:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gdAXsOD04i-8:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gdAXsOD04i-8:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gdAXsOD04i-8:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:21px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#CCCCCC;--bg:#f4f4f4;--shadow:none">
    <div
      data-index="8"
      class="gdAXsOD04i gp-accordion-item gp-overflow-hidden gp-child-item-gdAXsOD04i"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="g-m40DZTzS"
        id="g-m40DZTzS"
        data-index="8"
        class="gdAXsOD04i gp-accordion-item-gdAXsOD04i-8 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:21px;--pb-mobile:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gdAXsOD04i.gp-accordion-item-gdAXsOD04i-8:hover .gp-collapsible-icon, .gdAXsOD04i.gp-accordion-item-gdAXsOD04i-8:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#121212;width:21px;height:21px"
            data-index="8"
            class="gdAXsOD04i gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg data-id="516676294709085334" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<path d="M10.5 5.47266C10.674 5.47266 10.841 5.5418 10.964 5.66487C11.0871 5.78794 11.1562 5.95486 11.1562 6.12891V10.0664H15.0938C15.2678 10.0664 15.4347 10.1355 15.5578 10.2586C15.6809 10.3817 15.75 10.5486 15.75 10.7227C15.75 10.8967 15.6809 11.0636 15.5578 11.1867C15.4347 11.3098 15.2678 11.3789 15.0938 11.3789H11.1562V15.3164C11.1562 15.4905 11.0871 15.6574 10.964 15.7804C10.841 15.9035 10.674 15.9727 10.5 15.9727C10.326 15.9727 10.159 15.9035 10.036 15.7804C9.91289 15.6574 9.84375 15.4905 9.84375 15.3164V11.3789H5.90625C5.7322 11.3789 5.56528 11.3098 5.44221 11.1867C5.31914 11.0636 5.25 10.8967 5.25 10.7227C5.25 10.5486 5.31914 10.3817 5.44221 10.2586C5.56528 10.1355 5.7322 10.0664 5.90625 10.0664H9.84375V6.12891C9.84375 5.95486 9.91289 5.78794 10.036 5.66487C10.159 5.5418 10.326 5.47266 10.5 5.47266Z" fill="#242424"/>
</svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-AvenirNextLTPro, 'AvenirNextLTPro'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggdAXsOD04i_childItem_8 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="g-m40DZTzS"
        data-index="8"
        data-show="false"
        class="gdAXsOD04i gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="g-m40DZTzS"
        data-index="8"
        class="gdAXsOD04i gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:16px;--pr:16px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gFV_z8OV3X gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gzI0APCc-T">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gzI0APCc-T "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggzI0APCc-T_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gzI0APCc-T">
        .gzI0APCc-T {

}
.gzI0APCc-T p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gdAXsOD04i-9:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gdAXsOD04i-9:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gdAXsOD04i-9:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gdAXsOD04i-9:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:21px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#CCCCCC;--bg:#f4f4f4;--shadow:none">
    <div
      data-index="9"
      class="gdAXsOD04i gp-accordion-item gp-overflow-hidden gp-child-item-gdAXsOD04i"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gSxHTpzwUI"
        id="gSxHTpzwUI"
        data-index="9"
        class="gdAXsOD04i gp-accordion-item-gdAXsOD04i-9 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:21px;--pb-mobile:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gdAXsOD04i.gp-accordion-item-gdAXsOD04i-9:hover .gp-collapsible-icon, .gdAXsOD04i.gp-accordion-item-gdAXsOD04i-9:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#121212;width:21px;height:21px"
            data-index="9"
            class="gdAXsOD04i gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg data-id="516676294709085334" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<path d="M10.5 5.47266C10.674 5.47266 10.841 5.5418 10.964 5.66487C11.0871 5.78794 11.1562 5.95486 11.1562 6.12891V10.0664H15.0938C15.2678 10.0664 15.4347 10.1355 15.5578 10.2586C15.6809 10.3817 15.75 10.5486 15.75 10.7227C15.75 10.8967 15.6809 11.0636 15.5578 11.1867C15.4347 11.3098 15.2678 11.3789 15.0938 11.3789H11.1562V15.3164C11.1562 15.4905 11.0871 15.6574 10.964 15.7804C10.841 15.9035 10.674 15.9727 10.5 15.9727C10.326 15.9727 10.159 15.9035 10.036 15.7804C9.91289 15.6574 9.84375 15.4905 9.84375 15.3164V11.3789H5.90625C5.7322 11.3789 5.56528 11.3098 5.44221 11.1867C5.31914 11.0636 5.25 10.8967 5.25 10.7227C5.25 10.5486 5.31914 10.3817 5.44221 10.2586C5.56528 10.1355 5.7322 10.0664 5.90625 10.0664H9.84375V6.12891C9.84375 5.95486 9.91289 5.78794 10.036 5.66487C10.159 5.5418 10.326 5.47266 10.5 5.47266Z" fill="#242424"/>
</svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-AvenirNextLTPro, 'AvenirNextLTPro'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggdAXsOD04i_childItem_9 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gSxHTpzwUI"
        data-index="9"
        data-show="false"
        class="gdAXsOD04i gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gSxHTpzwUI"
        data-index="9"
        class="gdAXsOD04i gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:16px;--pr:16px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gMX9ec9E7r gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gr-A7Q9brs">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gr-A7Q9brs "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggr-A7Q9brs_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gr-A7Q9brs">
        .gr-A7Q9brs {

}
.gr-A7Q9brs p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gdAXsOD04i-10:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gdAXsOD04i-10:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gdAXsOD04i-10:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gdAXsOD04i-10:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:21px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#CCCCCC;--bg:#f4f4f4;--shadow:none">
    <div
      data-index="10"
      class="gdAXsOD04i gp-accordion-item gp-overflow-hidden gp-child-item-gdAXsOD04i"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gl4Fchznt6"
        id="gl4Fchznt6"
        data-index="10"
        class="gdAXsOD04i gp-accordion-item-gdAXsOD04i-10 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:21px;--pb-mobile:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gdAXsOD04i.gp-accordion-item-gdAXsOD04i-10:hover .gp-collapsible-icon, .gdAXsOD04i.gp-accordion-item-gdAXsOD04i-10:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#121212;width:21px;height:21px"
            data-index="10"
            class="gdAXsOD04i gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg data-id="516676294709085334" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<path d="M10.5 5.47266C10.674 5.47266 10.841 5.5418 10.964 5.66487C11.0871 5.78794 11.1562 5.95486 11.1562 6.12891V10.0664H15.0938C15.2678 10.0664 15.4347 10.1355 15.5578 10.2586C15.6809 10.3817 15.75 10.5486 15.75 10.7227C15.75 10.8967 15.6809 11.0636 15.5578 11.1867C15.4347 11.3098 15.2678 11.3789 15.0938 11.3789H11.1562V15.3164C11.1562 15.4905 11.0871 15.6574 10.964 15.7804C10.841 15.9035 10.674 15.9727 10.5 15.9727C10.326 15.9727 10.159 15.9035 10.036 15.7804C9.91289 15.6574 9.84375 15.4905 9.84375 15.3164V11.3789H5.90625C5.7322 11.3789 5.56528 11.3098 5.44221 11.1867C5.31914 11.0636 5.25 10.8967 5.25 10.7227C5.25 10.5486 5.31914 10.3817 5.44221 10.2586C5.56528 10.1355 5.7322 10.0664 5.90625 10.0664H9.84375V6.12891C9.84375 5.95486 9.91289 5.78794 10.036 5.66487C10.159 5.5418 10.326 5.47266 10.5 5.47266Z" fill="#242424"/>
</svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-AvenirNextLTPro, 'AvenirNextLTPro'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggdAXsOD04i_childItem_10 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gl4Fchznt6"
        data-index="10"
        data-show="false"
        class="gdAXsOD04i gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gl4Fchznt6"
        data-index="10"
        class="gdAXsOD04i gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:16px;--pr:16px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      enableLazyloadImage="true" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gdexw_HblT gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gDpc1G2x0j">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gDpc1G2x0j "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggDpc1G2x0j_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gdAXsOD04i-11:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gdAXsOD04i-11:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gdAXsOD04i-11:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gdAXsOD04i-11:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:21px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#CCCCCC;--bg:#f4f4f4;--shadow:none">
    <div
      data-index="11"
      class="gdAXsOD04i gp-accordion-item gp-overflow-hidden gp-child-item-gdAXsOD04i"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gDTvSSs9kH"
        id="gDTvSSs9kH"
        data-index="11"
        class="gdAXsOD04i gp-accordion-item-gdAXsOD04i-11 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:21px;--pb-mobile:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gdAXsOD04i.gp-accordion-item-gdAXsOD04i-11:hover .gp-collapsible-icon, .gdAXsOD04i.gp-accordion-item-gdAXsOD04i-11:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#121212;width:21px;height:21px"
            data-index="11"
            class="gdAXsOD04i gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg data-id="516676294709085334" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<path d="M10.5 5.47266C10.674 5.47266 10.841 5.5418 10.964 5.66487C11.0871 5.78794 11.1562 5.95486 11.1562 6.12891V10.0664H15.0938C15.2678 10.0664 15.4347 10.1355 15.5578 10.2586C15.6809 10.3817 15.75 10.5486 15.75 10.7227C15.75 10.8967 15.6809 11.0636 15.5578 11.1867C15.4347 11.3098 15.2678 11.3789 15.0938 11.3789H11.1562V15.3164C11.1562 15.4905 11.0871 15.6574 10.964 15.7804C10.841 15.9035 10.674 15.9727 10.5 15.9727C10.326 15.9727 10.159 15.9035 10.036 15.7804C9.91289 15.6574 9.84375 15.4905 9.84375 15.3164V11.3789H5.90625C5.7322 11.3789 5.56528 11.3098 5.44221 11.1867C5.31914 11.0636 5.25 10.8967 5.25 10.7227C5.25 10.5486 5.31914 10.3817 5.44221 10.2586C5.56528 10.1355 5.7322 10.0664 5.90625 10.0664H9.84375V6.12891C9.84375 5.95486 9.91289 5.78794 10.036 5.66487C10.159 5.5418 10.326 5.47266 10.5 5.47266Z" fill="#242424"/>
</svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-AvenirNextLTPro, 'AvenirNextLTPro'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggdAXsOD04i_childItem_11 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gDTvSSs9kH"
        data-index="11"
        data-show="false"
        class="gdAXsOD04i gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gDTvSSs9kH"
        data-index="11"
        class="gdAXsOD04i gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:16px;--pr:16px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      enableLazyloadImage="true" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gTvS9FcQn5 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gkziGnW2Cx">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gkziGnW2Cx "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggkziGnW2Cx_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-539674351809594272 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/weargales/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=539674335384699808&sectionId=539674351809594272)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggPtLIRAzSG_text","label":"ggPtLIRAzSG_text","default":"Frequently Asked Questions"},{"type":"html","id":"ggdAXsOD04i_childItem_0","label":"ggdAXsOD04i_childItem_0","default":"<p><strong>HOW DO STAND+ SHOES FIT?</strong></p>"},{"type":"html","id":"ggdAXsOD04i_childItem_1","label":"ggdAXsOD04i_childItem_1","default":"<p><strong>DOES STAND+ SHOES FIT WIDE FEET?</strong></p>"},{"type":"html","id":"ggdAXsOD04i_childItem_2","label":"ggdAXsOD04i_childItem_2","default":"<p><strong>ARE THEY COMFORTABLE?</strong></p>"},{"type":"html","id":"ggdAXsOD04i_childItem_3","label":"ggdAXsOD04i_childItem_3","default":"<p><strong>DOES STAND+ SHOES HAVE GOOD ARCH SUPPORT?</strong></p>"},{"type":"html","id":"ggdAXsOD04i_childItem_4","label":"ggdAXsOD04i_childItem_4","default":"<p><strong>ARE THE SHOES BREATHABLE?</strong></p>"},{"type":"html","id":"ggdAXsOD04i_childItem_5","label":"ggdAXsOD04i_childItem_5","default":"<p><strong>WILL THEY STRETCH?</strong></p>"},{"type":"html","id":"ggdAXsOD04i_childItem_6","label":"ggdAXsOD04i_childItem_6","default":"<p><strong>DOES STAND+ SHOES FIGHT ODOR?</strong></p>"},{"type":"html","id":"ggdAXsOD04i_childItem_7","label":"ggdAXsOD04i_childItem_7","default":"<p><strong>HOW DO I CLEAN THEM? IS IT EASY?</strong></p>"},{"type":"html","id":"ggdAXsOD04i_childItem_8","label":"ggdAXsOD04i_childItem_8","default":"<p><strong>ARE STAND+ LIGHTWEIGHT?</strong></p>"},{"type":"html","id":"ggdAXsOD04i_childItem_9","label":"ggdAXsOD04i_childItem_9","default":"<p><strong>ARE STAND+ ECO-FRIENDLY?</strong></p>"},{"type":"html","id":"ggdAXsOD04i_childItem_10","label":"ggdAXsOD04i_childItem_10","default":"<p><strong>WHAT IS THE RETURN/ EXCHANGE POLICY?</strong></p>"},{"type":"html","id":"ggdAXsOD04i_childItem_11","label":"ggdAXsOD04i_childItem_11","default":"<p><strong>HOW CAN I CONTACT CUSTOMER SUPPORT?</strong></p>"},{"type":"html","id":"ggbnRzKHjCZ_text","label":"ggbnRzKHjCZ_text","default":"<p>STAND+ shoes run true to size and fit the following widths below:</p><p>&nbsp;</p><p><strong>AntiGrav1</strong> - All widths - True to size.</p><p><strong>AntiGrav2</strong> - All widths - True to size.</p><p><strong>Gales Frontline</strong> - Normal to narrow width - Order  size up for wide feet.</p><p><strong>Gales Pro Line</strong> - Wide width - Order  size down for normal to narrow feet.</p>"},{"type":"html","id":"ggKbgy7vOe6_text","label":"ggKbgy7vOe6_text","default":"<p>Yes! AntiGrav1, AntiGrav2, and Gales Pro Line shoes fit normal to wide-width feet, while Gales Frontline shoes accommodate normal to narrow-width feet.&nbsp;</p>"},{"type":"html","id":"gg-UI9GFpA7_text","label":"gg-UI9GFpA7_text","default":"<p><span style=\"background-color:transparent;color:rgb(22,22,22);font-size:12pt;\">Imagine walking on clouds or fluffy marshmallows. STAND+ shoes are softer than that!&nbsp; Our XL Extralight material disperses energy to reduce pressure on knees, backs, and joints during long shifts, while our premium OrthoLite insoles add an even deeper layer of comfort and cushioning.</span></p><p><br>&nbsp;</p><p><span style=\"background-color:transparent;color:rgb(22,22,22);font-size:12pt;\">In </span><a href=\"https://www.standshoes.com/pages/heeluxe-study-full-report\"><span style=\"background-color:transparent;color:rgb(22,22,22);font-size:12pt;\">extensive third-party comfort studies</span></a><span style=\"background-color:transparent;color:rgb(22,22,22);font-size:12pt;\"> vs. athletic and workwear shoes, STAND+ ranked #1 for Softest Cushioning, Best Overall Fit, Lowest Heel Pressure, and Best Standing Durability.</span></p>"},{"type":"html","id":"gg8968SRWao_text","label":"gg8968SRWao_text","default":"<p>STAND+ OrthoLite insoles are specifically designed with 7mm of extra arch support. If desired, they can be easily removed and replaced with orthotics or insoles of your choosing.</p>"},{"type":"html","id":"ggSC8-qQM8A_text","label":"ggSC8-qQM8A_text","default":"<p>STAND+ shoes are strategically designed with ventilation holes that allow for breathability. Our OrthoLite insoles also feature a moisture management system, helping to move moisture away from the foot to provide a cooler, drier, healthier shoe environment.</p>"},{"type":"html","id":"ggesoeg2FfZ_text","label":"ggesoeg2FfZ_text","default":"<p>STAND+ shoes are designed to fit snugly in all the right places to keep your feet secure.&nbsp; For a customized fit, remove your STAND+ shoes and place them under high heat for 2-3 minutes.&nbsp; When warm and safe to touch, insert your feet with socks on and let your shoes cool to room temperature.&nbsp; They will hold their new shape specific to your feet!</p>"},{"type":"html","id":"gg9mkfGea8H_text","label":"gg9mkfGea8H_text","default":"<p>STAND+ OrthoLite insoles are treated with Aegis antimicrobial solution, reducing moisture, odor, and bacteria.</p>"},{"type":"html","id":"ggk-ef8EKR6_text","label":"ggk-ef8EKR6_text","default":"<p>STAND+ shoes can be wiped clean in seconds!&nbsp; With no laces, cracks, or crevices and fluid-resistant materials, our shoes are designed to protect against the toughest stains and messes.&nbsp; As a bonus, STAND+ OrthoLite insoles are also easily removable and machine washable. <a href=\"https://www.standshoes.com/pages/care-instructionshttps://www.standshoes.com/pages/care-instructions\"><u>Full Care Instructions Here</u></a></p>"},{"type":"html","id":"ggzI0APCc-T_text","label":"ggzI0APCc-T_text","default":"<p>STAND+ XL Extralight materials are 3x lighter than comparable materials without sacrificing comfort or durability. Weighing in at an average of 5.7 ounces, our shoes are lighter than an iPhone!</p>"},{"type":"html","id":"ggr-A7Q9brs_text","label":"ggr-A7Q9brs_text","default":"<p>STAND+ shoes, materials, and manufacturing processes are designed with the environment in mind. We utilize solar-powered production facilities, partially recycled materials, and recyclable packaging. STAND+ is also vegan-friendly! In addition, our XL Xtralight materials are accredited with UNI EN ISO 9001, SINCERT IIP, CISQ, and IQNet certifications.</p>"},{"type":"html","id":"ggDpc1G2x0j_text","label":"ggDpc1G2x0j_text","default":"<p>We have a 30-day return policy, which means you have 30 days after receiving your item to request a return.&nbsp;</p><p>&nbsp;</p><p>To be eligible for a return, your item must be in the same condition that you received it, unworn or unused, with tags, and in its original packaging. Youll also need the receipt or proof of purchase.</p><p>&nbsp;</p><p>To start a return, visit our <a href=\"https://www.standshoes.com/pages/contact-us\">contact page </a>or email us at&nbsp;<a href=\"mailto:hello@standshoes.com\"><u>hello@standshoes.com</u></a>. If your return is accepted, well send you a return shipping label, as well as instructions on how and where to send your package. Items sent back to us without first requesting a return will not be accepted.</p><p>&nbsp;</p><p>You can always contact us for any return question at <a href=\"mailto:hello@standshoes.com\"><u>hello@standshoes.com</u></a>.</p><p>&nbsp;</p><p>Visit our full <a href=\"https://www.standshoes.com/policies/refund-policy\">Returns and Refunds Policy</a></p>"},{"type":"html","id":"ggkziGnW2Cx_text","label":"ggkziGnW2Cx_text","default":"<p>The STAND+ Customer Service team can be reached through our customer support chat. Alternatively, you can visit <a href=\"https://www.standshoes.com/pages/contact-us\"><u>Contact Us</u></a>or email us at hello@standshoes.com.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
