

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-539674351172060307.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-539674351172060307.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-539674351172060307.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-539674351172060307.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-539674351172060307.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-539674351172060307.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-539674351172060307.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-539674351172060307.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-539674351172060307.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-539674351172060307.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-539674351172060307.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-539674351172060307.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-539674351172060307.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-539674351172060307.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-539674351172060307.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-539674351172060307.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-539674351172060307.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-539674351172060307.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-539674351172060307.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-539674351172060307.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-539674351172060307.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-539674351172060307.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-539674351172060307.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-539674351172060307.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-539674351172060307.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-539674351172060307.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-539674351172060307.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-539674351172060307.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-539674351172060307.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-539674351172060307.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-539674351172060307.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-539674351172060307.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-539674351172060307.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-539674351172060307.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-539674351172060307.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-539674351172060307.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-539674351172060307.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-539674351172060307.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-539674351172060307.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-539674351172060307.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-539674351172060307.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-539674351172060307.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-539674351172060307.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-539674351172060307.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-539674351172060307.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-539674351172060307.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-539674351172060307.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-539674351172060307.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-539674351172060307.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-539674351172060307.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-539674351172060307.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-539674351172060307.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-539674351172060307.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-539674351172060307.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-539674351172060307.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-539674351172060307.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-539674351172060307.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-539674351172060307.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-539674351172060307.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-539674351172060307 .gp-relative{position:relative}.gps-539674351172060307 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-539674351172060307 .gp-mb-0{margin-bottom:0}.gps-539674351172060307 .gp-flex{display:flex}.gps-539674351172060307 .gp-inline-flex{display:inline-flex}.gps-539674351172060307 .gp-grid{display:grid}.gps-539674351172060307 .\!gp-hidden{display:none!important}.gps-539674351172060307 .gp-hidden{display:none}.gps-539674351172060307 .gp-max-w-full{max-width:100%}.gps-539674351172060307 .gp-flex-col{flex-direction:column}.gps-539674351172060307 .gp-items-center{align-items:center}.gps-539674351172060307 .gp-justify-center{justify-content:center}.gps-539674351172060307 .gp-gap-y-0{row-gap:0}.gps-539674351172060307 .gp-overflow-hidden{overflow:hidden}.gps-539674351172060307 .gp-leading-\[0\]{line-height:0}.gps-539674351172060307 .gp-text-g-line-3{color:var(--g-c-line-3)}.gps-539674351172060307 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-539674351172060307 .gp-duration-200{transition-duration:.2s}.gps-539674351172060307 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-539674351172060307 .tablet\:\!gp-hidden{display:none!important}.gps-539674351172060307 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-539674351172060307 .mobile\:\!gp-hidden{display:none!important}.gps-539674351172060307 .mobile\:gp-hidden{display:none}}.gps-539674351172060307 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-539674351172060307 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-539674351172060307 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-539674351172060307 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-539674351172060307 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-539674351172060307 .\[\&_p\]\:gp-inline p{display:inline}.gps-539674351172060307 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-539674351172060307 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gc3hHVquda" data-id="gc3hHVquda"
        style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pt:48px;--pl:50px;--pb:48px;--pr:50px;--pt-mobile:42px;--pl-mobile:30px;--pb-mobile:42px;--pr-mobile:30px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#333333;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gc3hHVquda gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="giyytA1V24 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gbkbuAN8Xh" data-id="gbkbuAN8Xh"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbkbuAN8Xh gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0hkfrQPbr gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gpGjrLpnjz" data-id="gpGjrLpnjz"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb-mobile:24px;--cg:30px;--cg-tablet:30px;--cg-mobile:24px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gpGjrLpnjz gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQ92zhWRPN gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:8px;--ta:center"
      class="gp-leading-[0] gbPrhrAns4"
    >
      <div 
      data-id="gbPrhrAns4"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:40px;--h:40px;--minw:40px;--height-desktop:40px;--height-tablet:40px;--height-mobile:40px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="516534734868710550" xmlns="http://www.w3.org/2000/svg" width="40" height="41" viewBox="0 0 40 41" fill="none">
<path d="M38.8891 19.6812L35.888 12.8913C35.7829 12.6505 35.6102 12.4453 35.3909 12.3007C35.1715 12.1561 34.9149 12.0782 34.6522 12.0765H27.387L27.8215 8.1519C27.8429 7.96138 27.8237 7.76849 27.7652 7.58593C27.7067 7.40336 27.6102 7.23526 27.482 7.09267C27.3551 6.95199 27.2001 6.83944 27.027 6.76226C26.8539 6.68508 26.6666 6.64498 26.4771 6.64453H7.77765C7.41749 6.64453 7.07208 6.7876 6.81741 7.04228C6.56274 7.29695 6.41966 7.64236 6.41966 8.00252C6.41966 8.36268 6.56274 8.70809 6.81741 8.96276C7.07208 9.21743 7.41749 9.3605 7.77765 9.3605H14.5676C14.9277 9.3605 15.2731 9.50358 15.5278 9.75825C15.7825 10.0129 15.9256 10.3583 15.9256 10.7185C15.9256 11.0786 15.7825 11.4241 15.5278 11.6787C15.2731 11.9334 14.9277 12.0765 14.5676 12.0765H5.06168C4.70152 12.0765 4.35611 12.2195 4.10143 12.4742C3.84676 12.7289 3.70369 13.0743 3.70369 13.4345C3.70369 13.7946 3.84676 14.14 4.10143 14.3947C4.35611 14.6494 4.70152 14.7924 5.06168 14.7924H18.6415C19.0017 14.7924 19.3471 14.9355 19.6018 15.1902C19.8565 15.4449 19.9995 15.7903 19.9995 16.1504C19.9995 16.5106 19.8565 16.856 19.6018 17.1107C19.3471 17.3653 19.0017 17.5084 18.6415 17.5084H9.13563C8.77547 17.5084 8.43007 17.6515 8.17539 17.9062C7.92072 18.1608 7.77765 18.5062 7.77765 18.8664C7.77765 19.2266 7.92072 19.572 8.17539 19.8266C8.43007 20.0813 8.77547 20.2244 9.13563 20.2244H14.5676C14.9277 20.2244 15.2731 20.3675 15.5278 20.6221C15.7825 20.8768 15.9256 21.2222 15.9256 21.5824C15.9256 21.9425 15.7825 22.288 15.5278 22.5426C15.2731 22.7973 14.9277 22.9404 14.5676 22.9404H3.70369C3.34353 22.9404 2.99812 23.0834 2.74345 23.3381C2.48878 23.5928 2.3457 23.9382 2.3457 24.2984C2.3457 24.6585 2.48878 25.0039 2.74345 25.2586C2.99812 25.5133 3.34353 25.6563 3.70369 25.6563H6.41966C6.77982 25.6563 7.12523 25.7994 7.3799 26.0541C7.63457 26.3088 7.77765 26.6542 7.77765 27.0143C7.77765 27.3745 7.63457 27.7199 7.3799 27.9746C7.12523 28.2292 6.77982 28.3723 6.41966 28.3723H5.06168C4.70152 28.3723 4.35611 28.5154 4.10143 28.7701C3.84676 29.0247 3.70369 29.3701 3.70369 29.7303C3.70369 30.0905 3.84676 30.4359 4.10143 30.6905C4.35611 30.9452 4.70152 31.0883 5.06168 31.0883H8.93194C9.07857 31.661 9.35766 32.1913 9.74673 32.6364C10.0764 33.005 10.4804 33.2996 10.9321 33.5009C11.3839 33.7022 11.8731 33.8056 12.3676 33.8043C13.2045 33.7803 14.0157 33.5098 14.6994 33.0267C15.3831 32.5435 15.9088 31.8692 16.2107 31.0883H26.5858C26.7324 31.661 27.0115 32.1913 27.4005 32.6364C27.7302 33.005 28.1342 33.2996 28.586 33.5009C29.0377 33.7022 29.5269 33.8056 30.0215 33.8043C30.8583 33.7803 31.6695 33.5098 32.3532 33.0267C33.0369 32.5435 33.5627 31.8692 33.8646 31.0883H36.5805C36.9162 31.0903 37.2408 30.9679 37.4916 30.7447C37.7424 30.5215 37.9016 30.2134 37.9385 29.8797L38.9842 20.3738C39.0214 20.1386 38.9883 19.8977 38.8891 19.6812ZM12.3676 31.0883C12.255 31.0931 12.1428 31.0725 12.0393 31.0278C11.9358 30.9831 11.8438 30.9156 11.7701 30.8303C11.6635 30.6984 11.5855 30.5458 11.5411 30.3821C11.4967 30.2185 11.4868 30.0474 11.5121 29.8797C11.5468 29.4984 11.7114 29.1406 11.9784 28.8662C12.2454 28.5918 12.5985 28.4174 12.9787 28.3723C13.0913 28.3674 13.2036 28.3881 13.3071 28.4328C13.4106 28.4775 13.5026 28.545 13.5763 28.6303C13.6828 28.7622 13.7608 28.9148 13.8053 29.0785C13.8497 29.2421 13.8596 29.4132 13.8343 29.5809C13.7996 29.9622 13.635 30.32 13.368 30.5944C13.101 30.8688 12.7478 31.0432 12.3676 31.0883ZM30.0215 31.0883C29.9089 31.0931 29.7966 31.0725 29.6931 31.0278C29.5896 30.9831 29.4976 30.9156 29.4239 30.8303C29.3173 30.6984 29.2394 30.5458 29.1949 30.3821C29.1505 30.2185 29.1406 30.0474 29.1659 29.8797C29.2006 29.4984 29.3652 29.1406 29.6322 28.8662C29.8992 28.5918 30.2524 28.4174 30.6326 28.3723C30.7452 28.3674 30.8574 28.3881 30.9609 28.4328C31.0644 28.4775 31.1564 28.545 31.2301 28.6303C31.3367 28.7622 31.4147 28.9148 31.4591 29.0785C31.5035 29.2421 31.5134 29.4132 31.4881 29.5809C31.4534 29.9622 31.2888 30.32 31.0218 30.5944C30.7548 30.8688 30.4017 31.0432 30.0215 31.0883ZM36.1324 21.5824H30.1301C29.9406 21.5819 29.7533 21.5418 29.5802 21.4646C29.4072 21.3875 29.2522 21.2749 29.1252 21.1342C28.997 20.9917 28.9005 20.8235 28.842 20.641C28.7835 20.4584 28.7643 20.2655 28.7857 20.075L29.2338 16.0011C29.2739 15.6698 29.4344 15.3649 29.6849 15.1445C29.9353 14.9241 30.2582 14.8036 30.5918 14.806H33.7559L36.2954 20.4417L36.1324 21.5824Z" fill="white"/>
<path d="M3.70425 20.2238C4.06441 20.2238 4.40982 20.0807 4.66449 19.826C4.91917 19.5714 5.06224 19.226 5.06224 18.8658C5.06224 18.5056 4.91917 18.1602 4.66449 17.9056C4.40982 17.6509 4.06441 17.5078 3.70425 17.5078H2.34627C1.98611 17.5078 1.6407 17.6509 1.38603 17.9056C1.13135 18.1602 0.988281 18.5056 0.988281 18.8658C0.988281 19.226 1.13135 19.5714 1.38603 19.826C1.6407 20.0807 1.98611 20.2238 2.34627 20.2238H3.70425Z" fill="white"/>
</svg></span>
    </div>
      </div>
    </div>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gi8cpmLgxk">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gi8cpmLgxk "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:8px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggi8cpmLgxk_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gi8cpmLgxk">
        .gi8cpmLgxk {

}
.gi8cpmLgxk p {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gm7Q6kaMW4">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gm7Q6kaMW4 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggm7Q6kaMW4_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gm7Q6kaMW4">
        .gm7Q6kaMW4 {

}
.gm7Q6kaMW4 p {

}
      </style>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gZX0qAHaaf gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:8px;--ta:center"
      class="gp-leading-[0] gJwOy4J6p9"
    >
      <div 
      data-id="gJwOy4J6p9"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:40px;--h:40px;--minw:40px;--height-desktop:40px;--height-tablet:40px;--height-mobile:40px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="516535214210548886" xmlns="http://www.w3.org/2000/svg" width="40" height="41" viewBox="0 0 40 41" fill="none">
<path d="M20.4333 1.47789C19.8808 1.46414 19.3283 1.47789 18.7783 1.51414C15.2108 1.74789 11.8433 2.90039 8.87582 5.13289V3.96789C8.87332 3.28164 8.31707 2.72539 7.63082 2.72289C6.94082 2.72039 6.37832 3.27789 6.37582 3.96789V7.8429C6.37582 8.95665 7.71832 9.51289 8.50707 8.72914C14.2808 2.95664 23.4196 2.35789 29.8958 7.32789C36.3721 12.2979 38.1571 21.2779 34.0771 28.3479C29.9946 35.4179 21.3296 38.3554 13.7871 35.2304C6.24457 32.1054 2.19832 23.9041 4.31207 16.0191C4.49207 15.3516 4.09457 14.6654 3.42582 14.4879C2.76082 14.3066 2.07457 14.6991 1.89207 15.3641C-0.54043 24.4441 4.14332 33.9479 12.8271 37.5466C21.5108 41.1441 31.5383 37.7304 36.2383 29.5929C40.9383 21.4554 38.8783 11.0641 31.4208 5.34289C28.1583 2.83914 24.2983 1.56414 20.4333 1.47789ZM20.0046 7.43039C12.9533 7.43039 7.20457 13.1704 7.20457 20.2204C7.20457 27.2704 12.9546 33.0179 20.0046 33.0179C27.0546 33.0179 32.7921 27.2691 32.7921 20.2204C32.7921 13.1716 27.0546 7.43039 20.0046 7.43039ZM20.0046 12.3666C20.6946 12.3691 21.2521 12.9316 21.2496 13.6216V13.8141C22.4996 13.9841 23.5708 14.7591 24.1396 15.8379C24.4596 16.4491 24.2233 17.2041 23.6108 17.5254C23.0021 17.8454 22.2458 17.6104 21.9233 17.0004C21.6996 16.5741 21.2671 16.2804 20.7321 16.2804H19.5696C18.8021 16.2804 18.2221 16.8604 18.2221 17.6279C18.2221 18.3954 18.8021 18.9754 19.5696 18.9754H20.0046H20.0658H20.4371C22.5471 18.9754 24.2746 20.7141 24.2746 22.8229C24.2746 24.6541 22.9733 26.1991 21.2496 26.5779V26.8266C21.2471 27.5129 20.6908 28.0691 20.0046 28.0716C19.3133 28.0754 18.7496 27.5179 18.7471 26.8266V26.6316C17.4996 26.4591 16.4283 25.6891 15.8608 24.6129C15.5383 24.0029 15.7746 23.2441 16.3858 22.9229C16.9983 22.6004 17.7546 22.8379 18.0758 23.4504C18.2996 23.8766 18.7408 24.1679 19.2746 24.1679H20.4371C21.2058 24.1679 21.7746 23.5904 21.7746 22.8229C21.7746 22.0554 21.2058 21.4754 20.4371 21.4754H20.0046H19.5696C17.4596 21.4754 15.7221 19.7366 15.7221 17.6279C15.7221 15.8016 17.0271 14.2579 18.7471 13.8754V13.6216C18.7446 12.9266 19.3083 12.3629 20.0046 12.3666Z" fill="white"/>
</svg></span>
    </div>
      </div>
    </div>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gcods_VrTU">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gcods_VrTU "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:8px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggcods_VrTU_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gcods_VrTU">
        .gcods_VrTU {

}
.gcods_VrTU p {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g_w_ylVH_o">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g_w_ylVH_o "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg_w_ylVH_o_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g_w_ylVH_o">
        .g_w_ylVH_o {

}
.g_w_ylVH_o p {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gpkJZraQS5 gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:8px;--ta:center"
      class="gp-leading-[0] gXAwrwDBMC"
    >
      <div 
      data-id="gXAwrwDBMC"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:40px;--h:40px;--minw:40px;--height-desktop:40px;--height-tablet:40px;--height-mobile:40px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="516535279222260886" xmlns="http://www.w3.org/2000/svg" width="40" height="41" viewBox="0 0 40 41" fill="none">
<path d="M8.33643 13.9072L26.2114 4.34951L19.999 1.22266L1.56836 10.5001L8.33643 13.9072Z" fill="white"/>
<path d="M31.6406 7.08203L13.7656 16.6397L19.9997 19.7781L38.4303 10.5L31.6406 7.08203Z" fill="white"/>
<path d="M19.4911 20.6667L13.2143 17.5072V24.449L10.5 21.7164H7.78571V14.7746L1 11.3594V29.9142L19.4911 39.2222V20.6667Z" fill="white"/>
<path d="M20.5098 20.6667V39.2222L39.0008 29.9142V11.3594L20.5098 20.6667Z" fill="white"/>
</svg></span>
    </div>
      </div>
    </div>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gPFiCUjvWJ">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gPFiCUjvWJ "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:8px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggPFiCUjvWJ_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gPFiCUjvWJ">
        .gPFiCUjvWJ {

}
.gPFiCUjvWJ p {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g12muKavkU">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g12muKavkU "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg12muKavkU_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g12muKavkU">
        .g12muKavkU {

}
.g12muKavkU p {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gUQCTsZL-v gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:8px;--ta:center"
      class="gp-leading-[0] gaSGsMoxym"
    >
      <div 
      data-id="gaSGsMoxym"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:40px;--h:40px;--minw:40px;--height-desktop:40px;--height-tablet:40px;--height-mobile:40px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="516535314907399318" xmlns="http://www.w3.org/2000/svg" width="40" height="41" viewBox="0 0 40 41" fill="none">
<path d="M11.0938 16.8086C9.25209 16.8086 7.75391 18.3068 7.75391 20.1484V29.2031C7.75391 31.0448 9.25209 32.543 11.0938 32.543C12.9354 32.543 14.4336 31.0448 14.4336 29.2031V20.1484C14.4336 18.3068 12.9354 16.8086 11.0938 16.8086Z" fill="white"/>
<path d="M5.52734 20.1486C5.52734 19.8275 5.56972 19.5172 5.6222 19.2109C4.28047 19.6446 3.30078 20.8909 3.30078 22.3752V26.9767C3.30078 28.461 4.28047 29.7073 5.6222 30.141C5.56972 29.8347 5.52734 29.5244 5.52734 29.2033V20.1486Z" fill="white"/>
<path d="M28.9062 16.8086C27.0646 16.8086 25.5664 18.3068 25.5664 20.1484V29.2031C25.5664 31.0448 27.0646 32.543 28.9062 32.543C29.241 32.543 29.558 32.4785 29.8631 32.3865C29.4486 33.7602 28.1867 34.7695 26.6797 34.7695H23.1348C22.6737 33.4765 21.4495 32.543 20 32.543C18.1583 32.543 16.6602 34.0411 16.6602 35.8828C16.6602 37.7245 18.1583 39.2227 20 39.2227C21.4495 39.2227 22.6737 38.2891 23.1348 36.9961H26.6797C29.7489 36.9961 32.2461 34.4989 32.2461 31.4297V29.2031V20.1484C32.2461 18.3068 30.7479 16.8086 28.9062 16.8086Z" fill="white"/>
<path d="M34.3789 19.2109C34.4314 19.5172 34.4738 19.8275 34.4738 20.1486V29.2033C34.4738 29.5244 34.4314 29.8347 34.3789 30.141C35.7206 29.7073 36.7003 28.461 36.7003 26.9767V22.3752C36.7003 20.8909 35.7206 19.6446 34.3789 19.2109Z" fill="white"/>
<path d="M20 1.22266C10.7915 1.22266 3.30078 8.71341 3.30078 17.9219V17.9503C3.96407 17.4481 4.7315 17.0807 5.57833 16.9161C6.09868 9.40535 12.3595 3.44922 20 3.44922C27.6405 3.44922 33.9013 9.40535 34.4217 16.9161C35.2684 17.0806 36.0359 17.4481 36.6992 17.9502V17.9219C36.6992 8.71341 29.2085 1.22266 20 1.22266Z" fill="white"/>
</svg></span>
    </div>
      </div>
    </div>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gTVPkvpLAx">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gTVPkvpLAx "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:8px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggTVPkvpLAx_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gTVPkvpLAx">
        .gTVPkvpLAx {

}
.gTVPkvpLAx p {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gATc8gx8_g">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gATc8gx8_g "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggATc8gx8_g_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gATc8gx8_g">
        .gATc8gx8_g {

}
.gATc8gx8_g p {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-539674351172060307 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/weargales/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=539674335384699808&sectionId=539674351172060307)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggi8cpmLgxk_text","label":"ggi8cpmLgxk_text","default":"<p>Expedited Shipping Available</p>"},{"type":"html","id":"ggm7Q6kaMW4_text","label":"ggm7Q6kaMW4_text","default":"<p>Standard to Next Day Air options</p>"},{"type":"html","id":"ggcods_VrTU_text","label":"ggcods_VrTU_text","default":"<p>HSA/FSA Eligible</p>"},{"type":"html","id":"gg_w_ylVH_o_text","label":"gg_w_ylVH_o_text","default":"<p>Pay with your HSA / FSA Card</p>"},{"type":"html","id":"ggPFiCUjvWJ_text","label":"ggPFiCUjvWJ_text","default":"<p>Satisfaction Guaranteed</p>"},{"type":"html","id":"gg12muKavkU_text","label":"gg12muKavkU_text","default":"<p>Your satisfaction is our top priority</p>"},{"type":"html","id":"ggTVPkvpLAx_text","label":"ggTVPkvpLAx_text","default":"<p>Fast Customer Support</p>"},{"type":"html","id":"ggATc8gx8_g_text","label":"ggATc8gx8_g_text","default":"<p>Quick and responsive customer support.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
