

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-539674350299644832.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-539674350299644832.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-539674350299644832.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-539674350299644832.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-539674350299644832.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-539674350299644832.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-539674350299644832.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-539674350299644832.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-539674350299644832.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-539674350299644832.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-539674350299644832.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-539674350299644832.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-539674350299644832.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-539674350299644832.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-539674350299644832.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-539674350299644832.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-539674350299644832.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-539674350299644832.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-539674350299644832.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-539674350299644832.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-539674350299644832.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-539674350299644832.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-539674350299644832.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-539674350299644832.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-539674350299644832.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-539674350299644832.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-539674350299644832.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-539674350299644832.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-539674350299644832.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-539674350299644832.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-539674350299644832.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-539674350299644832.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-539674350299644832.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-539674350299644832.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-539674350299644832.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-539674350299644832.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-539674350299644832.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-539674350299644832.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-539674350299644832.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-539674350299644832.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-539674350299644832.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-539674350299644832.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-539674350299644832.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-539674350299644832.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-539674350299644832.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-539674350299644832.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-539674350299644832.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-539674350299644832.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-539674350299644832.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-539674350299644832.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-539674350299644832.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-539674350299644832.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-539674350299644832.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-539674350299644832.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-539674350299644832.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-539674350299644832.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-539674350299644832.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-539674350299644832.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-539674350299644832.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-539674350299644832.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-539674350299644832.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-539674350299644832.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-539674350299644832.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-539674350299644832.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-539674350299644832.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-539674350299644832.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-539674350299644832.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-539674350299644832.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-539674350299644832.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-539674350299644832.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-539674350299644832.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-539674350299644832.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-539674350299644832.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-539674350299644832.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-539674350299644832.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-539674350299644832.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-539674350299644832.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-539674350299644832.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-539674350299644832.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-539674350299644832.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-539674350299644832.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-539674350299644832.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-539674350299644832.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-539674350299644832.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-539674350299644832.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-539674350299644832.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-539674350299644832.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-539674350299644832.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-539674350299644832.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-539674350299644832.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-539674350299644832.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-539674350299644832.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-539674350299644832.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-539674350299644832 .gp-relative{position:relative}.gps-539674350299644832 .gp-z-1{z-index:1}.gps-539674350299644832 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-539674350299644832 .gp-mb-0{margin-bottom:0}.gps-539674350299644832 .gp-flex{display:flex}.gps-539674350299644832 .gp-inline-flex{display:inline-flex}.gps-539674350299644832 .gp-grid{display:grid}.gps-539674350299644832 .gp-contents{display:contents}.gps-539674350299644832 .\!gp-hidden{display:none!important}.gps-539674350299644832 .gp-hidden{display:none}.gps-539674350299644832 .gp-h-full{height:100%}.gps-539674350299644832 .gp-w-full{width:100%}.gps-539674350299644832 .gp-max-w-full{max-width:100%}.gps-539674350299644832 .gp-shrink-0{flex-shrink:0}.gps-539674350299644832 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-539674350299644832 .gp-flex-col{flex-direction:column}.gps-539674350299644832 .gp-flex-wrap{flex-wrap:wrap}.gps-539674350299644832 .gp-items-center{align-items:center}.gps-539674350299644832 .gp-justify-center{justify-content:center}.gps-539674350299644832 .gp-gap-y-0{row-gap:0}.gps-539674350299644832 .gp-overflow-hidden{overflow:hidden}.gps-539674350299644832 .gp-break-words{overflow-wrap:break-word}.gps-539674350299644832 .gp-rounded-none{border-radius:0}.gps-539674350299644832 .gp-text-left{text-align:left}.gps-539674350299644832 .gp-text-center{text-align:center}.gps-539674350299644832 .gp-leading-\[0\]{line-height:0}.gps-539674350299644832 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-539674350299644832 .gp-no-underline{text-decoration-line:none}.gps-539674350299644832 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-539674350299644832 .gp-duration-200{transition-duration:.2s}.gps-539674350299644832 .gp-duration-300{transition-duration:.3s}.gps-539674350299644832 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-539674350299644832 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-539674350299644832 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-539674350299644832 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-539674350299644832 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-539674350299644832 .tablet\:\!gp-hidden{display:none!important}.gps-539674350299644832 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-539674350299644832 .mobile\:\!gp-hidden{display:none!important}.gps-539674350299644832 .mobile\:gp-hidden{display:none}}.gps-539674350299644832 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-539674350299644832 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-539674350299644832 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}.gps-539674350299644832 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-539674350299644832 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}.gps-539674350299644832 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-539674350299644832 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-539674350299644832 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}.gps-539674350299644832 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-539674350299644832 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-539674350299644832 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-539674350299644832 .\[\&_p\]\:gp-inline p{display:inline}.gps-539674350299644832 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-539674350299644832 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-539674350299644832 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="g3Ytba4bi3" data-id="g3Ytba4bi3"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#121212;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3Ytba4bi3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gLGtx_kuie gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gHnLXNxiw9" data-id="gHnLXNxiw9"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pt:80px;--pl:50px;--pb:20px;--pr:50px;--mb-mobile:0px;--pt-mobile:20px;--pl-mobile:30px;--pb-mobile:20px;--pr-mobile:30px;--cg:30px;--pc:start;--pc-mobile:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, auto);--w:1240px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gHnLXNxiw9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gkzOSUQRAF gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gFtcMuFLZy" data-id="gFtcMuFLZy"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pb:16px;--pb-mobile:10px;--cg:8px;--pc:start;--gtc:minmax(0, auto);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gFtcMuFLZy gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="guQ0Vrw02t gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="go2A4jGy_w" data-id="go2A4jGy_w"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--pt:8px;--pl:8px;--pb:8px;--pr:8px;--pt-mobile:8px;--pl-mobile:7px;--pb-mobile:8px;--pr-mobile:7px;--cg:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:Auto;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100;--bgc:#f4f4f4;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="go2A4jGy_w gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:start"
      class="gczpcHx5F6 gp-relative gp-flex gp-flex-col"
    >
      
    
    <div
    data-id="gbOw21HOLE"
      
      data-id="gbOw21HOLE"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">

    <div
            class="gp-flex gp-flex-wrap"
            style="--cg:0px;--jc:left">
            <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gGaSo5N71p ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:0px;--pl:2px;--pr:2px;--ta:left"
      class="gp-leading-[0] g7_1fTNv1_"
    >
      <div 
      data-id="g7_1fTNv1_"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#242424;--t:rotate(0deg);--w:16px;--w-mobile:14px;--h:16px;--h-mobile:14px;--minw:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gf3H5ERR-d ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:0px;--pl:2px;--pr:2px;--ta:left"
      class="gp-leading-[0] gTL1RsELQi"
    >
      <div 
      data-id="gTL1RsELQi"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#242424;--t:rotate(0deg);--w:16px;--w-mobile:14px;--h:16px;--h-mobile:14px;--minw:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gtsKgOu3hq ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:0px;--pl:2px;--pr:2px;--ta:left"
      class="gp-leading-[0] giZIBd0O0U"
    >
      <div 
      data-id="giZIBd0O0U"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#242424;--t:rotate(0deg);--w:16px;--w-mobile:14px;--h:16px;--h-mobile:14px;--minw:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gbspqQwMlZ ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:0px;--pl:2px;--pr:2px;--ta:left"
      class="gp-leading-[0] g4kWGvhapD"
    >
      <div 
      data-id="g4kWGvhapD"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#242424;--t:rotate(0deg);--w:16px;--w-mobile:14px;--h:16px;--h-mobile:14px;--minw:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gqkWluRUyg ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:0px;--pl:2px;--pr:2px;--mb-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--ta:left"
      class="gp-leading-[0] gZnzW7xu2P"
    >
      <div 
      data-id="gZnzW7xu2P"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#242424;--t:rotate(0deg);--w:16px;--w-mobile:14px;--h:16px;--h-mobile:14px;--minw:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div>
         </div>
    </div>
  
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:start"
      class="gtnoBQQq6N gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gt4cEFZMoD">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gt4cEFZMoD "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#151211;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggt4cEFZMoD_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gt4cEFZMoD">
        .gt4cEFZMoD {

}
.gt4cEFZMoD p {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gdFoAK4B7y">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gdFoAK4B7y "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:20px;--pt:10px;--mb-mobile:21px"
      >
      <div class="gp-flex" style="--jc:left">
        <h1
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-AvenirNextLTPro, 'AvenirNextLTPro'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:39px;--size-tablet:33px;--size-mobile:24px;--lh:100%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggdFoAK4B7y_text | replace: '$locationOrigin', locationOrigin }}</h1>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper  class="gaUb-3678X ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="gaUb-3678X"
      data-id="gaUb-3678X"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":21,"mobile":14,"tablet":16}}'
       style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:32px;--mb-mobile:21px;--pt-mobile:0px;--pb-mobile:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:8px;--rg-mobile:8px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gaUb-3678X"
            style="--cg:8px;--cg-mobile:4px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#00000000;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#f0784a;--w:100%;--h:100%;--size-desktop:21px;--size-tablet:16px;--size-mobile:14px"
              >
               <?xml version="1.0" encoding="UTF-8"?><svg data-id="539679157626340210" class="id539679157626340210" xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" version="1.1" viewBox="0 0 39.1 37.1">
  <defs>
    <style>
      .id539679157626340210 .cls-1 {
        fill: #ef784a;
        stroke-width: 0px;
      }
    </style>
  </defs>
  <polygon class="cls-1" points="25.3 1.1 13.6 3.2 13.6 13.7 .9 13.7 .9 23.5 13.6 23.5 13.6 36.1 25.3 34 25.3 23.5 37.9 23.5 37.9 13.7 25.3 13.7 25.3 1.1 25.3 1.1"/>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-AvenirNextLTPro, 'AvenirNextLTPro'), var(--g-font-body, body);--weight:400;--ls:normal;--size:19px;--size-tablet:16px;--size-mobile:14px;--c:#FFFFFF">
                {{ section.settings.ggaUb-3678X_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gaUb-3678X"
            style="--cg:8px;--cg-mobile:4px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="1"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#00000000;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#f0784a;--w:100%;--h:100%;--size-desktop:21px;--size-tablet:16px;--size-mobile:14px"
              >
               <?xml version="1.0" encoding="UTF-8"?><svg data-id="539679157626340210" class="id539679157626340210" xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" version="1.1" viewBox="0 0 39.1 37.1">
  <defs>
    <style>
      .id539679157626340210 .cls-1 {
        fill: #ef784a;
        stroke-width: 0px;
      }
    </style>
  </defs>
  <polygon class="cls-1" points="25.3 1.1 13.6 3.2 13.6 13.7 .9 13.7 .9 23.5 13.6 23.5 13.6 36.1 25.3 34 25.3 23.5 37.9 23.5 37.9 13.7 25.3 13.7 25.3 1.1 25.3 1.1"/>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-AvenirNextLTPro, 'AvenirNextLTPro'), var(--g-font-body, body);--weight:400;--ls:normal;--size:19px;--size-tablet:16px;--size-mobile:14px;--c:#FFFFFF">
                {{ section.settings.ggaUb-3678X_childItem_1 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gaUb-3678X"
            style="--cg:8px;--cg-mobile:4px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="2"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#00000000;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#f0784a;--w:100%;--h:100%;--size-desktop:21px;--size-tablet:16px;--size-mobile:14px"
              >
               <?xml version="1.0" encoding="UTF-8"?><svg data-id="539679157626340210" class="id539679157626340210" xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" version="1.1" viewBox="0 0 39.1 37.1">
  <defs>
    <style>
      .id539679157626340210 .cls-1 {
        fill: #ef784a;
        stroke-width: 0px;
      }
    </style>
  </defs>
  <polygon class="cls-1" points="25.3 1.1 13.6 3.2 13.6 13.7 .9 13.7 .9 23.5 13.6 23.5 13.6 36.1 25.3 34 25.3 23.5 37.9 23.5 37.9 13.7 25.3 13.7 25.3 1.1 25.3 1.1"/>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-AvenirNextLTPro, 'AvenirNextLTPro'), var(--g-font-body, body);--weight:400;--ls:normal;--size:19px;--size-tablet:16px;--size-mobile:14px;--c:#FFFFFF">
                {{ section.settings.ggaUb-3678X_childItem_2 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gaUb-3678X"
            style="--cg:8px;--cg-mobile:4px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="3"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#00000000;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#f0784a;--w:100%;--h:100%;--size-desktop:21px;--size-tablet:16px;--size-mobile:14px"
              >
               <?xml version="1.0" encoding="UTF-8"?><svg data-id="539679157626340210" class="id539679157626340210" xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" version="1.1" viewBox="0 0 39.1 37.1">
  <defs>
    <style>
      .id539679157626340210 .cls-1 {
        fill: #ef784a;
        stroke-width: 0px;
      }
    </style>
  </defs>
  <polygon class="cls-1" points="25.3 1.1 13.6 3.2 13.6 13.7 .9 13.7 .9 23.5 13.6 23.5 13.6 36.1 25.3 34 25.3 23.5 37.9 23.5 37.9 13.7 25.3 13.7 25.3 1.1 25.3 1.1"/>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-AvenirNextLTPro, 'AvenirNextLTPro'), var(--g-font-body, body);--weight:400;--ls:normal;--size:19px;--size-tablet:16px;--size-mobile:14px;--c:#FFFFFF">
                {{ section.settings.ggaUb-3678X_childItem_3 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gIhBU4KbO4" data-id="gIhBU4KbO4"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--ml:-1px;--mb:0px;--pl:1px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:277px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gIhBU4KbO4 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g91iMLZwKW gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:8px;--pt:0px;--pl:0px;--pr:0px;--mb-mobile:7px;--pt-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--ta:left"
    
  >
    <style>
    .gxrEGact_e.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
    }

    .gxrEGact_e:hover::before {
      
      
    }

    .gxrEGact_e:hover .gp-button-icon {
      color: #f0784a;
    }

     .gxrEGact_e .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gxrEGact_e:hover .gp-button-price {
      color: #f0784a;
    }

    .gxrEGact_e .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gxrEGact_e .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gxrEGact_e:hover .gp-product-dot-price {
      color: #f0784a;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/antigrav1" target="_self" data-id="gxrEGact_e" aria-label="Shop Now"
      
      data-state="idle"
      class="gxrEGact_e gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#ffffff;--bg:#F0784A;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:10px;--pr:10px;--pt:14px;--pb:14px;--pl-mobile:82px;--pr-mobile:82px;--pt-mobile:12px;--pb-mobile:12px;--hvr-c:#f0784a;--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-AvenirNextLTPro, 'AvenirNextLTPro'), var(--g-font-body, body);--ls:normal;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold"
    >
      
    <div
    class="gp-inline-flex gp-flex-row-reverse">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg data-id="516492058446267542" xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 9.00071C1.625 8.85153 1.68426 8.70845 1.78975 8.60296C1.89524 8.49747 2.03832 8.43821 2.1875 8.43821H15.4546L11.9142 4.89896C11.8086 4.79334 11.7493 4.65008 11.7493 4.50071C11.7493 4.35134 11.8086 4.20808 11.9142 4.10246C12.0199 3.99684 12.1631 3.9375 12.3125 3.9375C12.4619 3.9375 12.6051 3.99684 12.7108 4.10246L17.2108 8.60246C17.2631 8.65471 17.3047 8.71678 17.3331 8.78512C17.3614 8.85346 17.376 8.92672 17.376 9.00071C17.376 9.0747 17.3614 9.14796 17.3331 9.2163C17.3047 9.28464 17.2631 9.34671 17.2108 9.39896L12.7108 13.899C12.6051 14.0046 12.4619 14.0639 12.3125 14.0639C12.1631 14.0639 12.0199 14.0046 11.9142 13.899C11.8086 13.7933 11.7493 13.6501 11.7493 13.5007C11.7493 13.3513 11.8086 13.2081 11.9142 13.1025L15.4546 9.56321H2.1875C2.03832 9.56321 1.89524 9.50395 1.78975 9.39846C1.68426 9.29297 1.625 9.14989 1.625 9.00071Z" fill="white"/>
</svg></span>
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.ggxrEGact_e_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gxrEGact_e">
        button.gxrEGact_e {

}
      </style>
    <div gp-el-wrapper  class="gX11JUb4Kv ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="gX11JUb4Kv"
      data-id="gX11JUb4Kv"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":14,"mobile":12,"tablet":16}}'
       style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:32px;--mb-mobile:21px;--pt-mobile:0px;--pb-mobile:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:center;--jc-mobile:center">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:0px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gX11JUb4Kv"
            style="--cg:4px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:14px;--size-tablet:16px;--size-mobile:12px"
              >
               <svg data-id="516492236922291350" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
<g clip-path="url(#clip0_258_1509)">
<path d="M5.17075 1.89125C4.33739 2.12092 3.5097 2.37066 2.68838 2.64025C2.61338 2.66454 2.54672 2.70941 2.49598 2.76975C2.44523 2.83008 2.41246 2.90345 2.40138 2.9815C1.91663 6.61888 3.03663 9.27275 4.37275 11.021C4.93845 11.7686 5.61299 12.4272 6.37388 12.9749C6.67663 13.1884 6.94438 13.3424 7.15525 13.4412C7.26025 13.4911 7.346 13.5244 7.41163 13.5445C7.44033 13.5546 7.46992 13.5619 7.5 13.5664C7.52973 13.5615 7.559 13.5542 7.5875 13.5445C7.654 13.5244 7.73975 13.4911 7.84475 13.4412C8.05475 13.3424 8.32338 13.1875 8.62613 12.9749C9.38701 12.4272 10.0615 11.7686 10.6273 11.021C11.9634 9.27363 13.0834 6.61888 12.5986 2.9815C12.5876 2.90341 12.5549 2.82999 12.5042 2.76964C12.4534 2.70929 12.3867 2.66445 12.3116 2.64025C11.742 2.45388 10.7804 2.15025 9.82925 1.89212C8.858 1.62875 7.96463 1.43363 7.5 1.43363C7.03625 1.43363 6.142 1.62875 5.17075 1.89212V1.89125ZM4.938 0.99C5.88738 0.731875 6.89625 0.5 7.5 0.5C8.10375 0.5 9.11263 0.731875 10.062 0.99C11.0333 1.2525 12.0124 1.56312 12.5881 1.75125C12.8288 1.83074 13.0423 1.97653 13.2039 2.17186C13.3654 2.36719 13.4687 2.60415 13.5016 2.8555C14.0231 6.77288 12.813 9.67613 11.3448 11.5968C10.7221 12.4184 9.97975 13.1419 9.14238 13.7431C8.85283 13.9512 8.54605 14.1341 8.22538 14.29C7.98038 14.4055 7.717 14.5 7.5 14.5C7.283 14.5 7.0205 14.4055 6.77463 14.29C6.45395 14.1341 6.14717 13.9512 5.85763 13.7431C5.02028 13.1419 4.27789 12.4183 3.65525 11.5968C2.187 9.67613 0.97688 6.77288 1.49838 2.8555C1.53136 2.60415 1.63457 2.36719 1.79616 2.17186C1.95775 1.97653 2.17116 1.83074 2.41188 1.75125C3.24767 1.47721 4.08996 1.22338 4.938 0.99Z" fill="white"/>
<path d="M9.99779 5.00351C10.0385 5.04415 10.0709 5.09243 10.0929 5.14558C10.115 5.19873 10.1263 5.25571 10.1263 5.31326C10.1263 5.3708 10.115 5.42778 10.0929 5.48094C10.0709 5.53409 10.0385 5.58237 9.99779 5.62301L7.37279 8.24801C7.33215 8.28875 7.28387 8.32108 7.23071 8.34313C7.17756 8.36519 7.12058 8.37654 7.06304 8.37654C7.00549 8.37654 6.94851 8.36519 6.89536 8.34313C6.8422 8.32108 6.79393 8.28875 6.75329 8.24801L5.44079 6.93551C5.40011 6.89483 5.36784 6.84654 5.34583 6.79339C5.32381 6.74025 5.31248 6.68328 5.31248 6.62576C5.31248 6.56823 5.32381 6.51127 5.34583 6.45812C5.36784 6.40498 5.40011 6.35668 5.44079 6.31601C5.48146 6.27533 5.52975 6.24306 5.5829 6.22105C5.63605 6.19904 5.69301 6.1877 5.75054 6.1877C5.80806 6.1877 5.86502 6.19904 5.91817 6.22105C5.97132 6.24306 6.01961 6.27533 6.06029 6.31601L7.06304 7.31963L9.37829 5.00351C9.41893 4.96276 9.4672 4.93044 9.52036 4.90838C9.57351 4.88633 9.63049 4.87498 9.68804 4.87498C9.74558 4.87498 9.80256 4.88633 9.85571 4.90838C9.90887 4.93044 9.95715 4.96276 9.99779 5.00351Z" fill="white"/>
</g>
<defs>
<clipPath id="clip0_258_1509">
<rect width="14" height="14" fill="white" transform="translate(0.5 0.5)"/>
</clipPath>
</defs>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-AvenirNextLTPro, 'AvenirNextLTPro'), var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#FFFFFF">
                {{ section.settings.ggX11JUb4Kv_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g1alLGyFMv" data-id="g1alLGyFMv"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:16px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g1alLGyFMv gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gwTRslbuTV gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gdD3xym3wP">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gdD3xym3wP "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb-mobile:7px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-AvenirNextLTPro, 'AvenirNextLTPro'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:rgba(255, 255, 255, 0.7);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggdD3xym3wP_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gdD3xym3wP">
        .gdD3xym3wP {

}
.gdD3xym3wP p {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gkGKCFLLAP gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g0-i_JeMvO" data-id="g0-i_JeMvO"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pt:4px;--pb:4px;--mb-mobile:28px;--pt-mobile:4px;--pb-mobile:4px;--cg:12px;--cg-mobile:10px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 2.4fr) minmax(0, 2.4fr) minmax(0, 2.4fr) minmax(0, 2.4fr) minmax(0, 2.4fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g0-i_JeMvO gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g0eTVv-dCa gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gwe1ZhcDGN"
    role="presentation"
    class="gp-group/image gwe1ZhcDGN"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" srcset="{{ "gempages_470337726575543518-5c92f649-6211-4de2-abb0-48c82c073355_768x.png" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_470337726575543518-5c92f649-6211-4de2-abb0-48c82c073355_1024x.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_470337726575543518-5c92f649-6211-4de2-abb0-48c82c073355.png" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:75px;--w-tablet:75px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-gwe1ZhcDGN">
        .gwe1ZhcDGN {

}
.gwe1ZhcDGN > figure > img {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g1GWS7FfUF gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gIxuGkQcrP"
    role="presentation"
    class="gp-group/image gIxuGkQcrP"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" srcset="{{ "gempages_470337726575543518-194f11dd-73a8-4a55-a863-19875bc96d2f_768x.png" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_470337726575543518-194f11dd-73a8-4a55-a863-19875bc96d2f_1024x.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_470337726575543518-194f11dd-73a8-4a55-a863-19875bc96d2f.png" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100px;--w-tablet:100px;--h:auto;--h-tablet:auto;--h-mobile:34px"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-gIxuGkQcrP">
        .gIxuGkQcrP {

}
.gIxuGkQcrP > figure > img {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g4OAFh7SWw gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="grGWhQ7Bd-"
    role="presentation"
    class="gp-group/image grGWhQ7Bd-"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" srcset="{{ "gempages_470337726575543518-4771fb3c-4847-41cc-b1cf-1e086a5979c8_768x.png" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_470337726575543518-4771fb3c-4847-41cc-b1cf-1e086a5979c8_1024x.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_470337726575543518-4771fb3c-4847-41cc-b1cf-1e086a5979c8.png" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100px;--w-tablet:100px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-grGWhQ7Bd-">
        .grGWhQ7Bd- {

}
.grGWhQ7Bd- > figure > img {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gOG3ZYLzmW gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gShD7WMMSu"
    role="presentation"
    class="gp-group/image gShD7WMMSu"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:5px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_470337726575543518-e9aaeb53-685a-4c12-9960-97e605c2b57c_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTU2IiBoZWlnaHQ9IjE5MSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTU2LTE5MSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTU2IiBoZWlnaHQ9IjE5MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTU2IiBoZWlnaHQ9IjE5MSIgZmlsbD0idXJsKCNnLTU1Ni0xOTEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01NTYiIHRvPSI1NTYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_470337726575543518-e9aaeb53-685a-4c12-9960-97e605c2b57c_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTU2IiBoZWlnaHQ9IjE5MSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTU2LTE5MSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTU2IiBoZWlnaHQ9IjE5MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTU2IiBoZWlnaHQ9IjE5MSIgZmlsbD0idXJsKCNnLTU1Ni0xOTEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01NTYiIHRvPSI1NTYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTU2IiBoZWlnaHQ9IjE5MSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTU2LTE5MSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTU2IiBoZWlnaHQ9IjE5MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTU2IiBoZWlnaHQ9IjE5MSIgZmlsbD0idXJsKCNnLTU1Ni0xOTEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01NTYiIHRvPSI1NTYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_470337726575543518-e9aaeb53-685a-4c12-9960-97e605c2b57c.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gJz4qTVXKj gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="grcJ-iDZjI"
    role="presentation"
    class="gp-group/image grcJ-iDZjI"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" srcset="{{ "gempages_470337726575543518-3067aa07-16c4-4de5-991c-ab1f3170ca49_768x.png" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_470337726575543518-3067aa07-16c4-4de5-991c-ab1f3170ca49_1024x.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_470337726575543518-3067aa07-16c4-4de5-991c-ab1f3170ca49.png" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100px;--w-tablet:100px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-grcJ-iDZjI">
        .grcJ-iDZjI {

}
.grcJ-iDZjI > figure > img {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gLWZNbmeJc gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gFna4Ep_jg"
    role="presentation"
    class="gp-group/image gFna4Ep_jg"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" srcset="{{ "gempages_470337726575543518-be8bd3d8-7ffd-474f-9e6c-273ea695b299_768x.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_470337726575543518-be8bd3d8-7ffd-474f-9e6c-273ea695b299_1024x.jpg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_470337726575543518-be8bd3d8-7ffd-474f-9e6c-273ea695b299.jpg" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-gFna4Ep_jg">
        .gFna4Ep_jg {

}
.gFna4Ep_jg > figure > img {

}
      </style>
    
    </div>
    </div>
   
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gxxYUjFIuU">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gxxYUjFIuU "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:50px;--pb:32px;--pr:50px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-AvenirNextLTPro, 'AvenirNextLTPro'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--fs:italic;--c:#f4f4f4;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggxxYUjFIuU_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-539674350299644832 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/weargales/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=539674335384699808&sectionId=539674350299644832)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggt4cEFZMoD_text","label":"ggt4cEFZMoD_text","default":"<p>4.85 average rating&nbsp;</p>"},{"type":"html","id":"ggdFoAK4B7y_text","label":"ggdFoAK4B7y_text","default":"HIGH-PERFORMANCE<br>RECOVERY SHOES"},{"type":"html","id":"ggaUb-3678X_childItem_0","label":"ggaUb-3678X_childItem_0","default":"<p>High Impact Reduction &amp; Support</p>"},{"type":"html","id":"ggaUb-3678X_childItem_1","label":"ggaUb-3678X_childItem_1","default":"<p>Premium X-40 Insoles</p>"},{"type":"html","id":"ggaUb-3678X_childItem_2","label":"ggaUb-3678X_childItem_2","default":"<p>Ultra-Light Cloudlike Comfort</p>"},{"type":"html","id":"ggaUb-3678X_childItem_3","label":"ggaUb-3678X_childItem_3","default":"<p>Podiatrist Approved + HSA/FSA Eligible</p>"},{"type":"html","id":"ggxrEGact_e_label","label":"ggxrEGact_e_label","default":"Shop Now"},{"type":"html","id":"ggX11JUb4Kv_childItem_0","label":"ggX11JUb4Kv_childItem_0","default":"<p>100k+ Satisfied Customers</p>"},{"type":"html","id":"ggdD3xym3wP_text","label":"ggdD3xym3wP_text","default":"<p>As Seen On:</p>"},{"type":"html","id":"ggxxYUjFIuU_text","label":"ggxxYUjFIuU_text","default":"<p>\"These lightweight recovery shoes are literally like stepping on clouds, so much so that sometimes I wonder if my feet are actually doing any work\" - GQ</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
