

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-500949932853691622.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-500949932853691622.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-500949932853691622.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-500949932853691622.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-500949932853691622.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-500949932853691622.gps.gpsil [style*="--hvr-bgc:"]:hover{background-color:var(--hvr-bgc)}.gps-500949932853691622.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-500949932853691622.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-500949932853691622.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-500949932853691622.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-500949932853691622.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-500949932853691622.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-500949932853691622.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-500949932853691622.gps.gpsil [style*="--bbw:"]{border-bottom-width:var(--bbw)}.gps-500949932853691622.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-500949932853691622.gps.gpsil [style*="--hvr-bc:"]:hover{border-color:var(--hvr-bc)}.gps-500949932853691622.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-500949932853691622.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-500949932853691622.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-500949932853691622.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-500949932853691622.gps.gpsil [style*="--hvr-bs:"]:hover{border-style:var(--hvr-bs)}.gps-500949932853691622.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-500949932853691622.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-500949932853691622.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-500949932853691622.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-500949932853691622.gps.gpsil [style*="--hvr-bw:"]:hover{border-width:var(--hvr-bw)}.gps-500949932853691622.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-500949932853691622.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-500949932853691622.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-500949932853691622.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-500949932853691622.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-500949932853691622.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-500949932853691622.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-500949932853691622.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-500949932853691622.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-500949932853691622.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-500949932853691622.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-500949932853691622.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-500949932853691622.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-500949932853691622.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-500949932853691622.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-500949932853691622.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-500949932853691622.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-500949932853691622.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-500949932853691622.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-500949932853691622.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-500949932853691622.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-500949932853691622.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-500949932853691622.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-500949932853691622.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-500949932853691622.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-500949932853691622.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-500949932853691622.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-500949932853691622.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-500949932853691622.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-500949932853691622.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-500949932853691622.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-500949932853691622.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-500949932853691622.gps.gpsil [style*="--bbw-tablet:"]{border-bottom-width:var(--bbw-tablet)}.gps-500949932853691622.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-500949932853691622.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-500949932853691622.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-500949932853691622.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-500949932853691622.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-500949932853691622.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-500949932853691622.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-500949932853691622.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-500949932853691622.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-500949932853691622.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-500949932853691622.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-500949932853691622.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-500949932853691622.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-500949932853691622.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-500949932853691622.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-500949932853691622.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-500949932853691622.gps.gpsil [style*="--bbw-mobile:"]{border-bottom-width:var(--bbw-mobile)}.gps-500949932853691622.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-500949932853691622.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-500949932853691622.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-500949932853691622.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-500949932853691622.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-500949932853691622.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-500949932853691622.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-500949932853691622.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-500949932853691622.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-500949932853691622.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-500949932853691622 .-gp-rotate-90,.gps-500949932853691622 .gp-rotate-180,.gps-500949932853691622 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-500949932853691622 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-500949932853691622 .gp-g-subheading-1{font-family:var(--g-sh1-ff);font-size:var(--g-sh1-size);font-style:var(--g-sh1-fs);font-weight:var(--g-sh1-weight);letter-spacing:var(--g-sh1-ls);line-height:var(--g-sh1-lh)}.gps-500949932853691622 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-500949932853691622 .gp-absolute{position:absolute}.gps-500949932853691622 .gp-relative{position:relative}.gps-500949932853691622 .gp-z-1{z-index:1}.gps-500949932853691622 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-500949932853691622 .gp-mb-0{margin-bottom:0}.gps-500949932853691622 .gp-block{display:block}.gps-500949932853691622 .\!gp-inline{display:inline!important}.gps-500949932853691622 .gp-flex{display:flex}.gps-500949932853691622 .gp-inline-flex{display:inline-flex}.gps-500949932853691622 .gp-grid{display:grid}.gps-500949932853691622 .\!gp-hidden{display:none!important}.gps-500949932853691622 .gp-hidden{display:none}.gps-500949932853691622 .gp-h-full{height:100%}.gps-500949932853691622 .gp-min-h-0{min-height:0}.gps-500949932853691622 .gp-w-full{width:100%}.gps-500949932853691622 .gp-max-w-full{max-width:100%}.gps-500949932853691622 .gp-flex-none{flex:none}.gps-500949932853691622 .-gp-rotate-90{--tw-rotate:-90deg}.gps-500949932853691622 .-gp-rotate-90,.gps-500949932853691622 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-500949932853691622 .gp-rotate-180{--tw-rotate:180deg}.gps-500949932853691622 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-500949932853691622 .gp-cursor-pointer{cursor:pointer}.gps-500949932853691622 .gp-flex-col{flex-direction:column}.gps-500949932853691622 .gp-items-center{align-items:center}.gps-500949932853691622 .\!gp-justify-start{justify-content:flex-start!important}.gps-500949932853691622 .gp-justify-start{justify-content:flex-start}.gps-500949932853691622 .\!gp-justify-center{justify-content:center!important}.gps-500949932853691622 .gp-justify-center{justify-content:center}.gps-500949932853691622 .gp-gap-y-0{row-gap:0}.gps-500949932853691622 .gp-overflow-hidden{overflow:hidden}.gps-500949932853691622 .gp-overflow-clip{overflow:clip}.gps-500949932853691622 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-500949932853691622 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-500949932853691622 .gp-duration-200{transition-duration:.2s}.gps-500949932853691622 .gp-duration-500{transition-duration:.5s}.gps-500949932853691622 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-500949932853691622 .tablet\:gp-relative{position:relative}.gps-500949932853691622 .tablet\:gp-block{display:block}.gps-500949932853691622 .tablet\:\!gp-hidden{display:none!important}.gps-500949932853691622 .tablet\:gp-hidden{display:none}.gps-500949932853691622 .tablet\:\!gp-justify-start{justify-content:flex-start!important}.gps-500949932853691622 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-500949932853691622 .mobile\:gp-relative{position:relative}.gps-500949932853691622 .mobile\:gp-block{display:block}.gps-500949932853691622 .mobile\:\!gp-hidden{display:none!important}.gps-500949932853691622 .mobile\:gp-hidden{display:none}.gps-500949932853691622 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-500949932853691622 .mobile\:\!gp-justify-start{justify-content:flex-start!important}.gps-500949932853691622 .mobile\:\!gp-justify-center,.gps-500949932853691622 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-500949932853691622 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-500949932853691622 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-500949932853691622 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-500949932853691622 .\[\&_p\]\:gp-inline p{display:inline}.gps-500949932853691622 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-500949932853691622 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      enableLazyloadImage="true" id="g8-JEPUySX" data-id="g8-JEPUySX"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8-JEPUySX avenir-next gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gwPR-t5nfW gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g4DbXxqE_w" data-id="g4DbXxqE_w"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:13px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4DbXxqE_w gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gxftQ6hPnA gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gm9iZ024h0 "
    ><div><div id="ambassador" style="margin-top: -100px; padding-top: 100px;"></div></div></div>
  <div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:16px;--pt:12px;--pb:12px" class="gAWKvbzcSV ">
      
    <div
    data-id="gAWKvbzcSV"
      class="gp-flex gp-justify-start"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:2px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:#121212"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#121212;--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#121212;--bs:solid;--bbw:2px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#121212;--bs:solid;--bbw:2px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gzNjEWv3IP" data-id="gzNjEWv3IP"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gzNjEWv3IP gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gGeWqHE7gX gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-start tablet:!gp-justify-start mobile:!gp-justify-start" style="--h:fit-content;--h-tablet:fit-content;--h-mobile:500px;--d:flex;--d-mobile:flex;--d-tablet:flex;--mb:40px">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"470337726575543518-8f463ad4-1e1a-4d2c-b8bd-0218e9e4f1e0.jpg","height":4480,"src":"https://ucarecdn.com/4db7ca03-a7a8-43dd-a6b6-bbf2ed7bb41e/-/format/auto/","width":6720},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"470337726575543518-8f463ad4-1e1a-4d2c-b8bd-0218e9e4f1e0.jpg","height":4480,"src":"https://ucarecdn.com/4db7ca03-a7a8-43dd-a6b6-bbf2ed7bb41e/-/format/auto/","width":6720},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"470337726575543518-f20672c3-b3ac-4eeb-9ad2-6660298c6cce.jpg","height":4480,"src":"https://ucarecdn.com/9cd3e158-33f0-4004-b22c-8ee14954b778/","width":6720},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"geNRwnG3G9","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[6,6],"display":"fill"},"mobile":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"}}'
        
        class="geNRwnG3G9 gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--radius:var(--g-radius-none);--h:fit-content;--h-tablet:fit-content;--h-mobile:500px;--w:5000px;--w-tablet:5000px;--w-mobile:100%"
        data-id="geNRwnG3G9"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
          style="--h:fit-content;--h-tablet:fit-content;--h-mobile:500px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--shadow:none"
        >
          
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "470337726575543518-f20672c3-b3ac-4eeb-9ad2-6660298c6cce_768x.jpg" | asset_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjcyMCIgaGVpZ2h0PSI0NDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy02NzIwLTQ0ODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjY3MjAiIGhlaWdodD0iNDQ4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjcyMCIgaGVpZ2h0PSI0NDgwIiBmaWxsPSJ1cmwoI2ctNjcyMC00NDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNjcyMCIgdG89IjY3MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "470337726575543518-8f463ad4-1e1a-4d2c-b8bd-0218e9e4f1e0_1024x.jpg" | asset_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjcyMCIgaGVpZ2h0PSI2NzIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy02NzIwLTY3MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjY3MjAiIGhlaWdodD0iNjcyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjcyMCIgaGVpZ2h0PSI2NzIwIiBmaWxsPSJ1cmwoI2ctNjcyMC02NzIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNjcyMCIgdG89IjY3MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjcyMCIgaGVpZ2h0PSI0NDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy02NzIwLTQ0ODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjY3MjAiIGhlaWdodD0iNDQ4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjcyMCIgaGVpZ2h0PSI0NDgwIiBmaWxsPSJ1cmwoI2ctNjcyMC00NDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNjcyMCIgdG89IjY3MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "470337726575543518-8f463ad4-1e1a-4d2c-b8bd-0218e9e4f1e0.jpg" | asset_url }}"
        width="100%"
        alt=""
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:fit-content;--h-tablet:fit-content;--h-mobile:500px;--w:5000px;--w-tablet:5000px;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0 round 8px 8px 8px 8px)"
              > 
              <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bgi:url('{{ "470337726575543518-8f463ad4-1e1a-4d2c-b8bd-0218e9e4f1e0.jpg" | asset_url }}');--bgi-tablet:url('{{ "470337726575543518-8f463ad4-1e1a-4d2c-b8bd-0218e9e4f1e0_1024x.jpg" | asset_url }}');--bgi-mobile:url('{{ "470337726575543518-f20672c3-b3ac-4eeb-9ad2-6660298c6cce_768x.jpg" | asset_url }}');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
             
              </div>  
               </div>
            </div>
            
          </div>
          
          
       
      
    <div
      id data-id
        style="--pl:32px;--pr:32px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:5000px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--o:0"
      class="g-igkemSzv gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gTomyi7pgy">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gTomyi7pgy "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-heading-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggTomyi7pgy_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gJNzzrBcQt">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gJNzzrBcQt "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:202px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggJNzzrBcQt_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--o:1;--d-mobile:none"
      class="ghTgnap2oE gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
   
    
  
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:center"
      data-keep-class="true"
      class="gn_NXryUyD "
    ><div><a class="btn btn--primary" target="_blank" aria-label="Apply" href="http://app.impact.com/campaign-campaign-info-v2/Gales-Creator.brand?io=pcU9IK2jdg7HOrOlP%2FAAvAiWhBfdUUJ9%2Ff8VZDKi5pztrPW8EPxyP46ZWNsuSDhl">Apply</a></div></div>
  
    </div>
    </div>
   
    <div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)" class="gqH6NrmmP2 ">
      
    <gp-accordion
      data-id="gqH6NrmmP2"
     uid="gqH6NrmmP2"
      class="gp-flex gp-w-full gp-flex-col gp-app-instructions"
      style="--gg:16px;--bgr:function (n) {
                return new Array(1 + n).join(this);
            };border-radius:inherit;overflow:hidden"
      gp-data='{"setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":"1","expanded":false,"expandItem":false,"iconPosition":"left","iconGlobalSize":{"desktop":{"gap":"16px"}},"iconCollapse":"\n          <svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" classname=\"w-6 h-6\" viewBox=\"0 0 512 512\" fill=\"currentColor\">\n              <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z\"></path></svg>\n          ","iconExpand":"\n          <svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" classname=\"w-6 h-6\" viewBox=\"0 0 512 512\" fill=\"currentColor\">\n              <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"m231.904 155.52 -153.472 175.392c-18.112 20.704 -3.392 53.088 24.096 53.088h306.944a32 32 0 0 0 24.096 -53.088l-153.472 -175.36a32 32 0 0 0 -48.192 0z\"></path></svg>","iconCollapseSize":16,"layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"gqH6NrmmP2","childListNumber":[],"chidlrenUid":["gtDRWMQRJj"]},"styles":{"bgColor":{"active":"transparent","hover":"transparent","normal":"transparent"},"color":{"active":"#121212","hover":"#121212","normal":"#121212"},"headerBorder":{"active":{"border":"solid","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"hover":{"border":"solid","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"normal":{"border":"none","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"}},"textColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"16px","padding":{"bottom":"8px","left":"24px","right":"24px","top":"8px","type":"medium"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"8px","left":"24px","right":"24px","top":"8px","type":"medium"}}},"widthHeightSize":{"desktop":{"height":"auto","width":"100%"}}},"uid":"gqH6NrmmP2"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gqH6NrmmP2-0:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gqH6NrmmP2-0:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #121212 !important
      }
    .gp-accordion-item .gp-accordion-item-gqH6NrmmP2-0:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gqH6NrmmP2-0:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="0"
      class="gqH6NrmmP2 gp-accordion-item gp-overflow-hidden gp-child-item-gqH6NrmmP2"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gtDRWMQRJj"
        id="gtDRWMQRJj"
        data-index="0"
        class="gqH6NrmmP2 gp-accordion-item-gqH6NrmmP2-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row;--jc:;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#121212;--c:#121212;--bs:none;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gqH6NrmmP2.gp-accordion-item-gqH6NrmmP2-0:hover .gp-collapsible-icon, .gqH6NrmmP2.gp-accordion-item-gqH6NrmmP2-0:hover .gp-icon {
                  color: #121212
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#121212;--c:#121212;width:16px;height:16px"
            data-index="0"
            class="gqH6NrmmP2 gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z"></path></svg>
          </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-subheading-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggqH6NrmmP2_childItem_0 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gtDRWMQRJj"
        data-index="0"
        data-show="false"
        class="gqH6NrmmP2 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gtDRWMQRJj"
        data-index="0"
        class="gqH6NrmmP2 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="g8yjSzZotB gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gLN9w-YGuY" data-id="gLN9w-YGuY"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 1fr) minmax(0, 7fr) minmax(0, 3fr) minmax(0, 1fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gLN9w-YGuY gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="gGm6tnplqs gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g5--6nwQP6 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gmVYSCSNkD">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gmVYSCSNkD "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggmVYSCSNkD_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="gC8mH9R_wr gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="gdxQv-AInD gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gfJhH2WAg3" data-id="gfJhH2WAg3"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 1fr) minmax(0, 7fr) minmax(0, 3fr) minmax(0, 1fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gfJhH2WAg3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="gVyDbtnQ7C gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gjs_wGYZsV gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gPt-i-YZ5c">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gPt-i-YZ5c "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggPt-i-YZ5c_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gD_dU7Ujef gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gV7KrQT1ka"
    role="presentation"
    class="gp-group/image gV7KrQT1ka"
    style="--b:solid;--bc:#121212;--bw:1px 1px 1px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mb:var(--g-s-l);--ta:left"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:left"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0291/3724/0142/files/ImpactApp_about_yourself.jpg?v=1708120783" data-srcset="https://cdn.shopify.com/s/files/1/0291/3724/0142/files/ImpactApp_about_yourself.jpg?v=1708120783 768w,https://cdn.shopify.com/s/files/1/0291/3724/0142/files/ImpactApp_about_yourself.jpg?v=1708120783 1024w,https://cdn.shopify.com/s/files/1/0291/3724/0142/files/ImpactApp_about_yourself.jpg?v=1708120783 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjEwIiBoZWlnaHQ9IjU3NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjEwLTU3NSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjEwIiBoZWlnaHQ9IjU3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjEwIiBoZWlnaHQ9IjU3NSIgZmlsbD0idXJsKCNnLTYxMC01NzUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MTAiIHRvPSI2MTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="610" height="575" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:610/575;--aspect-tablet:610/575;--aspect-mobile:610/575;--objf:cover;--w:300px;--w-tablet:300px;--w-mobile:300px;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  
      </div>
  </div>
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="gGLM7lRbU3 gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-500949932853691622 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/weargales/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=494575770312639605&sectionId=500949932853691622)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggTomyi7pgy_text","label":"ggTomyi7pgy_text","default":"<p><span style=\"color:#000000;font-size:40px;\"><strong>Ambassador Program</strong></span></p>"},{"type":"html","id":"ggJNzzrBcQt_text","label":"ggJNzzrBcQt_text","default":"<p><span style=\"color:#000000;font-size:24px;\">Champion our mission.</span></p><p><span style=\"background-color:transparent;color:#0C0C0C;font-size:24px;\">Earn commission on each sale.</span></p><p><span style=\"color:#000000;font-size:24px;\">Gain rewards, free products, and a close cohort.</span></p><p><br>&nbsp;</p>"},{"type":"html","id":"ggqH6NrmmP2_childItem_0","label":"ggqH6NrmmP2_childItem_0","default":"<p><span style=\"font-size:20px;\">Detailed Application Instructions</span></p>"},{"type":"html","id":"ggmVYSCSNkD_text","label":"ggmVYSCSNkD_text","default":"<p><span style=\"color:#0C0C0C;font-size:16px;\">&nbsp;Follow the prompts outlined in the application:</span></p><ol><li><span style=\"color:#0C0C0C;font-size:16px;\">After agreeing to the terms, fill in name, email, phone and create an account.&nbsp;</span></li><li><span style=\"color:#0C0C0C;font-size:16px;\">When asked \"<strong>Which methods do you use to promote?</strong>\" &nbsp;Choose \"<strong>Add </strong></span><span style=\"background-color:#FFE100;color:#0C0C0C;font-size:16px;\"><strong>Social</strong></span><span style=\"color:#0C0C0C;font-size:16px;\">\".</span></li><li><span style=\"color:#0C0C0C;font-size:16px;\">Add and activate all your social media accounts</span></li><li><span style=\"color:#0C0C0C;font-size:16px;\">When returned to the previous screen, click <strong>Continue</strong></span></li></ol>"},{"type":"html","id":"ggPt-i-YZ5c_text","label":"ggPt-i-YZ5c_text","default":"<ol><li><span style=\"color:#0C0C0C;font-size:16px;\">Fill in the \"<strong>Tell us about yourself</strong>\" form (SEE IMAGE):</span><ul><li><span style=\"color:#0C0C0C;font-size:16px;\"><strong>I am a/an:</strong> select \"<strong>individual</strong>\".&nbsp;</span></li><li><span style=\"color:#0C0C0C;font-size:16px;\">Answer the remaining questions.</span></li><li><span style=\"color:#0C0C0C;font-size:16px;\">Click \"<strong>Submit</strong>\"</span></li><li><span style=\"color:#0C0C0C;font-size:16px;\">You will be asked to confirm your preferred currency. Click \"<strong>OK</strong>\".</span></li></ul></li></ol><p>&nbsp;</p><p><span style=\"color:#0C0C0C;font-size:16px;\">We will contact you once we have reviewed your application!</span></p><p><span style=\"color:#0C0C0C;font-size:16px;\">For any issues or questions, contact us at </span><a href=\"mailto:partners@standshoes.com\"><span style=\"color:#0C0C0C;\"><u>partners@standshoes.com</u></span></a><span style=\"color:#0C0C0C;\">.</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
