

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-539674352983999393.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-539674352983999393.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-539674352983999393.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-539674352983999393.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-539674352983999393.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-539674352983999393.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-539674352983999393.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-539674352983999393.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-539674352983999393.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-539674352983999393.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-539674352983999393.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-539674352983999393.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-539674352983999393.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-539674352983999393.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-539674352983999393.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-539674352983999393.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-539674352983999393.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-539674352983999393.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-539674352983999393.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-539674352983999393.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-539674352983999393.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-539674352983999393.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-539674352983999393.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-539674352983999393.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-539674352983999393.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-539674352983999393.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-539674352983999393.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-539674352983999393.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-539674352983999393.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-539674352983999393.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-539674352983999393.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-539674352983999393.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-539674352983999393.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-539674352983999393.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-539674352983999393.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-539674352983999393.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-539674352983999393.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-539674352983999393.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-539674352983999393.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-539674352983999393.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-539674352983999393.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-539674352983999393.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-539674352983999393.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-539674352983999393.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-539674352983999393.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-539674352983999393.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-539674352983999393.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-539674352983999393.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-539674352983999393.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-539674352983999393.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-539674352983999393.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-539674352983999393.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-539674352983999393.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-539674352983999393.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-539674352983999393.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-539674352983999393.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-539674352983999393.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-539674352983999393.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-539674352983999393.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-539674352983999393.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-539674352983999393.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-539674352983999393.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-539674352983999393.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-539674352983999393.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-539674352983999393.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-539674352983999393.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-539674352983999393.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-539674352983999393.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-539674352983999393.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-539674352983999393.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-539674352983999393.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-539674352983999393.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-539674352983999393.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-539674352983999393.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-539674352983999393.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-539674352983999393.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-539674352983999393.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-539674352983999393.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-539674352983999393.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-539674352983999393.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-539674352983999393.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-539674352983999393.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-539674352983999393.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-539674352983999393.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-539674352983999393.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-539674352983999393.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-539674352983999393.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-539674352983999393.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-539674352983999393.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-539674352983999393.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-539674352983999393.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-539674352983999393.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-539674352983999393.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-539674352983999393.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-539674352983999393.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-539674352983999393.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-539674352983999393.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-539674352983999393.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-539674352983999393.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-539674352983999393.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-539674352983999393.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-539674352983999393.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-539674352983999393.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-539674352983999393.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-539674352983999393.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-539674352983999393.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-539674352983999393.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-539674352983999393.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-539674352983999393.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-539674352983999393.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-539674352983999393.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-539674352983999393.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-539674352983999393 .gp-rotate-0,.gps-539674352983999393 .gp-rotate-180,.gps-539674352983999393 .mobile\:gp-rotate-0,.gps-539674352983999393 .mobile\:gp-rotate-180,.gps-539674352983999393 .tablet\:gp-rotate-0,.gps-539674352983999393 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-539674352983999393 .gp-shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-539674352983999393 .gp-invisible{visibility:hidden}.gps-539674352983999393 .gp-static{position:static}.gps-539674352983999393 .gp-absolute{position:absolute}.gps-539674352983999393 .gp-relative{position:relative}.gps-539674352983999393 .gp-left-0{left:0}.gps-539674352983999393 .gp-right-0{right:0}.gps-539674352983999393 .gp-top-0{top:0}.gps-539674352983999393 .gp-z-1{z-index:1}.gps-539674352983999393 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-539674352983999393 .gp-my-0{margin-bottom:0;margin-top:0}.gps-539674352983999393 .gp-mb-0{margin-bottom:0}.gps-539674352983999393 .gp-block{display:block}.gps-539674352983999393 .gp-flex{display:flex}.gps-539674352983999393 .gp-inline-flex{display:inline-flex}.gps-539674352983999393 .gp-grid{display:grid}.gps-539674352983999393 .\!gp-hidden{display:none!important}.gps-539674352983999393 .gp-hidden{display:none}.gps-539674352983999393 .gp-aspect-square{aspect-ratio:1/1}.gps-539674352983999393 .gp-h-full{height:100%}.gps-539674352983999393 .\!gp-min-h-full{min-height:100%!important}.gps-539674352983999393 .gp-w-\[12px\]{width:12px}.gps-539674352983999393 .gp-w-full{width:100%}.gps-539674352983999393 .gp-max-w-full{max-width:100%}.gps-539674352983999393 .gp-shrink-0{flex-shrink:0}.gps-539674352983999393 .gp-rotate-0{--tw-rotate:0deg}.gps-539674352983999393 .gp-rotate-0,.gps-539674352983999393 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-539674352983999393 .gp-rotate-180{--tw-rotate:180deg}.gps-539674352983999393 .gp-cursor-pointer{cursor:pointer}.gps-539674352983999393 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-539674352983999393 .\!gp-flex-row{flex-direction:row!important}.gps-539674352983999393 .gp-flex-row{flex-direction:row}.gps-539674352983999393 .gp-flex-col{flex-direction:column}.gps-539674352983999393 .gp-flex-wrap{flex-wrap:wrap}.gps-539674352983999393 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-539674352983999393 .gp-items-center{align-items:center}.gps-539674352983999393 .\!gp-justify-center{justify-content:center!important}.gps-539674352983999393 .gp-justify-center{justify-content:center}.gps-539674352983999393 .gp-justify-between{justify-content:space-between}.gps-539674352983999393 .gp-gap-2{gap:8px}.gps-539674352983999393 .gp-gap-y-0{row-gap:0}.gps-539674352983999393 .gp-overflow-hidden{overflow:hidden}.gps-539674352983999393 .gp-rounded-full{border-radius:9999px}.gps-539674352983999393 .gp-text-left{text-align:left}.gps-539674352983999393 .gp-text-center{text-align:center}.gps-539674352983999393 .gp-leading-\[0\]{line-height:0}.gps-539674352983999393 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-539674352983999393 .gp-shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-539674352983999393 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-539674352983999393 .gp-duration-200{transition-duration:.2s}.gps-539674352983999393 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-539674352983999393 .tablet\:gp-static{position:static}.gps-539674352983999393 .tablet\:gp-absolute{position:absolute}.gps-539674352983999393 .tablet\:gp-relative{position:relative}.gps-539674352983999393 .tablet\:gp-left-0{left:0}.gps-539674352983999393 .tablet\:gp-right-0{right:0}.gps-539674352983999393 .tablet\:gp-block{display:block}.gps-539674352983999393 .tablet\:\!gp-hidden{display:none!important}.gps-539674352983999393 .tablet\:gp-hidden{display:none}.gps-539674352983999393 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-539674352983999393 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-539674352983999393 .tablet\:gp-rotate-0,.gps-539674352983999393 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-539674352983999393 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-539674352983999393 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-539674352983999393 .tablet\:gp-flex-row{flex-direction:row}.gps-539674352983999393 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-539674352983999393 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-539674352983999393 .tablet\:\!gp-justify-center{justify-content:center!important}.gps-539674352983999393 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-539674352983999393 .mobile\:gp-static{position:static}.gps-539674352983999393 .mobile\:gp-relative{position:relative}.gps-539674352983999393 .mobile\:gp-left-0{left:0}.gps-539674352983999393 .mobile\:gp-right-0{right:0}.gps-539674352983999393 .mobile\:gp-block{display:block}.gps-539674352983999393 .mobile\:\!gp-hidden{display:none!important}.gps-539674352983999393 .mobile\:gp-hidden{display:none}.gps-539674352983999393 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-539674352983999393 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-539674352983999393 .mobile\:gp-rotate-0,.gps-539674352983999393 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-539674352983999393 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-539674352983999393 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-539674352983999393 .mobile\:gp-flex-row{flex-direction:row}.gps-539674352983999393 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-539674352983999393 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-539674352983999393 .mobile\:\!gp-justify-center{justify-content:center!important}.gps-539674352983999393 .mobile\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:1024px){.gps-539674352983999393 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-539674352983999393 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-539674352983999393 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-539674352983999393 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-539674352983999393 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-539674352983999393 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}.gps-539674352983999393 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-539674352983999393 .\[\&\>svg\]\:gp-w-full>svg{width:100%}@media (max-width:1024px){.gps-539674352983999393 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}.gps-539674352983999393 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-539674352983999393 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-539674352983999393 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}.gps-539674352983999393 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-539674352983999393 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-539674352983999393 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-539674352983999393 .\[\&_p\]\:gp-inline p{display:inline}.gps-539674352983999393 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-539674352983999393 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gw4D2lwvtQ" data-id="gw4D2lwvtQ"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pt:0px;--pl:20px;--pb:40px;--pr:20px;--pt-mobile:40px;--pl-mobile:30px;--pb-mobile:40px;--pr-mobile:30px;--pt-tablet:0px;--pl-tablet:50px;--pb-tablet:40px;--pr-tablet:50px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gw4D2lwvtQ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g2lc8z6sU3 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gOvahq-2Wy" data-id="gOvahq-2Wy"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pl:0px;--cg:30px;--pc:center;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gOvahq-2Wy gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:space-between"
      class="gOlNrpq5vs gp-relative gp-flex gp-flex-col"
    >
      {% render 'gp-section-539674352983999393-1', product: product, variant: variant, product_form_id: product_form_id, productSelectedVariant: productSelectedVariant, form: form %}
    <gp-carousel data-id="gDxIwWMgfK"  id="gp-root-carousel-gDxIwWMgfK-{{section.id}}" class="  gp-group/carousel gp-flex" gp-data='{"id":"gDxIwWMgfK-{{section.id}}","setting":{"animationMode":"ease-in","arrowBackgroundColor":"transparent","arrowBorder":{"desktop":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"arrowButtonSize":{"desktop":{"height":"32px","padding":{"linked":true},"shapeLinked":true,"shapeValue":"1/1","width":"32px"}},"arrowCustom":"<svg width=\"20\" height=\"20\" viewBox=\"0 0 20 20\" fill=\"currentColor\" xmlns=\"http://www.w3.org/2000/svg\">\n              <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z\"/>\n              </svg>\n              ","arrowCustomColor":"#000000","arrowGapToEachSide":"16","arrowIconSize":{"desktop":24},"autoplay":true,"autoplayTimeout":2,"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"childItem":["Slide 1","Slide 2","Slide 3","Slide 4","Slide 5","Slide 6"],"controlOverContent":{"desktop":true},"dot":{"desktop":true,"mobile":true,"tablet":true},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1"},"dotGapToCarousel":{"desktop":16,"mobile":"28"},"dotSize":{"desktop":12,"mobile":8},"dotStyle":{"desktop":"none","mobile":"outside"},"enableDrag":{"desktop":true},"itemNumber":{"desktop":1},"label":true,"loop":{"desktop":true},"navigationStyle":{"desktop":"none"},"pauseOnHover":true,"roundedArrow":{"desktop":{"radiusType":"small"}},"runPreview":false,"showWhenHover":false,"sneakPeak":{"desktop":false},"sneakPeakOffsetCenter":{"desktop":50},"sneakPeakOffsetForward":{"desktop":50},"sneakPeakType":{"desktop":"forward"},"vertical":{"desktop":false}},"styles":{"align":{"desktop":"center"},"borderContent":{"border":"none","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"position":"all","width":"1px 1px 1px 1px"},"carouselShadow":{"angle":90,"blur":"12px","color":"#121212","distance":"4px","spread":"0px","type":"shadow-1"},"hasActiveShadow":false,"playSpeed":500,"roundedContent":{"radiusType":"none"},"sizeSetting":{"desktop":{"height":"auto","shapeLinked":false,"width":"100%"}},"spacing":{"desktop":16}},"isHiddenArrowWhenDisabled":true}' style="--jc:center">
      <div class="gp-hidden gp-aspect-square gp-w-[12px] gp-rounded-full gp-shadow-md"></div>
      <div
        
        class="gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block gDxIwWMgfK"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--op-mobile:100%;--mb-mobile:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      >
        <div
          class="gp-h-full gp-relative gp-mx-auto gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row"
          style="--h:100%;--h-tablet:100%;--h-mobile:auto;gap:16px"
        >
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-z-1 gp-carousel-action-back gem-slider-previous gDxIwWMgfK-{{section.id}} gp-carousel-arrow-gDxIwWMgfK gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-hidden mobile:!gp-hidden"
      style="--left:initial;--top:initial;--right:initial;--bottom:;--left-tablet:initial;--top-tablet:initial;--right-tablet:initial;--bottom-tablet:;--left-mobile:initial;--top-mobile:initial;--right-mobile:initial;--bottom-mobile:;--d:none;--d-tablet:none;--d-mobile:none;background-color:transparent;--w:32px;--h:32px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
  style="--c:#000000;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
  >
    <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z"/>
              </svg>
              
    </div>
      <style>
    .gp-carousel-arrow-gDxIwWMgfK {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-gDxIwWMgfK::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1024px) and (min-width: 768px) {
      .gp-carousel-arrow-gDxIwWMgfK {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gDxIwWMgfK::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-gDxIwWMgfK {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gDxIwWMgfK::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
          <div id="gp-carousel-gDxIwWMgfK-{{section.id}}" class="gem-slider gp-h-full gp-overflow-hidden gp-select-none mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full"
          style="--cg-mobile:16px;--cg-tablet:16px;--cg:16px">
          {% render 'gp-section-539674352983999393-0', product: product, variant: variant, product_form_id: product_form_id, productSelectedVariant: productSelectedVariant, form: form %}
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      enableLazyloadImage="true" label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 1 - 0px);--minw-tablet:calc(100% / 1 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 1 - 0px);--maxw-tablet:calc(100% / 1 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-gDxIwWMgfK gI9jw6AsAi"
      data-index="5"
    >
      <div
        class="gp-w-full",
        style="--shadow:none"
      >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:100%;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"height":900,"src":"https://ucarecdn.com/46d5a88e-90ac-48f6-9cb5-b666cd138e46/-/format/auto/","width":1920},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"height":900,"src":"https://ucarecdn.com/46d5a88e-90ac-48f6-9cb5-b666cd138e46/-/format/auto/","width":1920},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"#00000000","position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gIcrPbjIRT","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"}}'
        gp-href=""
        
        class="gIcrPbjIRT gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--h:auto;--h-tablet:auto;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect:auto;--aspect-tablet:auto"
        data-id="gIcrPbjIRT"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
        style="--h:auto;--h-tablet:auto;--h-mobile:100%;--aspect:auto;--aspect-tablet:auto;--bs:solid;--bw:1px 1px 1px 1px;--bc:#CCCCCC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--bgc:var(--g-c-bg-2);--bgc-mobile:#00000000;--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/46d5a88e-90ac-48f6-9cb5-b666cd138e46/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xOTIwLTE5MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE5MjAiIGhlaWdodD0iMTkyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiBmaWxsPSJ1cmwoI2ctMTkyMC0xOTIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTkyMCIgdG89IjE5MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/46d5a88e-90ac-48f6-9cb5-b666cd138e46/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xOTIwLTE5MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE5MjAiIGhlaWdodD0iMTkyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiBmaWxsPSJ1cmwoI2ctMTkyMC0xOTIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTkyMCIgdG89IjE5MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="https://ucarecdn.com/46d5a88e-90ac-48f6-9cb5-b666cd138e46/-/format/auto/"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--d:block;--d-tablet:block;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 7px 7px 7px 7px)"
            > 
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgc:var(--g-c-bg-2);--bgc-mobile:#00000000;--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bgi:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+');--bgi-tablet:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xOTIwLTE5MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE5MjAiIGhlaWdodD0iMTkyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiBmaWxsPSJ1cmwoI2ctMTkyMC0xOTIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTkyMCIgdG89IjE5MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=');--bgi-mobile:url('');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg   gp_lazyload"
      data-src="https://ucarecdn.com/46d5a88e-90ac-48f6-9cb5-b666cd138e46/-/format/auto/" data-srcset="https://ucarecdn.com/46d5a88e-90ac-48f6-9cb5-b666cd138e46/-/format/auto/" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image desktop"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl  gp_lazyload"
      data-src="https://ucarecdn.com/46d5a88e-90ac-48f6-9cb5-b666cd138e46/-/format/auto/" data-srcset="https://ucarecdn.com/46d5a88e-90ac-48f6-9cb5-b666cd138e46/-/format/auto/" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image tablet"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
            </div></div>
          </div>
          
          </div>
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:21px;--pr-mobile:21px;--pt-mobile:21px;--pb-mobile:21px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-absolute mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gSvuZC-5nf gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g9sZjDX0OI" data-id="g9sZjDX0OI"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb:var(--g-s-l);--cg:8px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 8fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g9sZjDX0OI gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="gfuQp-b91i gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gUnFjgsm1G">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gUnFjgsm1G "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-AvenirNextLTPro, 'AvenirNextLTPro'), var(--g-font-body, body);--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggUnFjgsm1G_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gUnFjgsm1G">
        .gUnFjgsm1G {

}
.gUnFjgsm1G p {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="gaQLbCRBHf gp-relative gp-flex gp-flex-col"
    >
      
    
    <div
    data-id="gefC-JVTqI"
      
      data-id="gefC-JVTqI"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb-mobile:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">

    <div
            class="gp-flex gp-flex-wrap"
            style="--cg:4px;--jc:right;--jc-mobile:right">
            <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gcPLRsyTk8 ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:left"
      class="gp-leading-[0] gksWZujrMo"
    >
      <div 
      data-id="gksWZujrMo"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--w-mobile:12px;--h:14px;--h-mobile:12px;--minw:14px;--minw-mobile:12px;--height-desktop:14px;--height-tablet:14px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817759863701864">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gZfhfvaLT5 ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:left"
      class="gp-leading-[0] gD7MRGFddy"
    >
      <div 
      data-id="gD7MRGFddy"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--w-mobile:12px;--h:14px;--h-mobile:12px;--minw:14px;--minw-mobile:12px;--height-desktop:14px;--height-tablet:14px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817759863701864">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gVvXWIab6q ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:left"
      class="gp-leading-[0] geImXYCndy"
    >
      <div 
      data-id="geImXYCndy"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--w-mobile:12px;--h:14px;--h-mobile:12px;--minw:14px;--minw-mobile:12px;--height-desktop:14px;--height-tablet:14px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817759863701864">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gFYzQUTWU1 ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:left"
      class="gp-leading-[0] g5Wah3lwkt"
    >
      <div 
      data-id="g5Wah3lwkt"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--w-mobile:12px;--h:14px;--h-mobile:12px;--minw:14px;--minw-mobile:12px;--height-desktop:14px;--height-tablet:14px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817759863701864">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gyoelNn8Bw ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--mb-mobile:0px;--ta:left"
      class="gp-leading-[0] gRMRjmUqVV"
    >
      <div 
      data-id="gRMRjmUqVV"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--w-mobile:12px;--h:14px;--h-mobile:12px;--minw:14px;--minw-mobile:12px;--height-desktop:14px;--height-tablet:14px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817759863701864">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div>
         </div>
    </div>
  
    </div>
    </div>
   
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gXMfVFmQCf">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gXMfVFmQCf "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:35px;--mb-mobile:42px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-AvenirNextLTPro, 'AvenirNextLTPro'), var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:12px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggXMfVFmQCf_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gXMfVFmQCf">
        .gXMfVFmQCf {

}
.gXMfVFmQCf p {

}
      </style>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gl6eh_T9fm" data-id="gl6eh_T9fm"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gl6eh_T9fm gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="gcaF8zT8Qm gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gJv_E7oP2X">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gJv_E7oP2X "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-AvenirNextLTPro, 'AvenirNextLTPro'), var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggJv_E7oP2X_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gJv_E7oP2X">
        .gJv_E7oP2X {

}
.gJv_E7oP2X p {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="g31tLr5prK gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gmeNEkPq9X ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="gmeNEkPq9X"
      data-id="gmeNEkPq9X"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":12,"mobile":12,"tablet":16}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:right">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:0px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gmeNEkPq9X"
            style="--cg:3px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:12px;--size-tablet:16px;--size-mobile:12px"
              >
               <svg data-id="516626088017790102" xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
<path fill-rule="evenodd" clip-rule="evenodd" d="M6 0.722656C5.4825 0.722656 4.61775 0.921406 3.804 1.14266C2.9715 1.36766 2.13225 1.63391 1.63875 1.79516C1.43242 1.86329 1.2495 1.98826 1.11099 2.15568C0.972486 2.32311 0.884019 2.52621 0.855754 2.74166C0.408754 6.09941 1.446 8.58791 2.7045 10.2342C3.23819 10.9384 3.87453 11.5585 4.59225 12.0739C4.88175 12.2787 5.15025 12.4354 5.37825 12.5427C5.58825 12.6417 5.814 12.7227 6 12.7227C6.186 12.7227 6.411 12.6417 6.62175 12.5427C6.89662 12.4091 7.15957 12.2522 7.40775 12.0739C8.1255 11.5585 8.76184 10.9384 9.2955 10.2342C10.554 8.58791 11.5913 6.09941 11.1443 2.74166C11.116 2.52611 11.0276 2.32289 10.8891 2.15533C10.7506 1.98778 10.5676 1.86268 10.3613 1.79441C9.64486 1.55952 8.9229 1.34195 8.196 1.14191C7.38225 0.922156 6.5175 0.722656 6 0.722656ZM7.6095 4.58216C7.67992 4.51174 7.77542 4.47218 7.875 4.47218C7.97459 4.47218 8.07009 4.51174 8.1405 4.58216C8.21092 4.65257 8.25048 4.74807 8.25048 4.84766C8.25048 4.94724 8.21092 5.04274 8.1405 5.11316L5.8905 7.36316C5.85567 7.39808 5.81429 7.42579 5.76873 7.44469C5.72317 7.4636 5.67433 7.47333 5.625 7.47333C5.57568 7.47333 5.52684 7.4636 5.48128 7.44469C5.43572 7.42579 5.39434 7.39808 5.3595 7.36316L4.2345 6.23816C4.19964 6.20329 4.17198 6.1619 4.15311 6.11634C4.13424 6.07079 4.12453 6.02196 4.12453 5.97266C4.12453 5.92335 4.13424 5.87452 4.15311 5.82897C4.17198 5.78341 4.19964 5.74202 4.2345 5.70716C4.26937 5.67229 4.31076 5.64463 4.35632 5.62576C4.40187 5.60689 4.4507 5.59718 4.5 5.59718C4.54931 5.59718 4.59814 5.60689 4.64369 5.62576C4.68925 5.64463 4.73064 5.67229 4.7655 5.70716L5.625 6.56741L7.6095 4.58216Z" fill="#B4B4B4"/>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:16px;--size-mobile:12px;--c:#B4B4B4">
                {{ section.settings.ggmeNEkPq9X_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
      </div>
    </div>
  
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-z-1 gp-carousel-action-next gem-slider-next gDxIwWMgfK-{{section.id}} gp-carousel-arrow-gDxIwWMgfK gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-hidden mobile:!gp-hidden"
      style="--left:initial;--top:;--right:initial;--bottom:initial;--left-tablet:initial;--top-tablet:;--right-tablet:initial;--bottom-tablet:initial;--left-mobile:initial;--top-mobile:;--right-mobile:initial;--bottom-mobile:initial;--d:none;--d-tablet:none;--d-mobile:none;background-color:transparent;--w:32px;--h:32px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
  style="--c:#000000;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
  >
    <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z"/>
              </svg>
              
    </div>
      <style>
    .gp-carousel-arrow-gDxIwWMgfK {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-gDxIwWMgfK::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1024px) and (min-width: 768px) {
      .gp-carousel-arrow-gDxIwWMgfK {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gDxIwWMgfK::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-gDxIwWMgfK {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gDxIwWMgfK::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
        </div>
        <div
    class="gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-carousel-dot-container gp-carousel-dot-container-gDxIwWMgfK-{{section.id}} gp-static gp-flex-row gp-left-0 gp-right-0 tablet:gp-static tablet:gp-flex-row tablet:gp-left-0 tablet:gp-right-0 mobile:gp-static mobile:gp-flex-row mobile:gp-left-0 mobile:gp-right-0"
    style="--bottom:16px;--bottom-tablet:16px;--mt-mobile:28px;--d:none;--d-tablet:none;--d-mobile:flex"
 ></div>
      </div>
    </gp-carousel>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-carousel-v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-539674352983999393 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/weargales/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=539674335384699808&sectionId=539674352983999393)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggmyDBeXyB1_text","label":"ggmyDBeXyB1_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(31,33,36);font-size:14px;\"><strong>STAND+ Is The Real Deal In Recovery</strong></span></p>"},{"type":"html","id":"ggVreoDouSP_text","label":"ggVreoDouSP_text","default":"<p>\"<span style=\"background-color:rgb(255,255,255);color:rgb(31,33,36);font-size:14px;\">I've been wearing their shoes for a couple of months now, and I'm really digging how comfortable they are. It's like walking on clouds. I like wearing them on my commute to the gym, to jiu-jitsu class, and on relaxed walks around my neighborhood. I only wish I knew about these recovery comfort shoes back when I was working full-time as a Personal Trainer, full-time as a combo Strength &amp; Conditioning Coach/Licensed Massage Therapist, and then full-time as a Strength &amp; Conditioning Coach. Being on your feet all day, whether you're coaching athletes, treating patients, or working in any other career feild that requires standing for long periods of time, the AntiGrav1 recovery comfort shoe from STAND+ is the real deal in the recovery game for your feet!</span>\"</p>"},{"type":"html","id":"gguf2_FIXKt_text","label":"gguf2_FIXKt_text","default":"<p>- Matthew Ibrahim</p>"},{"type":"html","id":"ggSzJpbQf2D_childItem_0","label":"ggSzJpbQf2D_childItem_0","default":"<p>Verified Buyer</p>"},{"type":"html","id":"ggV0cmh0vbs_text","label":"ggV0cmh0vbs_text","default":"<p>Best Shoes I've &nbsp;Ever Owned</p>"},{"type":"html","id":"gg9kSTCe5ap_text","label":"gg9kSTCe5ap_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(31,33,36);font-size:14px;\">\"I absolutely love these shoes! They're super comfortable and don't make my feet hurt after 10hr days on my feet. These shoes are the1st pair of shoes I've ever owned that help my plantar faciitis and trust me I have probably 20 pairs of shoes. &nbsp;I work a tough job that puts a toll on your body but now that I have these amazing shoes my feet are one less part of my body that is in pain. They're light on your feet with great cushioning and are super easy to clean and take care of. &nbsp;Thank god for STAND &nbsp;I'll never buy another pair of shoes to wear besides them. Appreciate you more than you'll ever know!!</span>.\"</p>"},{"type":"html","id":"ggNKByLz9uH_text","label":"ggNKByLz9uH_text","default":"<p>- V. Weimer</p>"},{"type":"html","id":"ggPNDnYQxSx_childItem_0","label":"ggPNDnYQxSx_childItem_0","default":"<p>Verified Buyer</p>"},{"type":"html","id":"ggAzxCGpBZO_text","label":"ggAzxCGpBZO_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(13,13,13);font-size:14px;\"><strong>AMAZING!</strong></span></p>"},{"type":"html","id":"ggqDSI3G4_s_text","label":"ggqDSI3G4_s_text","default":"<p>\"I knew I wanted a pair of these shoes solely based on the look but I had no idea how incredibly comfortable they were going to be! Theyre SO cool and cushy! I love them for the gym, running errands, grabbing lunch, work, etc they are a show stopper ! Ive had so many people ask me what brand they are. I highly recommend grabbing a pair! Bravo!\"</p>"},{"type":"html","id":"ggXdlFW_ZdH_text","label":"ggXdlFW_ZdH_text","default":"<p>- Brittini Roberts</p>"},{"type":"html","id":"ggWYV77Vz9G_childItem_0","label":"ggWYV77Vz9G_childItem_0","default":"<p>Verified Buyer</p>"},{"type":"html","id":"gg1emJGKq93_text","label":"gg1emJGKq93_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(13,13,13);font-size:14px;\"><strong>5 Star Rating from a Licensed Podiatrist</strong></span></p>"},{"type":"html","id":"gge2wKoJ1yA_text","label":"gge2wKoJ1yA_text","default":"<p>\"I absolutely love them. &nbsp;My feet stay in place and do not slide out. The anti-slide sole is stable on wet tile flooring. The shoe breaths well in light of its waterproof material. Long term comfort is great. I would recommend this shoe for anyone who suffers foot pain. I think that it is a great shoe for nurses, surgeons and OR personnel too.\"</p>"},{"type":"html","id":"ggxi2wtw-uo_text","label":"ggxi2wtw-uo_text","default":"<p>- Eric Silvers</p>"},{"type":"html","id":"ggF-iw9oLz-_childItem_0","label":"ggF-iw9oLz-_childItem_0","default":"<p>Verified Buyer</p>"},{"type":"html","id":"ggYhTtmPpkA_text","label":"ggYhTtmPpkA_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(13,13,13);font-size:14px;\"><strong>Literally the most comfortable shoes Ive ever worn</strong></span></p>"},{"type":"html","id":"ggtIhVCNOZL_text","label":"ggtIhVCNOZL_text","default":"<p>\"The title says it all. I love it and I dont want to wear anything else ever again. Judge me. I dont care.\"</p>"},{"type":"html","id":"ggO4qlkBNsA_text","label":"ggO4qlkBNsA_text","default":"<p>- Arthur Menard</p>"},{"type":"html","id":"ggtVhDaR5ih_childItem_0","label":"ggtVhDaR5ih_childItem_0","default":"<p>Verified Buyer</p>"},{"type":"html","id":"ggJ1O6sypvW_text","label":"ggJ1O6sypvW_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(13,13,13);font-size:14px;\"><strong>Neurosurgery Unit @ Cedars-Sinai</strong></span></p>"},{"type":"html","id":"ggMNgPRvk3n_text","label":"ggMNgPRvk3n_text","default":"<p>\"They're giving orthotic Yeezy Foam Runner &amp; I'm here for it.\"</p>"},{"type":"html","id":"ggE2T02zlIN_text","label":"ggE2T02zlIN_text","default":"<p>- Lex Bobbitt</p>"},{"type":"html","id":"ggr_WlCgAIT_childItem_0","label":"ggr_WlCgAIT_childItem_0","default":"<p>Verified Buyer</p>"},{"type":"html","id":"ggoMvfXHKno_text","label":"ggoMvfXHKno_text","default":"<p><strong>STAND+ Is The Real Deal In Recovery</strong></p>"},{"type":"html","id":"ggwdYhvij2J_text","label":"ggwdYhvij2J_text","default":"<p>\"I've been wearing their shoes for a couple of months now, and I'm really digging how comfortable they are. It's like walking on clouds. I like wearing them on my commute to the gym, to jiu-jitsu class, and on relaxed walks around my neighborhood. I only wish I knew about these recovery comfort shoes back when I was working full-time as a Personal Trainer, full-time as a combo Strength &amp; Conditioning Coach/Licensed Massage Therapist, and then full-time as a Strength &amp; Conditioning Coach. Being on your feet all day, whether you're coaching athletes, treating patients, or working in any other career feild that requires standing for long periods of time, the AntiGrav1 recovery comfort shoe from STAND+ is the real deal in the recovery game for your feet!\"</p>"},{"type":"html","id":"gg0Vc9AiC0P_text","label":"gg0Vc9AiC0P_text","default":"<p>- Matthew Ibrahim</p>"},{"type":"html","id":"gg5xWxSKd7O_childItem_0","label":"gg5xWxSKd7O_childItem_0","default":"<p>Verified Buyer</p>"},{"type":"html","id":"gg2Op0ENgwQ_text","label":"gg2Op0ENgwQ_text","default":"<p>Best Shoes I've &nbsp;Ever Owned</p>"},{"type":"html","id":"ggxn8Z97Tei_text","label":"ggxn8Z97Tei_text","default":"<p>\"I absolutely love these shoes! They're super comfortable and don't make my feet hurt after 10hr days on my feet. These shoes are the1st pair of shoes I've ever owned that help my plantar faciitis and trust me I have probably 20 pairs of shoes. &nbsp;I work a tough job that puts a toll on your body but now that I have these amazing shoes my feet are one less part of my body that is in pain. They're light on your feet with great cushioning and are super easy to clean and take care of. &nbsp;Thank god for STAND &nbsp;I'll never buy another pair of shoes to wear besides them. Appreciate you more than you'll ever know!!.\"</p>"},{"type":"html","id":"gg_3J2rI3xN_text","label":"gg_3J2rI3xN_text","default":"<p>- V. Weimer</p>"},{"type":"html","id":"ggRM6Z9If9k_childItem_0","label":"ggRM6Z9If9k_childItem_0","default":"<p>Verified Buyer</p>"},{"type":"html","id":"ggK7a4gEuz3_text","label":"ggK7a4gEuz3_text","default":"<p>AMAZING!</p>"},{"type":"html","id":"gg78C_zILWO_text","label":"gg78C_zILWO_text","default":"<p>\"I knew I wanted a pair of these shoes solely based on the look but l had no idea how incredibly comfortable they were going to be! They're SO cool and cushy! I love them for the gym, running errands, grabbing lunch, work, etc... they are a show stopper! I've had so many people ask me what brand they are. I highly recommend grabbing a pair! Bravo!\"</p>"},{"type":"html","id":"ggD0_F3MoDd_text","label":"ggD0_F3MoDd_text","default":"<p>- Brittini Roberts&nbsp;</p>"},{"type":"html","id":"ggQIAkig1yM_childItem_0","label":"ggQIAkig1yM_childItem_0","default":"<p>Verified Buyer</p>"},{"type":"html","id":"gg7F0MOmGRI_text","label":"gg7F0MOmGRI_text","default":"<p>5 Star Rating from a Licensed Podiatrist</p>"},{"type":"html","id":"gg4HdqsMXmh_text","label":"gg4HdqsMXmh_text","default":"<p>\"I absolutely love them. My feet stay in place and do not slide out. The anti-slide sole is stable on wet tile flooring. The shoe breaths well in light of its waterproof material. Long term comfort is great. I would recommend this shoe for anyone who suffers foot pain. I think that it is a great shoe for nurses, surgeons and OR personnel too.\"</p>"},{"type":"html","id":"ggRFZ_eJ3Gf_text","label":"ggRFZ_eJ3Gf_text","default":"<p>- Eric Silvers</p>"},{"type":"html","id":"ggXZf-VkiVw_childItem_0","label":"ggXZf-VkiVw_childItem_0","default":"<p>Verified Buyer</p>"},{"type":"html","id":"ggFs7vbCnCS_text","label":"ggFs7vbCnCS_text","default":"<p>Literally the most comfortable shoes I've ever worn</p>"},{"type":"html","id":"gg_vv9hyPdD_text","label":"gg_vv9hyPdD_text","default":"<p>\"The title says it all. I love it and I don't want to wear anything else ever again. Judge me. I don't care.\"</p>"},{"type":"html","id":"gg7L7V7XJZQ_text","label":"gg7L7V7XJZQ_text","default":"<p>- Arthur Menard</p>"},{"type":"html","id":"ggmkicTE_lC_childItem_0","label":"ggmkicTE_lC_childItem_0","default":"<p>Verified Buyer</p>"},{"type":"html","id":"ggUnFjgsm1G_text","label":"ggUnFjgsm1G_text","default":"<p>Neurosurgery Unit @ Cedars-Sinai</p>"},{"type":"html","id":"ggXMfVFmQCf_text","label":"ggXMfVFmQCf_text","default":"<p>\"They're giving orthotic Yeezy Foam Runner</p><p>&amp; I'm here for it.\"</p>"},{"type":"html","id":"ggJv_E7oP2X_text","label":"ggJv_E7oP2X_text","default":"<p>- Lex Bobbitt</p>"},{"type":"html","id":"ggmeNEkPq9X_childItem_0","label":"ggmeNEkPq9X_childItem_0","default":"<p>Verified Buyer</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
