

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-498502268270675017.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-498502268270675017.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-498502268270675017.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-498502268270675017.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-498502268270675017.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-498502268270675017.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-498502268270675017.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-498502268270675017.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-498502268270675017.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-498502268270675017.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-498502268270675017.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-498502268270675017.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-498502268270675017.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-498502268270675017.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-498502268270675017.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-498502268270675017.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-498502268270675017.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-498502268270675017.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-498502268270675017.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-498502268270675017.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-498502268270675017.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-498502268270675017.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-498502268270675017.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-498502268270675017.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-498502268270675017.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-498502268270675017.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-498502268270675017.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-498502268270675017.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-498502268270675017.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-498502268270675017.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-498502268270675017.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-498502268270675017.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-498502268270675017.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-498502268270675017.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-498502268270675017.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-498502268270675017.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-498502268270675017.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-498502268270675017.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-498502268270675017.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-498502268270675017.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-498502268270675017.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-498502268270675017.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-498502268270675017.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-498502268270675017.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-498502268270675017.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-498502268270675017.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-498502268270675017.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-498502268270675017.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-498502268270675017.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-498502268270675017.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-498502268270675017.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-498502268270675017.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-498502268270675017.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-498502268270675017.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-498502268270675017.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-498502268270675017.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-498502268270675017.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-498502268270675017 .gp-g-subheading-1{font-family:var(--g-sh1-ff);font-size:var(--g-sh1-size);font-style:var(--g-sh1-fs);font-weight:var(--g-sh1-weight);letter-spacing:var(--g-sh1-ls);line-height:var(--g-sh1-lh)}.gps-498502268270675017 .gp-relative{position:relative}.gps-498502268270675017 .gp-z-1{z-index:1}.gps-498502268270675017 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-498502268270675017 .gp-mb-0{margin-bottom:0}.gps-498502268270675017 .\!gp-inline{display:inline!important}.gps-498502268270675017 .gp-flex{display:flex}.gps-498502268270675017 .gp-inline-flex{display:inline-flex}.gps-498502268270675017 .gp-grid{display:grid}.gps-498502268270675017 .\!gp-hidden{display:none!important}.gps-498502268270675017 .gp-hidden{display:none}.gps-498502268270675017 .gp-h-full{height:100%}.gps-498502268270675017 .gp-w-full{width:100%}.gps-498502268270675017 .gp-max-w-full{max-width:100%}.gps-498502268270675017 .gp-flex-col{flex-direction:column}.gps-498502268270675017 .gp-items-center{align-items:center}.gps-498502268270675017 .gp-justify-center{justify-content:center}.gps-498502268270675017 .gp-gap-y-0{row-gap:0}.gps-498502268270675017 .gp-overflow-hidden{overflow:hidden}.gps-498502268270675017 .gp-break-words{overflow-wrap:break-word}.gps-498502268270675017 .gp-rounded-none{border-radius:0}.gps-498502268270675017 .gp-text-center{text-align:center}.gps-498502268270675017 .gp-no-underline{text-decoration-line:none}.gps-498502268270675017 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-498502268270675017 .gp-duration-200{transition-duration:.2s}.gps-498502268270675017 .gp-duration-300{transition-duration:.3s}.gps-498502268270675017 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-498502268270675017 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-498502268270675017 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-498502268270675017 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-498502268270675017 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-498502268270675017 .tablet\:\!gp-hidden{display:none!important}.gps-498502268270675017 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-498502268270675017 .mobile\:\!gp-hidden{display:none!important}.gps-498502268270675017 .mobile\:gp-hidden{display:none}}.gps-498502268270675017 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-498502268270675017 .\[\&_p\]\:gp-inline p{display:inline}.gps-498502268270675017 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-498502268270675017 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-498502268270675017 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      enableLazyloadImage="true" id="gqsAhyqJ65" data-id="gqsAhyqJ65"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gqsAhyqJ65 avenir-next gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gHs6nPswoU gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gwcL0yiIK3">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gwcL0yiIK3 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pos:relative;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-subheading-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggwcL0yiIK3_text }}</div>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="ggIyUbGNpb" data-id="ggIyUbGNpb"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ggIyUbGNpb gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ghhIqaUuZW gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g7H44tXfre"
    role="presentation"
    class="gp-group/image g7H44tXfre"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--mb:0px;--pt:20px;--pl:20px;--pb:20px;--pr:20px;--ta:center"
    >
      <a
        class="pointer-events-auto h-full gp-flex"
        href="#smile-home" target="_self" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "470337726575543518-16bff89b-23e2-452e-a91d-e833fe773561.jpg" | file_url }}" data-srcset="{{ '470337726575543518-16bff89b-23e2-452e-a91d-e833fe773561.jpg' | file_img_url: '768x' }} 768w, {{ '470337726575543518-16bff89b-23e2-452e-a91d-e833fe773561.jpg' | file_img_url: '1024x' }} 1024w, {{ '470337726575543518-16bff89b-23e2-452e-a91d-e833fe773561.jpg' | file_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUwMCIgaGVpZ2h0PSIxNTAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNTAwLTE1MDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE1MDAiIGhlaWdodD0iMTUwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUwMCIgaGVpZ2h0PSIxNTAwIiBmaWxsPSJ1cmwoI2ctMTUwMC0xNTAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTUwMCIgdG89IjE1MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="1500" height="1500" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1500/1500;--aspect-tablet:1500/1500;--aspect-mobile:1500/1500;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  
      </a>
  </div>
  <gp-button >
  <div
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:left"
    
  >
    <style>
    .gqtNDFRKod.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gqtNDFRKod:hover::before {
      
      
    }

    .gqtNDFRKod:hover .gp-button-icon {
      color: undefined;
    }

     .gqtNDFRKod .gp-button-icon {
      color: #121212;
    }

    .gqtNDFRKod:hover .gp-button-price {
      color: undefined;
    }

    .gqtNDFRKod .gp-button-price {
      color: #121212;
    }

    .gqtNDFRKod .gp-product-dot-price {
       color: #121212;
    }

    .gqtNDFRKod:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#smile-home" target="_self" data-id="gqtNDFRKod" aria-label="STAND+ Plus+"
      
      data-state="idle"
      class="gqtNDFRKod gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center gp-g-subheading-1"
      style="--hvr-bg:rgba(77, 77, 77, 0);--bg:rgba(18, 18, 18, 0);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--c:#121212"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden gp-g-subheading-1
        "
        
      >
        {{ section.settings.ggqtNDFRKod_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gkVpCOnd2c gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g4OzXhZQpq"
    role="presentation"
    class="gp-group/image g4OzXhZQpq"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--mb:0px;--pt:20px;--pl:20px;--pb:20px;--pr:20px;--ta:center"
    >
      <a
        class="pointer-events-auto h-full gp-flex"
        href="#insider" target="_self" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "470337726575543518-46d1470f-7ba1-47b6-baf0-d09f1c724329.jpg" | file_url }}" data-srcset="{{ '470337726575543518-46d1470f-7ba1-47b6-baf0-d09f1c724329.jpg' | file_img_url: '768x' }} 768w, {{ '470337726575543518-46d1470f-7ba1-47b6-baf0-d09f1c724329.jpg' | file_img_url: '1024x' }} 1024w, {{ '470337726575543518-46d1470f-7ba1-47b6-baf0-d09f1c724329.jpg' | file_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzcwNSIgaGVpZ2h0PSIzNzA1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zNzA1LTM3MDUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjM3MDUiIGhlaWdodD0iMzcwNSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzcwNSIgaGVpZ2h0PSIzNzA1IiBmaWxsPSJ1cmwoI2ctMzcwNS0zNzA1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzcwNSIgdG89IjM3MDUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="3705" height="3705" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:3705/3705;--aspect-tablet:3705/3705;--aspect-mobile:3705/3705;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  
      </a>
  </div>
  <gp-button >
  <div
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:left"
    
  >
    <style>
    .giZar3Jcxr.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .giZar3Jcxr:hover::before {
      
      
    }

    .giZar3Jcxr:hover .gp-button-icon {
      color: undefined;
    }

     .giZar3Jcxr .gp-button-icon {
      color: #121212;
    }

    .giZar3Jcxr:hover .gp-button-price {
      color: undefined;
    }

    .giZar3Jcxr .gp-button-price {
      color: #121212;
    }

    .giZar3Jcxr .gp-product-dot-price {
       color: #121212;
    }

    .giZar3Jcxr:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#insider" target="_self" data-id="giZar3Jcxr" aria-label="STAND+ Insider"
      
      data-state="idle"
      class="giZar3Jcxr gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center gp-g-subheading-1"
      style="--hvr-bg:rgba(77, 77, 77, 0);--bg:rgba(18, 18, 18, 0);--radius:var(--g-radius-small);--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--c:#121212"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden gp-g-subheading-1
        "
        
      >
        {{ section.settings.ggiZar3Jcxr_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gz3TlErfO_ gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gSsOtaVHv0"
    role="presentation"
    class="gp-group/image gSsOtaVHv0"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--mb:0px;--pt:20px;--pl:20px;--pb:20px;--pr:20px;--ta:center"
    >
      <a
        class="pointer-events-auto h-full gp-flex"
        href="#ambassador" target="_self" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0291/3724/0142/files/ambassador_image.png?v=1707958871" data-srcset="https://cdn.shopify.com/s/files/1/0291/3724/0142/files/ambassador_image.png?v=1707958871 768w,https://cdn.shopify.com/s/files/1/0291/3724/0142/files/ambassador_image.png?v=1707958871 1024w,https://cdn.shopify.com/s/files/1/0291/3724/0142/files/ambassador_image.png?v=1707958871 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTAwLTUwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0idXJsKCNnLTUwMC01MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MDAiIHRvPSI1MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="500" height="500" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:500/500;--aspect-tablet:500/500;--aspect-mobile:500/500;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  
      </a>
  </div>
  <gp-button >
  <div
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:left"
    
  >
    <style>
    .ghQ8Vv7w4t.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .ghQ8Vv7w4t:hover::before {
      
      
    }

    .ghQ8Vv7w4t:hover .gp-button-icon {
      color: undefined;
    }

     .ghQ8Vv7w4t .gp-button-icon {
      color: #121212;
    }

    .ghQ8Vv7w4t:hover .gp-button-price {
      color: undefined;
    }

    .ghQ8Vv7w4t .gp-button-price {
      color: #121212;
    }

    .ghQ8Vv7w4t .gp-product-dot-price {
       color: #121212;
    }

    .ghQ8Vv7w4t:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#ambassador" target="_self" data-id="ghQ8Vv7w4t" aria-label="STAND+ Ambassador"
      
      data-state="idle"
      class="ghQ8Vv7w4t gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center gp-g-subheading-1"
      style="--hvr-bg:rgba(77, 77, 77, 0);--bg:rgba(18, 18, 18, 0);--radius:var(--g-radius-small);--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--c:#121212"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden gp-g-subheading-1
        "
        
      >
        {{ section.settings.gghQ8Vv7w4t_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-498502268270675017 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/weargales/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=494575770312639605&sectionId=498502268270675017)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggwcL0yiIK3_text","label":"ggwcL0yiIK3_text","default":"<p><span style=\"color:#000000;\">Partner with STAND+ and earn rewards, join our growing community, and be one of the first to learn about new products! See which program is right for you and apply below.&nbsp;</span></p>"},{"type":"html","id":"ggqtNDFRKod_label","label":"ggqtNDFRKod_label","default":"STAND+ Plus+"},{"type":"html","id":"ggiZar3Jcxr_label","label":"ggiZar3Jcxr_label","default":"STAND+ Insider"},{"type":"html","id":"gghQ8Vv7w4t_label","label":"gghQ8Vv7w4t_label","default":"STAND+ Ambassador"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
