{% capture style_base_html %}
    <style>
        :root {
            {% if section.settings.type == '1' %}
                --information-line-type-1-title-size: var(--h6-size);
                --information-line-type-1-title-line-height: var(--h6-line-height);
                --information-line-type-1-title-letter-spacing: var(--h6-letter-spacing);
                --information-line-type-1-title-weight: var(--h6-weight);
            {% elsif section.settings.type == '2' %}
                --information-line-type-2-title-size: var(--h4-size);
                --information-line-type-2-title-line-height: var(--h4-line-height);
                --information-line-type-2-title-letter-spacing: var(--h4-letter-spacing);
                --information-line-type-2-title-weight: var(--h4-weight);
            {% elsif section.settings.type == '3' %}
                --information-line-type-1-paragraph-size: var(--body-size);
                --information-line-type-1-paragraph-line-height: var(--body-line-height);
                --information-line-type-1-paragraph-letter-spacing: var(--body-letter-spacing);
                --information-line-type-1-paragraph-weight: var(--body-weight);
            {% elsif section.settings.type == '4' %}
                --information-line-type-2-paragraph-size: var(--body-size);
                --information-line-type-2-paragraph-line-height: var(--body-line-height);
                --information-line-type-2-paragraph-letter-spacing: var(--body-letter-spacing);
                --information-line-type-2-paragraph-weight: var(--body-weight);
            {% endif %}

            {% if section.settings.style == '1' %}
                --info-line-style-1-bg: var(--theme-body);
                --info-line-style-1-bd-top: solid 1px var(--theme5);
                --info-line-style-1-bd-bottom: solid 1px var(--theme5);
                --info-line-style-1-icon-c: var(--theme-primary);
                --info-line-style-1-title-c: var(--theme-head-c);
                --info-line-style-1-paragraph-c: var(--theme-c);
            {% elsif section.settings.style == '2' %}
                --info-line-style-2-bg: var(--theme-body);
                --info-line-style-2-bd-top: solid 1px var(--theme5);
                --info-line-style-2-bd-bottom: none;
                --info-line-style-2-icon-c: var(--theme-primary);
                --info-line-style-2-title-c: var(--theme-head-c);
                --info-line-style-2-paragraph-c: var(--theme-c);
            {% elsif section.settings.style == '3' %}
                --info-line-style-3-bg: var(--theme-body);
                --info-line-style-3-bd-top: none;
                --info-line-style-3-bd-bottom: none;
                --info-line-style-3-icon-c: var(--theme-primary);
                --info-line-style-3-title-c: var(--theme-head-c);
                --info-line-style-3-paragraph-c: var(--theme-c);
            {% elsif section.settings.style == '4' %}
                --info-line-style-4-bg: var(--theme);
                --info-line-style-4-bd-top: none;
                --info-line-style-4-bd-bottom: none;
                --info-line-style-4-icon-c: var(--theme-body);
                --info-line-style-4-title-c: var(--theme-body);
                --info-line-style-4-paragraph-c: var(--theme-c);
            {% elsif section.settings.style == '5' %}
                --info-line-style-5-bg: var(--theme-primary);
                --info-line-style-5-bd-top: none;
                --info-line-style-5-bd-bottom: none;
                --info-line-style-5-icon-c: var(--theme-body);
                --info-line-style-5-title-c: var(--theme-body);
                --info-line-style-5-paragraph-c: var(--theme-body);
            {% endif %}

            {% if settings.layout_settings_file == 'skin-5' %}
                --info-line-style-1-icon-c: #1278A5;
                --info-line-style-2-icon-c: #1278A5;
                --info-line-style-3-icon-c: #1278A5;
            {% elsif settings.layout_settings_file == 'skin-15' %}
                --information-line-type-2-paragraph-size: var(--body-lg-size);
                --information-line-type-2-paragraph-line-height: var(--body-lg-line-height);
                --information-line-type-2-paragraph-letter-spacing: var(--body-lg-letter-spacing);
                --information-line-type-2-paragraph-weight: var(--body-lg-weight);
                --info-line-style-2-title-c: var(--theme-primary);
            {% endif %}
        }

        .information-line--style-{{ section.settings.style }} {
            background-color: var(--info-line-style-{{ section.settings.style }}-bg);
            border-top: var(--info-line-style-{{ section.settings.style }}-bd-top);
            border-bottom: var(--info-line-style-{{ section.settings.style }}-bd-bottom);
        }
        .information-line--style-{{ section.settings.style }} .icon {
            fill: var(--info-line-style-{{ section.settings.style }}-icon-c);
        }
        .information-line--style-{{ section.settings.style }} h6 {
            color: var(--info-line-style-{{ section.settings.style }}-title-c);
        }
        .information-line--style-{{ section.settings.style }} p {
            color: var(--info-line-style-{{ section.settings.style }}-paragraph-c);
        }
        .information-line--type-{{ section.settings.type }} p {
            font-size: var(--information-line-type-{{ section.settings.style }}-paragraph-size);
            line-height: var(--information-line-type-{{ section.settings.style }}-paragraph-line-height);
            letter-spacing: var(--information-line-type-{{ section.settings.style }}-paragraph-letter-spacing);
            font-weight: var(--information-line-type-{{ section.settings.style }}-paragraph-weight);
        }
        .information-line--type-{{ section.settings.type }} .information-line__title {
            font-size: var(--information-line-type-{{ section.settings.style }}-title-size);
            line-height: var(--information-line-type-{{ section.settings.style }}-title-line-height);
            letter-spacing: var(--information-line-type-{{ section.settings.style }}-title-letter-spacing);
            font-weight: var(--information-line-type-{{ section.settings.style }}-title-weight);
        }
    </style>
{% endcapture %}
{%- if style_base_html -%}
    {%- if request.design_mode -%}
        {{ style_base_html }}
    {%- else -%}
        <template class="js-loader-inline-style" data-key="{{ style_base_html | hmac_sha1: 'secret_key' }}">{{ style_base_html }}</template>
    {%- endif -%}
{%- endif -%}
{%- if section.blocks.size > 0 -%}
    {% include 'global-variables' %}
    <div data-section-id="{{ section.id }}" data-section-type="information-line">
        {%- if section.settings.title != blank -%}
            <h2 class="h4 information-line-title home-section-title mb-30 text-center">{{ section.settings.title }}</h2>
        {%- endif -%}
        <div class="information-line information-line--type-{{ section.settings.type }} information-line--style-{{ section.settings.style }}">
            <div class="container">
                <div class="row py-{{ information_line_padding_v }}">
                    {%- for block in section.blocks -%}
                        <{% if block.settings.url != blank %}a href="{{ block.settings.url }}"{% else %}div{% endif %} class="col-12 col-lg-{{ 12 | divided_by: section.blocks.size }}">
                            {%- if section.settings.type == '1' -%}
                                <div class="d-flex align-items-center justify-content-start justify-content-lg-start py-10">
                                    <i class="mr-15">{% include 'load-icon' with name: block.settings.icon %}</i>
                                    <div>
                                        {%- if block.settings.title != blank -%}
                                            <h6 class="information-line__title d-inline">{{ block.settings.title }} </h6>
                                        {%- endif -%}
                                        {%- if block.settings.paragraph != blank -%}
                                            <p class="d-inline">{{ block.settings.paragraph }}</p>
                                        {%- endif -%}
                                    </div>
                                </div>
                            {%- else -%}
                                <div class="d-flex align-items-start justify-content-start py-10">
                                    <i class="mr-15">{% include 'load-icon' with name: block.settings.icon %}</i>
                                    <div>
                                        {%- if block.settings.title != blank -%}
                                            <h6 class="information-line__title mb-0">{{ block.settings.title }} </h6>
                                        {%- endif -%}
                                        {%- if block.settings.paragraph != blank -%}
                                            <p class="d-inline">{{ block.settings.paragraph }}</p>
                                        {%- endif -%}
                                    </div>
                                </div>
                            {%- endif -%}
                        </{% if block.settings.url != blank %}a{% else %}div{% endif %}>
                    {%- endfor -%}
                </div>
            </div>
        </div>
    </div>
{%- else -%}
    {% render 'no-blocks' %}
{%- endif -%}


{% schema %}
{
    "name": "Information line",
    "settings": [
        {
            "type": "textarea",
            "id": "title",
            "label": "Title"
        },
{
"type": "select",
"id": "type",
"label": "Type",
"default": "1",
"options": [
{
"value": "1",
"label": "Type #1"
},
{
"value": "2",
"label": "Type #2"
}
]
},
{
"type": "select",
"id": "style",
"label": "Colorize style",
"default": "1",
"options": [
{
"value": "1",
"label": "Style #1"
},
{
"value": "2",
"label": "Style #2"
},
{
"value": "3",
"label": "Style #3"
},
{
"value": "4",
"label": "Style #4"
},
{
"value": "5",
"label": "Style #5"
}
]
},
{
  "type": "header",
  "content": "Video manual"
},
{
  "type": "paragraph",
  "content": "[Home sections](https:\/\/www.youtube.com\/watch?v=QQ6wFwBts4k&list=PLj-506KaR_vcQjwcpC6yII-1JY0bSj7df&index=9)"
},
{
  "type": "header",
  "content": "User manual"
},
{
  "type": "paragraph",
  "content": "[Information Line](https:\/\/mpthemes.net\/shella-shopify-theme\/documentation-version4\/doc02-07-home-information-line.php#information-line)"
}
    ],
    "blocks": [
        {
            "type": "content",
            "name": "Content",
            "limit": 4,
            "settings": [
                {
                    "type": "text",
                    "id": "icon",
                    "label": "Icon snippet name",
                    "default": "theme-116"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Title text."
                },
                {
                    "type": "text",
                    "id": "paragraph",
                    "label": "Paragraph",
                    "default": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa error iste provident."
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "URL"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Information line",
            "category": "3) Static content",
"blocks": [
{
"type": "content",
"settings": {
"icon": "theme-116",
"title": "Free Shipping.",
"paragraph": "All orders of $49 or more of eligible items across any product category qualify."
}
},
{
"type": "content",
"settings": {
"icon": "theme-125",
"title": "Payment Methods.",
"paragraph": "Credit Card: Visa, MasterCard, Maestro, American Express."
}
},
{
"type": "content",
"settings": {
"icon": "theme-009",
"title": "Returns & Refunds.",
"paragraph": "You can return any item purchased on Shella within 20 days of the delivery date."
}
}
]
        }
    ]
}
{% endschema %}