{% include 'breadcrumbs' %}
<div data-section-id="{{ section.id }}" data-section-type="blog">
    <div class="blogs pb-1 {{ section.settings.customization_class }}">
        <div class="container">
            <div class="row pb-60">
                {%- if settings.blog_show_sidebar != 'hide' -%}
                    {%- if settings.blog_sidebar_position == 'dropdown' -%}
                        <div class="blogs__sidebar d-none">
                            {% include 'blog-sidebar' with section as section %}
                        </div>
                    {%- else -%}
                    <div class="blogs__sidebar blogs__sidebar--width-md blogs__sidebar--offset-bottom d-none d-lg-block col-auto{% if settings.blog_sidebar_position == 'right' %} order-2{% endif %}{% if settings.blog_enable_sticky %} sticky-sidebar-lg js-sticky-sidebar{% endif %}">
                        {%- if settings.blog_enable_sticky -%}
                        <div data-js-sticky-sidebar-body>
                        {%- endif -%}
                            <div data-js-position-desktop="sidebar">
                                {% include 'blog-sidebar' with section as section %}
                            </div>
                        {%- if settings.blog_enable_sticky -%}
                        </div>
                        {%- endif -%}
                    </div>
                    {%- endif -%}
                {%- endif -%}
                <div class="blogs__body col">
                    <div class="blog-body mt-30">
                        {% paginate blog.articles by section.settings.max_posts %}
                            {%- assign blog_title = blog.title -%}
                            {%- if current_tags -%}
                                {% capture blog_title %}{{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}{% endcapture %}
                            {%- endif -%}
                            {%- if  section.settings.show_title -%}
                                <h1 class="h3 mb-40 text-center">{{ blog_title }}</h1>
                            {%- endif -%}
                            {%- if settings.blog_show_sidebar != 'hide' -%}
                                {%- if settings.blog_show_sidebar != 'hide' and settings.blog_sidebar_position == 'dropdown' -%}
                                    {%- assign desktop_need_button = true -%}
                                {%- endif -%}
                                {%- if settings.blog_show_sidebar == 'desktop_and_mobile' -%}
                                    {%- assign mobile_need_button = true -%}
                                {%- endif -%}
                                <div class="{% if mobile_need_button == true %}d-flex{% else %}d-none{% endif %}{% if desktop_need_button == true %} d-lg-flex{% else %} d-lg-none{% endif %} mb-15">
                                    <div class="blog-body__button-sidebar d-flex align-items-center cursor-pointer js-popup-button" data-js-popup-button="sidebar">
                                        <i class="mr-5">{% render 'icon-theme-084' %}</i>
                                        {{ 'blogs.general.button_sidebar' | t }}
                                    </div>
                                </div>
                            {%- endif -%}
                            {%- if blog.articles.size -%}
                                {%- if section.settings.type == '1' -%}
                                    {%- for article in blog.articles -%}
                                        <div class="post post--limit-width mb-40 text-center">
                                            {%- unless forloop.first -%}
                                                <div class="border-top mb-35"></div>
                                            {%- endunless -%}
                                            {%- if section.settings.show_tags and article.tags.size > 0 -%}
                                                <div class="mb-15 post-tags">
                                                    {%- for tag in article.tags -%}
                                                        <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="link-revert text-underline-hover font-bold">{{ tag | upcase }}</a>
                                                        {%- unless forloop.last -%}<span class="font-bold">, </span>{%- endunless -%}
                                                    {%- endfor -%}
                                                </div>
                                            {%- endif -%}
                                            <h3 class="mb-15"><a href="{{ article.url }}">{{ article.title }}</a></h3>
                                            {%- if section.settings.show_information -%}
                                                {% capture author %}{{ article.author | upcase }}{% endcapture %}
                                                {% capture date %}{{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}
                                                <p class="mb-0 font-italic">{{ 'blogs.article.author_on_date_html' | t: author: author, date: date }}</p>
                                            {%- endif -%}
                                            {%- if section.settings.show_image and article.image -%}
                                                <a href="{{ article.url }}" class="d-block mt-25 overflow-hidden">
                                                    {% render 'rimage' with image: article.image size: '1024x' format: 'pjpg' alt: article.title image_class: 'w-100' %}
                                                </a>
                                            {%- endif -%}
                                            {%- if section.settings.show_content -%}
                                                {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
                                                    <div class="rte mt-30">
                                                        {%- if article.excerpt.size > 0 and section.settings.max_post_content_length > 0 -%}
                                                            {{ article.excerpt | strip_html | truncatewords: section.settings.max_post_content_length }}
                                                        {%- else -%}
                                                            {%- if section.settings.max_post_content_length > 0 -%}
                                                                <p class="mb-0">{{ article.content | strip_html | truncatewords: section.settings.max_post_content_length }}</p>         
                                                            {%- endif -%}
                                                        {%- endif -%}
                                                    </div>
                                                {%- endif -%}
                                            {%- endif -%}
                                            {%- if section.settings.show_button or section.settings.show_comments -%}
                                                {%- unless section.settings.show_button != true and article.comments_count == 0 and section.settings.show_empty_comments != true -%}
                                                    <div class="d-flex flex-column flex-lg-row flex-center position-relative mt-25">
                                                        {%- if section.settings.show_button -%}
                                                            <a href="{{ article.url }}" class="btn">{{ 'blogs.article.read_more' | t }}</a>
                                                        {%- endif -%}
                                                        {%- if section.settings.show_comments and blog.comments_enabled? -%}
                                                            {%- unless article.comments_count == 0 and section.settings.show_empty_comments != true -%}
                                                                <a href="{{ article.url }}#comments" class="d-flex flex-center position-lg-absolute mt-20 mt-lg-0 ml-lg-auto right-lg-0">
                                                                    <i>{% render 'icon-theme-196' %}</i>
                                                                    <span class="ml-8">{{ 'blogs.comments.with_count' | t: count: article.comments_count }}</span>
                                                                </a>
                                                            {%- endunless -%}
                                                        {%- endif -%}
                                                    </div>
                                                {%- endunless -%}
                                            {%- endif -%}
                                        </div>
                                    {%- endfor -%}
                                {%- elsif section.settings.type == '7' -%}
                                    <div class="post--limit-width horizontal-single">
                                        <div class="post d-flex">
                                            <div class="blog-title mr-30">
                                                <h1 class="h2 pb-20 pt-20 mb-0 text-center">{{ blog_title }}</h1>
                                            </div>
                                            <div style="margin-top: 28px;">Press Inquiries:  
                                                    <a href="mailto:press@standshoes.com" class="text-underline">press@standshoes.com</a>
                                            </div>
                                        </div>
                                       {%- for article in blog.articles -%}
                                            {%- assign article_url = article.url -%}
                                            {%- assign a_target = "_self" -%}
                                            {%- if article.metafields.furnace.external_link -%}
                                                {%- assign article_url = article.metafields.furnace.external_link -%}
                                                {%- assign a_target = "_blank" -%}
                                            {%- endif -%}
                                            <div class="post d-flex">
                                                
                                                {%- if section.settings.show_image and article.image -%}
                                                    <a href="{{ article_url }}" target="{{ a_target }}" class="d-block overflow-hidden">
                                                        {% render 'rimage' with image: article.image size: '150x' alt: article.title image_class: 'w-100' %}
                                                    </a>
                                                {%- endif -%}
                                                <div class="text-left">
                                                    <h6 class="mb-5"><a href="{{ article_url }}" target="{{ a_target }}">{{ article.title }}</a></h6>
                                                    {%- if section.settings.show_content -%}
                                                        {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
                                                            <div class="">
                                                                {%- if article.excerpt.size > 0 and section.settings.max_post_content_length > 0 -%}
                                                                    {{ article.excerpt | strip_html | truncatewords: section.settings.max_post_content_length }}
                                                                {%- else -%}
                                                                    {%- if section.settings.max_post_content_length > 0 -%}
                                                                        <p class="mb-0">{{ article.content | strip_html | truncatewords: section.settings.max_post_content_length }}</p>         
                                                                    {%- endif -%}
                                                                {%- endif -%}
                                                            </div>        
                                                        {%- endif -%}
                                                    {%- endif -%}
                                                    <div class="text-right"> 
                                                        <a href="{{ article_url }}" target="{{ a_target }}" class="text-underline">{{ 'blogs.article.read_more' | t }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                    {%- endfor -%}
                                    {%- if paginate.pages > 1 -%}
                                        {% render 'pagination', paginate: paginate, pagination_margin: 'mt-0' %}
                                    {%- endif -%}
                                    </div>
                                {%- else -%}
                                    <div class="row{% if section.settings.masonry_enable %} masonry invisible{% endif %}">
                                        {%- for article in blog.articles -%}
                                            <div class="col col-md-{{ section.settings.type }}">
                                                {% comment %} <div class="post mb-55 text-center"> {% endcomment %}
                                                <div class="post">
                                                    {%- if section.settings.show_image and article.image -%}
                                                        <a href="{{ article.url }}" class="d-block mb-15 overflow-hidden">
                                                            {% render 'rimage' with image: article.image size: '1024x' format: 'pjpg' alt: article.title image_class: 'w-100' %}
                                                        </a>
                                                    {%- endif -%}
                                                    {% comment %} <div class="post__hidden-info d-none position-relative"> {% endcomment %}
                                                    <div class="position-relative">
                                                        {% comment %} <div class="position-absolute top-0 left-0 right-0 pb-15"> {% endcomment %}
                                                        <div class="pl-30 pr-30 pb-30">
                                                            {%- if section.settings.show_tags and article.tags.size > 0 -%}
                                                                <div class="mb-10 post-tags">
                                                                    {%- for tag in article.tags -%}
                                                                        <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="link-revert text-underline-hover font-bold">{{ tag | upcase }}</a>
                                                                        {%- unless forloop.last -%}<span class="font-bold">, </span>{%- endunless -%}
                                                                    {%- endfor -%}
                                                                </div>
                                                            {%- endif -%}
                                                            <h3 class="h4 mb-15"><a href="{{ article.url }}">{{ article.title }}</a></h3>
                                                            {%- if section.settings.show_information -%}
                                                                {% capture author %}{{ article.author | upcase }}{% endcapture %}
                                                                {% capture date %}{{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}
                                                                <p class="mb-0 font-italic">{{ 'blogs.article.author_on_date_html' | t: author: author, date: date }}</p>
                                                            {%- endif -%}
                                                            {%- if section.settings.show_content -%}
                                                                {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
                                                                    {% comment %} <div class="rte mt-15"> {% endcomment %}
                                                                    <div class="mt-15">
                                                                        {%- if article.excerpt.size > 0 -%}
                                                                            {{ article.excerpt }}
                                                                        {%- else -%}
                                                                            <p class="mb-0">{{ article.content | strip_html | truncatewords: section.settings.max_post_content_length }}</p>
                                                                        {%- endif -%}
                                                                    </div>
                                                                {%- endif -%}
                                                            {%- endif -%}
                                                            {%- if section.settings.show_button or section.settings.show_comments -%}
                                                                {%- unless section.settings.show_button != true and article.comments_count == 0 and section.settings.show_empty_comments != true -%}
                                                                    {% comment %} <div class="d-flex flex-column align-items-center position-relative"> {% endcomment %}
                                                                    <div class="d-flex flex-column position-relative">
                                                                        {%- if section.settings.show_button -%}
                                                                            {% comment %} <a href="{{ article.url }}" class="btn mt-15">{{ 'blogs.article.read_more' | t }}</a> {% endcomment %}
                                                                            <a href="{{ article.url }}" class="mt-15 text-underline">{{ 'blogs.article.read_more' | t }}</a>
                                                                        {%- endif -%}
                                                                        {%- if section.settings.show_comments and blog.comments_enabled? -%}
                                                                            {%- unless article.comments_count == 0 and section.settings.show_empty_comments != true -%}
                                                                                <a href="{{ article.url }}#comments" class="d-flex flex-center mt-30">
                                                                                    <i>{% render 'icon-theme-196' %}</i>
                                                                                    <span class="ml-8">{{ 'blogs.comments.with_count' | t: count: article.comments_count }}</span>
                                                                                </a>
                                                                            {%- endunless -%}
                                                                        {%- endif -%}
                                                                    </div>
                                                                {%- endunless -%}
                                                            {%- endif -%}
                                                        </div>
                                                    </div>
                                                    {% comment %} <h3 class="h4 mb-15"><a href="{{ article.url }}">{{ article.title }}</a></h3> {% endcomment %}
                                                    {%- if section.settings.show_information -%}
                                                        {% capture author %}{{ article.author | upcase }}{% endcapture %}
                                                        {% capture date %}{{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}
                                                        <p class="mb-0 font-italic">{{ 'blogs.article.author_on_date_html' | t: author: author, date: date }}</p>
                                                    {%- endif -%}
                                                </div>
                                            </div>
                                        {%- endfor -%}
                                    </div>
                                {%- endif -%}
                                {%- if paginate.pages > 1 and section.settings.type != '7' -%}
                                    {% render 'pagination', paginate: paginate, pagination_margin: 'mt-0' %}
                                {%- endif -%}
                            {%- endif -%}
                        {% endpaginate %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%- if settings.blog_enable_sticky -%}
        <script>
            theme.AssetsLoader.require('scripts', 'sticky_sidebar');
        </script>
    {%- endif -%}
</div>
{%- if section.settings.masonry_enable -%}
    <script>
        theme.AssetsLoader.require('scripts', 'masonry');
    </script>
{%- endif -%}


{% schema %}
{
    "name": "Content & Sidebar",
    "settings": [
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "checkbox",
            "id": "show_title",
            "label": "Show page title",
            "default": false
        },
        {
            "type": "select",
            "id": "type",
            "label": "Type",
            "default": "1",
            "options": [
                {
                    "value": "1",
                    "label": "Type #1, 1 item in the row"
                },
                {
                    "value": "6",
                    "label": "Type #2, 2 items in the row"
                },
                {
                    "value": "4",
                    "label": "Type #2, 3 items in the row"
                },
                {
                    "value": "3",
                    "label": "Type #2, 4 items in the row"
                },
                {
                    "value": "2",
                    "label": "Type #2, 6 items in the row"
                },
                {
                    "value": "7",
                    "label": "Horizontal, 1 item in the row"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "masonry_enable",
            "label": "Enable masonry",
            "info": "Only with type #2",
            "default": true
        },
        {
            "type": "range",
            "id": "max_posts",
            "min": 3,
            "max": 24,
            "step": 1,
            "default": 12,
            "label": "Posts per page"
        },
        {
            "type": "header",
            "content": "Content"
        },
        {
            "type": "checkbox",
            "id": "show_image",
            "label": "Show image",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_information",
            "label": "Show information",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_tags",
            "label": "Show tags",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_content",
            "label": "Show content",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_button",
            "label": "Show button",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_comments",
            "label": "Show comments",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_empty_comments",
            "label": "Show empty comments",
            "default": true
        },
        {
            "type": "range",
            "id": "max_post_content_length",
            "min": 0,
            "max": 200,
            "step": 10,
            "default": 100,
            "label": "Max post content length (words)"
        },
        {
            "type": "text",
            "id": "customization_class",
            "label": "Customization class"
        },
        {
            "type": "header",
            "content": "User manual"
        },
        {
            "type": "paragraph",
            "content": "[Content](https:\/\/mpthemes.net\/shella-shopify-theme\/documentation-version4\/doc05-02-other-blogs-content.php)"
        },
        {
            "type": "header",
            "content": "Sidebar"
        },
        {
            "type": "paragraph",
            "content": "Positioning and visibility settings are in the Theme settings -> Blog & Article Pages"
        },
        {
            "type": "paragraph",
            "content": "Click '+ Add block' to add content for SIDEBAR"
        }
    ],
    "blocks": [
        {
            "type": "categories",
            "name": "Sidebar Categories",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "CATEGORIES"
                },
                {
                    "type": "link_list",
                    "id": "menu",
                    "label": "Menu"
                },
                {
                    "type": "checkbox",
                    "id": "show_border",
                    "label": "Show border",
                    "default": true
                },
                {
                    "type": "header",
                    "content": "User manual"
                },
                {
                    "type": "paragraph",
                    "content": "[Sidebar](https:\/\/mpthemes.net\/shella-shopify-theme\/documentation-version4\/doc05-03-other-blogs-sidebar.php#blog-sidebar)"
                }
            ]
        },
        {
            "type": "tags",
            "name": "Sidebar Tags",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "TAGS"
                },
                {
                    "type": "checkbox",
                    "id": "show_border",
                    "label": "Show border",
                    "default": true
                }
            ]
        },
        {
            "type": "recents",
            "name": "Sidebar Recent posts",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "RECENT POSTS"
                },
                {
                    "type": "link_list",
                    "id": "menu",
                    "label": "Menu"
                },
                {
                    "type": "checkbox",
                    "id": "show_border",
                    "label": "Show border",
                    "default": true
                }
            ]
        },
        {
            "type": "html",
            "name": "Sidebar HTML",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "ABOUT"
                },
                {
                    "type": "page",
                    "id": "page_content",
                    "label": "Page content",
                    "info": "Default page: 'Include Blog Sidebar'"
                },
                {
                    "type": "checkbox",
                    "id": "show_border",
                    "label": "Show border",
                    "default": true
                }
            ]
        },
        {
            "type": "subscription",
            "name": "Sidebar Subscription",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "NEWSLETTER SUBSCRIPTION"
                },
                {
                    "type": "checkbox",
                    "id": "show_border",
                    "label": "Show border",
                    "default": false
                },
                {
                    "type": "text",
                    "id": "paragraph",
                    "label": "Paragraph",
                    "default": "Sign up for Shella updates to receive information about new arrivals, future events and specials."
                },
                {
                    "type": "text",
                    "id": "button_text",
                    "label": "Button text",
                    "default": "SUBSCRIBE!"
                },
                {
                    "type": "text",
                    "id": "placeholder",
                    "label": "Placeholder",
                    "default": "Enter your email address"
                }
            ]
        }
    ]
}
{% endschema %}