{% include 'global-variables' %}
<div class="page">
  <div class="container mt-30{% if offset_pages_margin_top_d > 0 %} mt-lg-{{ offset_pages_margin_top_d }}{% endif %}">
    {%- if section.settings.show_title -%}
      <h1 class="page__title text-center">
        {%- if settings.language_enable and page.title contains '|' -%}
            <span class="lang1">{{ page.title | split: '|' | first }}</span>
            <span class="lang2">{{ page.title | split: '|' | last }}</span>
        {%- else -%}
            {{ page.title }}
        {%- endif -%}
      </h1>
    {%- endif -%}
    {%- if section.settings.show_content -%}
      <div class="rte mb-50{% if offset_pages_margin_bottom_d > 0 %} mb-lg-{{ offset_pages_margin_bottom_d }}{% endif %}">
        {% include 'parse-for-icons' content: page.content %}
      </div>
    {%- endif -%}
  </div>
</div>


{% schema %}
{
  "name": "Page",
  "settings": [
    {
        "type": "checkbox",
        "id": "show_title",
        "label": "Show title",
        "default": true
    },
    {
        "type": "checkbox",
        "id": "show_content",
        "label": "Show content",
        "default": true
    }
  ]
}
{% endschema %}