<div data-section-id="{{ section.id }}" data-section-type="main-password-page-content">
    <div class="password-page-content py-100">
        <div class="row align-items-md-center">
            <div class="col-12{% if section.settings.image != blank %} col-md-6 col-lg-5 col-xl-4{% else %} d-flex justify-content-center{% endif %} align-items-center">
                <div>
                    <div class="password-page-content__subscription{% if section.settings.image != blank %} password-page-content__subscription--width-limit{% endif %}">
                        {% form 'customer', class: 'w-100' %}
                            {%- unless form.posted_successfully? -%}
                                {%- if section.settings.subscription_title -%}
                                    <h4 class="h3 mb-15 text-center{% if section.settings.image != blank %} text-lg-left{% endif %}">{{ section.settings.subscription_title }}</h4>
                                {%- endif -%}
                                {% if shop.password_message != blank %}
                                    <p class="text-center{% if section.settings.image != blank %} text-lg-left{% endif %}">{{ shop.password_message }}</p>
                                {%- elsif section.settings.subscription_paragraph -%}
                                    <p class="text-center{% if section.settings.image != blank %} text-lg-left{% endif %}">{{ section.settings.subscription_paragraph }}</p>
                                {%- endif -%}
                                <div class="d-flex flex-column mt-35 mb-15">
                                    <input type="hidden" name="contact[tags]" value="prospect, password page" required="required">
                                    <input type="email"
                                           name="contact[email]"
                                           class="mb-0"
                                           id="Email"
                                           spellcheck="false"
                                           autocomplete="off"
                                           autocapitalize="off"
                                           placeholder="{{ section.settings.subscription_placeholder }}">
                                    <button type="submit" name="commit" class="btn btn--secondary mt-10">{{ section.settings.subscription_button_text }}</button>
                                </div>
                            {%- endunless -%}
                            {% include 'form-get-message' %}
                        {% endform %}
                    </div>
                    {%- assign selected_blocks = section.blocks | where: 'type', 'social_media' -%}
                    {%- for block in selected_blocks -%}
                        <div class="password-page-content__social-media{% if section.settings.image == blank %} d-md-flex justify-content-md-center ml-md-10{% endif %} mt-35">
                            {% render 'social-media' with block: block type: 'row' %}
                        </div>
                    {%- endfor -%}
                </div>
            </div>
            {%- if section.settings.image != blank -%}
                <div class="d-none d-md-flex col-12 col-md-6 offset-lg-1 offset-xl-2 justify-content-md-end">
                    <div class="password-page-content__image w-100">
                        {% render 'rimage' with image: section.settings.image size: '700x' format: 'pjpg' image_class: 'w-100' disable_lazyload: true %}
                    </div>
                </div>
            {%- endif -%}
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Content",
    "settings": [
        {
            "type": "header",
            "content": "Subscription"
        },
        {
            "type": "text",
            "id": "subscription_title",
            "label": "Title",
            "default": "Our new website will be available soon"
        },
        {
            "type": "text",
            "id": "subscription_paragraph",
            "label": "Paragraph",
            "default": "Be the first to know when website is ready",
            "info": "Disabled if field 'Message for your visitors' in 'Password protection' is not empty"
        },
        {
            "type": "text",
            "id": "subscription_placeholder",
            "label": "Placeholder",
            "default": "Enter please your email address"
        },
        {
            "type": "text",
            "id": "subscription_button_text",
            "label": "Button text",
            "default": "SUBSCRIBE!"
        },
        {
            "type": "header",
            "content": "Banner"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        }
    ],
    "blocks": [
        {
            "type": "social_media",
            "name": "Social media",
            "limit": 1,
            "settings": [
                {
                    "type": "checkbox",
                    "id": "show_facebook",
                    "label": "Show facebook",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "show_twitter",
                    "label": "Show twitter",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "show_instagram",
                    "label": "Show instagram",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "show_pinterest",
                    "label": "Show pinterest",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "show_youtube",
                    "label": "Show youtube",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "show_behance",
                    "label": "Show behance",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "show_skype",
                    "label": "Show skype",
                    "default": true
                }
            ]
        }
    ]
}
{% endschema %}