<div data-section-id="{{ section.id }}" data-section-type="search-form"{% render 'layout-get-container-class' custom_class: 'd-block' %}>
    <div class="search-form py-55 text-center">
        {%- if section.settings.title != blank -%}
            <h3 class="search-form__title mb-10">{{ section.settings.title }}</h3>
        {%- endif -%}
        {%- if section.settings.paragraph != blank -%}
            <p class="search-form__paragraph mb-15">{{ section.settings.paragraph }}</p>
        {%- endif -%}
        <div class="search-form__form px-10 mx-auto">
            {% case section.settings.type %}
            {% when '1' %}
                <form action="{{ routes.search_url }}" method="get" role="search" class="mb-0">
                    <label class="position-relative d-flex align-items-center mr-0">
                        <input type="search"
                               class="pl-20 pr-40 mb-0"
                               name="q"
                               value="{{ search.terms | escape }}"
                               placeholder="{{ section.settings.placeholder }}">
                        <input type="hidden" name="options[prefix]" value="last" />
                        <i class="position-absolute right-0 mr-15">
                            {% render 'icon-theme-168' %}
                        </i>
                    </label>
                </form>
            {% when '2' %}
                <form action="{{ routes.search_url }}" method="get" role="search" class="mb-0">
                    <div class="d-flex">
                        <input type="search"
                               class="mb-0 mr-15"
                               name="q"
                               value="{{ search.terms | escape }}"
                               placeholder="{{ section.settings.placeholder }}">
                        <input type="hidden" name="options[prefix]" value="last" />
                        <button type="submit" class="btn btn-invert">{{ section.settings.button_text }}</button>
                    </div>
                </form>
            {% endcase %}
        </div>
    </div>
</div>


{% schema %}
{
"name": "Search form",
"settings": [
{
"type": "select",
"id": "container",
"label": "Content width",
"default": "fullwidth",
"options": [
{
"value": "fullwidth",
"label": "Fullwidth"
},
{
"value": "boxed",
"label": "Boxed"
}
]
},
{
"type": "header",
"content": "Content"
},
{
"type": "text",
"id": "title",
"label": "Title",
"default": "SEARCH OUR SHOP"
},
{
"type": "text",
"id": "paragraph",
"label": "Paragraph",
"default": "We've got tons of great products."
},
{
"type": "select",
"id": "type",
"label": "Search design type",
"default": "1",
"options": [
{
"value": "1",
"label": "Type #1"
},
{
"value": "2",
"label": "Type #2"
}
]
},
{
"type": "text",
"id": "placeholder",
"label": "Placeholder",
"default": "Search Products..."
},
{
"type": "text",
"id": "button_text",
"label": "Button text",
"default": "Search"
},
{
"type": "header",
"content": "Video manual"
},
{
"type": "paragraph",
"content": "[Home sections](https:\/\/www.youtube.com\/watch?v=QQ6wFwBts4k&list=PLj-506KaR_vcQjwcpC6yII-1JY0bSj7df&index=9)"
},
{
"type": "header",
"content": "User manual"
},
{
"type": "paragraph",
"content": "[Search Form](https:\/\/mpthemes.net\/shella-shopify-theme\/documentation-version4\/doc02-08-home-search-form.php#search-form)"
}
],
"presets": [
{
"name": "Search form",
"category": "3) Static content"
}
]
}
{% endschema %}